<head>
  <link rel="stylesheet" href="/css/input.css">
</head>
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="px-5 ms-xl-4">
          
        </div>
        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form method="POST" action="/admin" style="width: 23rem;"  onsubmit="return test()">
            
            {{!-- <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"><i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i><b>Đăng nhập</b></h3> --}}
            <a href="/admin/logout">
              <div class="h3 fw-bold mt-5" style="color: rgb(0, 140, 140);"><img src="/img/logo.png" width="100px" alt=""> Đăng nhập</div>
            </a>
            <div class="row">
              <span class="form-outline">
                <input type="email" name="email" id="form2Example18" class="form-control form-control-lg gate" placeholder="Nhập vào email của bạn . . ." onblur="return t1()" required/>
                <label class="form-label" for="form2Example18">Email <span id="email"></span></label>
              </span>

              <span class="form-outline">
                <input type="password" name="password" id="form2Example28" class="form-control form-control-lg gate" placeholder="Nhập vào mật khẩu của bạn . . ." onblur="return t2()" required/>
                <label class="form-label" for="form2Example28">Mật khẩu <p id="mk"></p></label>
              </span>
            </div>

            <div class="mt-5 mb-4 text-center">
              <button class="btn btn-info btn-lg btn-block" type="submit" value="Submit" id="submit">Đăng nhập</button>
              <div> <a href="/admin/quen-mat-khau" class="btn btn-link box-shadow-0 px-0" style="color: rgb(0, 140, 140);" onMouseOver="this.style.color='#0F0'" onMouseOut="this.style.color='rgb(0, 140, 140)'">Quên mật khẩu?</a> </div>
            </div>
          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://dulichfun.com/wp-content/uploads/2020/05/Kinh-nghiem-du-lich-Can-Tho-09.jpg"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>
<script>
		function test(){
			var check=true;
			if(document.getElementById("form2Example18").value==""){
				document.getElementById("email").innerHTML="Bạn phải nhập email!";
				document.getElementById("email").style.color="red";
				check=false;
			}
			 if(document.getElementById("form2Example28").value==""){
				document.getElementById("mk").innerHTML="Bạn phải nhập mật khẩu!";
				document.getElementById("mk").style.color="red";
				check=false;
			}
			return check;
		}

		function t1(){
			var email= document.getElementById("form2Example18").value;
			if(email!=""){
				document.getElementById("email").innerHTML = "";
				return true;
			}
		}
		function t2(){
			var mk= document.getElementById("form2Example28").value;
			if(mk!=""){
				document.getElementById("mk").innerHTML = "";
				return true;
			}
      if
		}
</script>
<script>
  $('form').on('submit',makeRequest);
      function makeRequest(e){
        e.preventDefault();
        $.ajax({
          url:'//localhost:3000/admins/login',
          type : 'POST',
          success: function(data){
            $('#mk').html('<span class="alert alert-danger">'+data.message+'</span>');
          }
      });
    }
</script>