<div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
            {{>admin}}
            <div id="filter">
                  <!-- Begin Page Content -->
                  <div class="container-fluid" id="demo">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                              <h1 class="h3 mb-0 text-gray-800">Quản lý Thùng Rác</h1>
                              {{!-- <div style="float: right;">
                                    <a class="nav-link" href="/admin/quan-ly-tour/thung-rac" id="alertsDropdown" role="button" aria-expanded="false">
                                          <img style="float: right;" src="https://img.icons8.com/avantgarde/512/delete.png" width="40px" alt="">
                                          <span class="badge badge-danger badge-counter">{{deletedCount}}</span>
                                    </a>
                              </div> --}}
                        </div>
                        
                        <div class="row container mt-4">
                              <div class="col-sm-6 col-lg-3 py-3 text-center">
                                    <a href="/admin/quan-ly-dia-diem/thung-rac">
                                          <img src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/512/external-folder-seo-and-marketing-xnimrodx-lineal-color-xnimrodx.png" width="150px" alt="">
                                          <p style="font-size: 25px;">Địa điểm</p>
                                    </a>
                              </div>
                              <div class="col-sm-6 col-lg-3 py-3 text-center">
                                    <a href="/admin/quan-ly-am-thuc/thung-rac">
                                          <img src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/512/external-folder-seo-and-marketing-xnimrodx-lineal-color-xnimrodx.png" width="150px" alt="">
                                          <p style="font-size: 25px;">Ẩm thực</p>
                                    </a>
                              </div>
                              <div class="col-sm-6 col-lg-3 py-3 text-center">
                                    <a href="/admin/quan-ly-tour/thung-rac">
                                          <img src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/512/external-folder-seo-and-marketing-xnimrodx-lineal-color-xnimrodx.png" width="150px" alt="">
                                          <p style="font-size: 25px;">Tour</p>
                                    </a>
                              </div>
                              <div class="col-sm-6 col-lg-3 py-3 text-center">
                                    <a href="/admin/quan-ly-dat-tour/thung-rac">
                                          <img src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/512/external-folder-seo-and-marketing-xnimrodx-lineal-color-xnimrodx.png" width="150px" alt="">
                                          <p style="font-size: 25px;">Đặt tour</p>
                                    </a>
                              </div>
                              <div class="col-sm-6 col-lg-3 py-3 text-center">
                                    <a href="/admin/quan-ly-tin-tuc/thung-rac">
                                          <img src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/512/external-folder-seo-and-marketing-xnimrodx-lineal-color-xnimrodx.png" width="150px" alt="">
                                          <p style="font-size: 25px;">Tin tức</p>
                                    </a>
                              </div>
                              <div class="col-sm-6 col-lg-3 py-3 text-center">
                                    <a href="/admin/quan-ly-khach-san/thung-rac">
                                          <img src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/512/external-folder-seo-and-marketing-xnimrodx-lineal-color-xnimrodx.png" width="150px" alt="">
                                          <p style="font-size: 25px;">Khách sạn</p>
                                    </a>
                              </div>
                              <div class="col-sm-6 col-lg-3 py-3 text-center">
                                    <a href="/admin/quan-ly-comment/thung-rac">
                                          <img src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/512/external-folder-seo-and-marketing-xnimrodx-lineal-color-xnimrodx.png" width="150px" alt="">
                                          <p style="font-size: 25px;">Comment</p>
                                    </a>
                              </div>
                        </div>
                        
                  </div>

            </div>
      </div>
      <!-- End of Page Wrapper -->
      <!-- End of Content Wrapper -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                        <span>Copyright &copy;2022</span>
                  </div>
            </div>
      </footer>
      <!-- End of Footer -->

      </div>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level custom scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
