{{>header}}
<div style="background-image: url('https://media.mia.vn/uploads/blog-du-lich/top-3-khach-san-can-tho-5-sao-sang-chanh-nhat-hien-nay-4-1667250318.jpg')" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph">
      <b>NƠI Ở</b>
      <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/512/external-hotel-hotel-services-and-city-elements-flatart-icons-lineal-color-flatarticons-1.png" alt="">
      <img style="width: 50px; height: 50px;" src="https://img.icons8.com/fluency/512/hotel-check-in.png" alt="">
    </h1>
    <hr>
    <div style="text-align: center; color:darkgrey; line-height: 0px;">
        <p>Ở đâu tại</p>
        <h3 style="font-size: 35px;"><b>CẦN THƠ</b></h3>
    </div>
    <div class="p-2">
        <div class="row">
            {{#each khachsans}}
            <div class="col-sm-6 col-lg-4 py-3">
                <div class="card img-fluid zoomin khachsan">
                    <a href="/khach-san/{{this.slug}}">
                        <img style="height: 420px;" class="card-img-top" src="{{this.image}}"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title p-1 text-center"><b>{{this.title}}</b></h5>
                        </div>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{>footer}}