{{>header}}
<div style="background-image: url('https://thumbs.dreamstime.com/z/sos-text-marble-colored-wall-vector-illustration-abstract-stone-orange-black-background-grunge-181826936.jpg');" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph pt-1">
        <b>ATM</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/emoji/512/telephone-receiver.png" alt="">
        
    </h1>
    <table class="table table-striped">
        <thead>
            <th>STT</th>
            <th>TÊN ATM</th>
            <th>ĐỊA CHỈ</th>
        </thead>
        <tbody>
            <tr><th colspan="3">SACOMBANK</th></tr>
            <tr>
                <th>1</th>
                <td>ATM Sacombank - PGD Ô Môn</td>
                <td><a href="https://goo.gl/maps/Ee83Vt83t3jLrC769" target="_blank">953/6 đường 26/03, P.Châu Văn Liêm, Tp.Cần Thơ, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>2</th>
                <td>ATM Sacombank - UBND H.Thới Lai</td>
                <td><a href="https://goo.gl/maps/HqbMiKeBbVaSXyDp7" target="_blank">UBND Huyện Thới Lai, Tp.Cần Thơ, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>3</th>
                <td>ATM Sacombank - UBND Quận Thốt Nốt</td>
                <td><a href="https://goo.gl/maps/R8JvYCQt3CGZ9eKTA" target="_blank">Ql 91, kv Phụng Thạnh 1, p Thốt Nốt, q. Thốt Nốt, Tp. Cần Thơ, Tp.Cần Thơ, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>4</th>
                <td>ATM Sacombank - PGD Thốt Nốt</td>
                <td><a href="https://goo.gl/maps/WomGq2Yuz6Tkbtok6" target="_blank">314 QL 91, Ấp Long Thành, TT Thốt Nốt, Tp.Cần Thơ, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>5</th>
                <td>ATM Sacombank Co Do</td>
                <td><a href="https://goo.gl/maps/oGW497Rreu4LXoQ19" target="_blank">3CVJ+4CF, TT. Cờ Đỏ, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>6</th>
                <td>ATM Sacombank - PGD Vĩnh Thạnh</td>
                <td><a href="https://goo.gl/maps/GWJX5okiQP7zfhPd9" target="_blank">1315B-1315C Ấp Vĩnh Quới, TT Vĩnh Thạnh, H Vĩnh Thạnh, Cần Thơ, Tp.Cần Thơ, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>7</th>
                <td>Sacombank Atm</td>
                <td><a href="https://goo.gl/maps/yEqSfspuw4GW6HG89" target="_blank">363AA Đ. Nguyễn Văn Cừ, An Bình, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>8</th>
                <td>Sacombank - Atm</td>
                <td><a href="https://goo.gl/maps/1rTdXfVZ4ZPi6t4T7" target="_blank">234 Trần Hưng Đạo, P. Mỹ Thới, Thành phố Long Xuyên, An Giang, Việt Nam</a></td>
            </tr>
            <tr>
                <th>9</th>
                <td>ATM Sacombank</td>
                <td><a href="https://goo.gl/maps/5PoiKTnWgEK2T8ao6" target="_blank">Võ Văn Tần, Tân An, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>10</th>
                <td>ATM Sacombank - PGD Cái Răng</td>
                <td><a href="https://goo.gl/maps/zQLVuFZq755Letma8" target="_blank">415-418 QL1A, KV Yên Hạ, Tp.Cần Thơ, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr><th colspan="3">AGRIBANK</th></tr>
            <tr>
                <th>1</th>
                <td>Agribank - Atm</td>
                <td><a href="https://goo.gl/maps/ud8Wmb1QSTnYckxp7" target="_blank">8 Đ. Nam Kỳ Khởi Nghĩa, Tân An, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>2</th>
                <td>Agribank - ATM</td>
                <td><a href="https://goo.gl/maps/i8L622MZeeDtLtaa8" target="_blank">93 Ba Tháng Hai, An Bình, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>3</th>
                <td>ATM Agribank</td>
                <td><a href="https://goo.gl/maps/cbHtM5yYyPV42pmr7" target="_blank">3 Phan Đình Phùng, Tân An, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>4</th>
                <td>Agribank</td>
                <td><a href="https://goo.gl/maps/p81QCARtkc4B1NRJ7" target="_blank">90 Đ. Lý Tự Trọng, An Cư, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>5</th>
                <td>ATM Agribank</td>
                <td><a href="https://goo.gl/maps/Hi1cC7os78m2RpGG6" target="_blank">01 Đường Hai Bà Trưng, Tân An, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>6</th>
                <td>Agribank - Atm</td>
                <td><a href="https://goo.gl/maps/yvDJLaNuAMjz6HrcA" target="_blank">49 Lê Hồng Phong, Trà Nóc, Bình Thủy, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>7</th>
                <td>ATM Agribank - Cai Rang</td>
                <td><a href="https://goo.gl/maps/SmX3GzGVva5B1BHF6" target="_blank">106/4, Vo Tanh Street, Le Binh Ward, Cai Rang District, Lê Bình, Cái Răng, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>8</th>
                <td>Agribank - Atm</td>
                <td><a href="https://goo.gl/maps/d99awU7R3U7n5Tzw5" target="_blank">3MX7+6M3, QL91, Phước Thới, Ô Môn, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>9</th>
                <td>ATM Agribank - Thới Lai</td>
                <td><a href="https://goo.gl/maps/mR73MdYo6sQgZZSp7" target="_blank">3H87+W2Q, Ấp Thới Thuận B, Thới Lai, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>10</th>
                <td>Agribank - Atm</td>
                <td><a href="https://goo.gl/maps/TGUvMizUiMVegRXT8" target="_blank">48 Đường Trần Hưng Đạo, Châu Văn Liêm, Ô Môn, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr><th colspan="3">VIETCOMNANK</th></tr>
            <tr>
                <th>1</th>
                <td>ATM Vietcombank</td>
                <td><a href="https://goo.gl/maps/6Nt6b1F3EZgDtJGh8" target="_blank">68 Đ.Lê Đức Thọ, Đông Thắng, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ngân Hàng Tmcp Ngoại Thương Việt Nam - Vietcombank</td>
                <td><a href="https://goo.gl/maps/jvKxbL9CRLXnjxf48" target="_blank">957 Đường 26 Tháng 3, Châu Văn Liêm, Ô Môn, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>3</th>
                <td>ATM Vietcombank</td>
                <td><a href="https://goo.gl/maps/YQS6LGy8MjytDn7N6" target="_blank">XMWG+7R3, Thị trấn Phong Điền, Phong Điền, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>4</th>
                <td>vietcombank</td>
                <td><a href="https://goo.gl/maps/D54986LLUeuL78cs8" target="_blank">XMX8+9H9, Thị trấn Phong Điền, Phong Điền, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>5</th>
                <td>Vietcombank - Atm</td>
                <td><a href="https://goo.gl/maps/UsYwWFVwqfaxC9yH9" target="_blank">4P36+X83, Đường Trục Chính, Trà Nóc, Bình Thủy, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>6</th>
                <td>Vietcombank - Atm</td>
                <td><a href="https://goo.gl/maps/wYPHz9H97QBUygde8" target="_blank">525 QL91, TT. Thốt Nốt, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>7</th>
                <td>Vietcombank - Atm</td>
                <td><a href="https://goo.gl/maps/do2rWkr4GdSPNx3e9" target="_blank">414 Quốc Lộ 1A, Lê Bình, Cái Răng, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>8</th>
                <td>Vietcombank - Atm</td>
                <td><a href="https://goo.gl/maps/D9BRNt763rGvT2p99" target="_blank">49 Trần Văn Khéo, An Hội, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>9</th>
                <td>ATM Vietcombank - Bệnh Viện Đa Khoa Trung Ương</td>
                <td><a href="https://goo.gl/maps/CgboSEyJxMXRjERW9" target="_blank">351, Đại lộ Nguyễn Văn Linh, Phường An Khánh, Quận Ninh Kiều, Phường An Khánh, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>10</th>
                <td>ATM Vietcombank</td>
                <td><a href="https://goo.gl/maps/QdCuCtuwcmhPvZ8u8" target="_blank">612 Đ. 30 Tháng 4, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr><th colspan="3">VIETTINBANK</th></tr>
            <tr>
                <th>1</th>
                <td>Vietinbank - Atm</td>
                <td><a href="https://goo.gl/maps/69K88FmoQmJGzfat5" target="_blank">12 Nguyễn Trãi, An Hội, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>2</th>
                <td>ATM Vietinbank</td>
                <td><a href="https://goo.gl/maps/d8FgqbVDAgvgQEXd8" target="_blank">168 Ba Tháng Hai, Xuân Khánh, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>3</th>
                <td>ATM Vietinbank - Công An TP Cần Thơ</td>
                <td><a href="https://goo.gl/maps/9kcN4wC6YpwrCJjcA" target="_blank">Đường Hùng Vương, An Cư, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>4</th>
                <td>ATM Vietinbank</td>
                <td><a href="https://goo.gl/maps/bKnA6xEPdvqJbnJY9" target="_blank">344 Đ. Cách Mạng Tháng 8, Bùi Hữu Nghĩa, Bình Thủy, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>5</th>
                <td>Vietinbank - Atm</td>
                <td><a href="https://goo.gl/maps/7UJevwrijSni469p9" target="_blank">468 Đ. Cách Mạng Tháng 8, Bùi Hữu Nghĩa, Bình Thủy, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>6</th>
                <td>ATM Vietinbank</td>
                <td><a href="https://goo.gl/maps/SrCGvf8TMGeNAHSN7" target="_blank">2QF6+F7X, QL91B, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>7</th>
                <td>Vietinbank - Atm</td>
                <td><a href="https://goo.gl/maps/w2z9L8k9zircxNsLA" target="_blank">4P27+3F5, Lê Hồng Phong, Trà Nóc, Bình Thủy, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>8</th>
                <td>ATM Viettinbank</td>
                <td><a href="https://goo.gl/maps/mzbZoR68rE6MNKWL8" target="_blank">2QH3+MRC, Phường An Khánh, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>9</th>
                <td>ATM Vietinbank</td>
                <td><a href="https://goo.gl/maps/sFzSaDoz7tL8GMkGA" target="_blank">278 QL1A, Lê Bình, Cái Răng, Lê Bình Cái Răng Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>10</th>
                <td>ATM Vietinbank - An Khang Exports Co., Ltd</td>
                <td><a href="https://goo.gl/maps/QktAyf561PLowRmy5" target="_blank">Block 2-9A2, Tra Noc II Industrial Zone, Truc Chinh Street, Phuoc Thoi Ward, O Mon District, Trà Nóc, Bình Thủy, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr><th colspan="3">MSB</th></tr>
            <tr>
                <th>1</th>
                <td>MSB An Thới</td>
                <td><a href="https://goo.gl/maps/h3Tv3DVAckTnEeqe7" target="_blank">304 Đ. Cách Mạng Tháng 8, Bùi Hữu Nghĩa, Bình Thủy, Cần Thơ 900000, Việt Nam</a></td>
            </tr>
            <tr>
                <th>2</th>
                <td>MSB Cần Thơ</td>
                <td><a href="https://goo.gl/maps/S8TW4EG3fzHSCFco6" target="_blank">44-46 Đường Nguyễn An Ninh, Tân An, Ninh Kiều, Cần Thơ 900000, Việt Nam</a></td>
            </tr>
            <tr>
                <th>3</th>
                <td>MSB Hưng Lợi</td>
                <td><a href="https://goo.gl/maps/YsJT37JznAfgk5WE9" target="_blank">Số 188A, đường 3/2, Phường Hưng Lợi, Ninh Kiều, Cần Thơ 900000, Việt Nam</a></td>
            </tr>
            <tr><th colspan="3">BIDV</th></tr>
            <tr>
                <th>1</th>
                <td>ATM BIDV - Uỷ Ban Nhân Dân Phường Hưng Lợi</td>
                <td><a href="https://goo.gl/maps/fFXzXpotZkTbAeKV7" target="_blank">190, Đường 30/4, Phường Hưng Lợi, Quận Ninh Kiều, 536 Đ. 30 Tháng 4, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>2</th>
                <td>Bidv - Atm</td>
                <td><a href="https://goo.gl/maps/BzkwUasXcW9S5cQi8" target="_blank">12 Đại lộ Hoà Bình, Tân An, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>3</th>
                <td>Bidv - Atm</td>
                <td><a href="https://goo.gl/maps/LUAyzUj9yqSuo2Dm7" target="_blank">315 Đ. Nguyễn Văn Linh, Phường An Khánh, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>4</th>
                <td>Bidv - Atm</td>
                <td><a href="https://goo.gl/maps/UcdFM6fxChCvu7QE8" target="_blank">26 Đường Tôn Thất Tùng, Cái Khế, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>5</th>
                <td>Bidv - Atm</td>
                <td><a href="https://goo.gl/maps/mujzk4P7EqcGFaHc7" target="_blank">29 Đường Nguyễn An Ninh, Tân An, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>6</th>
                <td>Bidv - Máy Pos - Atm</td>
                <td><a href="https://goo.gl/maps/royHHdLqwav3eMnHA" target="_blank">4 Đường Hai Bà Trưng, Tân An, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>7</th>
                <td>Bidv Atm</td>
                <td><a href="https://goo.gl/maps/a6Nxs7u1NS1kbXdr8" target="_blank">Trà Nóc, Bình Thủy, Cần Thơ, Việt Nam</a></td>
            </tr>
            <tr>
                <th>8</th>
                <td>Bidv - Atm</td>
                <td><a href="https://goo.gl/maps/XnFTdzyhQPRtXpKD7" target="_blank">4J5F+PRC, QL91, Châu Văn Liêm, Ô Môn, Cần Thơ, Việt Nam</a></td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>
{{>footer}}