{{>header}}
<div style="background-image: url('https://thumbs.dreamstime.com/z/sos-text-marble-colored-wall-vector-illustration-abstract-stone-orange-black-background-grunge-181826936.jpg');" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph pt-1">
        <b>BẾN XE</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/emoji/512/telephone-receiver.png" alt="">
        
    </h1>
    <hr>
    <div>
        <table class="table table-striped">
            <thead>
                <th>TT</th>
                <th>Tên bến xe</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Bến Xe Khách Trung Tâm Thành Phố Cần Thơ</td>
                    <td>02923.82.14.62.</td>
                    <td><a href="https://goo.gl/maps/1aEC3BsFySb4fiwE7" target="_blank">91B, đường Nguyễn Văn Linh, phường Hưng Lợi, quận Ninh Kiều, thành phố Cần Thơ.</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Nhà xe Thành Bưởi Cần Thơ</td>
                    <td>19001026</td>
                    <td><a href="https://goo.gl/maps/cHkYcdj2pXq2gHKn6" target="_blank" rel="noopener noreferrer">Bến Xe Khách Trung Tâm, Hưng Thành, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Bến Xe Phương Trang Cần Thơ</td>
                    <td>19006919</td>
                    <td><a href="https://goo.gl/maps/b1Ps7CWW3asUxQNS7" target="_blank" rel="noopener noreferrer">2Q4C+6XV, Đường dẫn cầu Cần Thơ, QL1A, Hưng Thành, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Dịch Vụ Vận Tải Trần Thị Huyền</td>
                    <td>1225418572</td>
                    <td><a href="https://goo.gl/maps/5hMnK3o9ysk7odoz7" target="_blank" rel="noopener noreferrer">Hợp Tác Xã Vận Tải Đường Bộ Thành Phố Cần Thơ, Phường An Phú, Quận Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{{>footer}}