{{>header}}
<div style="background-image: url('https://thumbs.dreamstime.com/z/sos-text-marble-colored-wall-vector-illustration-abstract-stone-orange-black-background-grunge-181826936.jpg');" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph pt-1">
        <b>LIÊN HỆ KHẨN CẤP CÔNG AN</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/emoji/512/telephone-receiver.png" alt="">
        
    </h1>
    <table class="table table-striped">
        <thead>
            <th>STT</th>
            <th>TÊN CƠ QUAN</th>
            <th>ĐỊA CHỈ</th>
            <th>SỐ ĐIỆN THOẠI</th>
            <th>THỜI GIAN LÀM VIỆC</th>
        </thead>
        <tbody id="myfilter">
            <tr>
                <td colspan="5">
                <p style="text-align: center; font-weight: bold;"><strong>Công an TP Cần Thơ</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">1</p>
                </td>
                <td>
                <p>Phòng An ninh điều tra</p>
                </td>
                <td>
                <p>9A Trần Phú, phường Cái Khế, quận Ninh Kiều</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">0693.672124</p>
                </td>
                <td rowspan="5">
                <p style="text-align: center; font-weight: bold; padding-top: 100px;">&nbsp;&nbsp;&nbsp; 24/24h</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">2</p>
                </td>
                <td>
                <p>Phòng Cảnh sát điều tra tội phạm về trật tự xã hội</p>
                </td>
                <td>
                <p>9B Trần Phú, phường Cái Khế, quận Ninh Kiều</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">0693.672214</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">3</p>
                </td>
                <td>
                <p>Văn phòng Cơ quan Cảnh sát điều tra</p>
                </td>
                <td rowspan="3" style="padding-top: 70px">
                <p>71 Trần Phú, phường Cái Khế, quận Ninh Kiều</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">0693.672270</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">4</p>
                </td>
                <td>
                <p>Phòng Cảnh sát điều tra tội phạm về ma túy</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">02923.737417</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">5</p>
                </td>
                <td>
                <p>Phòng Cảnh sát điều tra tội phạm về tham nhũng, kinh tế, buôn lậu</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">0693.672215</p>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                <p style="text-align: center; font-weight: bold;"><strong>Công an quận, huyện</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">6</p>
                </td>
                <td>
                <p>Công an quận Ninh Kiều</p>
                </td>
                <td>
                <p>188/1 Nguyễn Văn Cừ, phường An Hòa, quận Ninh Kiều</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">02923.898.542</p>
                </td>
                <td rowspan="9">
                <p style="text-align: center; font-weight: bold; padding-top: 100px;">24/24h</p>

                <p style="text-align: center; font-weight: bold;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">7</p>
                </td>
                <td>
                <p>Công an quận Bình Thủy</p>
                </td>
                <td>
                <p>Đường số 36 khu dân cư Ngân Thuận, phường Bình Thủy, quận Bình Thủy</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">02923.841.574</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">8</p>
                </td>
                <td>
                <p>Công an quận Cái Răng</p>
                </td>
                <td>
                <p>178D Phạm Hùng, phường Lê Bình, quận Cái Răng</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">02923.846969</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">9</p>
                </td>
                <td>
                <p>Công an quận Ô Môn</p>
                </td>
                <td>
                <p>Quốc lộ 91, phường Châu Văn Liêm, quận Ô Môn</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">02923.667816</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">10</p>
                </td>
                <td>
                <p>Công an quận Thốt Nốt</p>
                </td>
                <td>
                <p>270 Quốc lộ 91, phường Thốt Nốt, quận Thốt Nốt</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">02923.851290</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">11</p>
                </td>
                <td>
                <p>Công an huyện Cờ Đỏ</p>
                </td>
                <td>
                <p>68 Lê Đức Thọ, xã Đông Thắng, huyện Cờ Đỏ</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">02923.695387</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">12</p>
                </td>
                <td>
                <p>Công an huyện Thới Lai</p>
                </td>
                <td>
                <p>ĐT 922, xã Tân Thạnh, huyện Thới Lai</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">02923.681005</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">13</p>
                </td>
                <td>
                <p>Công an huyện Vĩnh Thạnh</p>
                </td>
                <td>
                <p>01 Quốc lộ 80, thị trấn Vĩnh Thạnh, huyện Vĩnh Thạnh</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">02926.559888</p>
                </td>
            </tr>
            <tr>
                <td>
                <p style="text-align: center; font-weight: bold;">14</p>
                </td>
                <td>
                <p>Công an huyện Phong Điền</p>
                </td>
                <td>
                <p>ĐT923, thị trấn Phong Điền, huyện Phong Điền</p>
                </td>
                <td>
                <p style="text-align: center; font-weight: bold;">02923.850632</p>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>
{{>footer}}