{{>header}}
<div style="background-image: url('https://thumbs.dreamstime.com/z/sos-text-marble-colored-wall-vector-illustration-abstract-stone-orange-black-background-grunge-181826936.jpg');" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph pt-1">
        <b>LIÊN HỆ KHẨN CẤP</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/emoji/512/telephone-receiver.png" alt="">
        
    </h1>
    <hr>
    <div class="row py-3">
        <div class="col-sm-6 col-lg-3 py-2">
            <div class="card img-fluid zoomin">
                <a href="/tien-ich/y-te">
                    <img style="height: 320px;" class="card-img-top" src="https://img.icons8.com/emoji/512/hospital-emoji.png"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-white title1 text-center p-1">Bệnh Viện</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 py-2">
            <div class="card img-fluid zoomin">
                <a href="/tien-ich/cong-an">
                    <img style="height: 320px;" class="card-img-top" src="https://img.icons8.com/external-flat-icons-inmotus-design/512/external-247-Help-charity-help-flat-icons-inmotus-design.png"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-white title1 text-center p-1">Cơ quan Công An</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 py-2">
            <div class="card img-fluid zoomin">
                <a href="/tien-ich/taxi">
                    <img style="height: 320px;" class="card-img-top" src="https://img.icons8.com/doodle/512/taxi.png"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-white title1 text-center p-1">TAXI</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 py-2">
            <div class="card img-fluid zoomin">
                <a href="/tien-ich/hang-khong">
                    <img style="height: 320px;" class="card-img-top" src="https://img.icons8.com/external-kmg-design-flat-kmg-design/512/external-plane-travel-kmg-design-flat-kmg-design.png"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-white title1 text-center p-1">Hàng Không</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 py-2">
            <div class="card img-fluid zoomin">
                <a href="/tien-ich/thue-xe-may">
                    <img style="height: 320px;" class="card-img-top" src="https://img.icons8.com/external-fill-outline-pongsakorn-tan/512/external-motorcycle-travel-fill-outline-pongsakorn-tan.png"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-white title1 text-center p-1">Thuê Xe Máy</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 py-2">
            <div class="card img-fluid zoomin">
                <a href="/tien-ich/ben-xe">
                    <img style="height: 320px;" class="card-img-top" src="https://img.icons8.com/cute-clipart/512/bus.png"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-white title1 text-center p-1">Bến Xe</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 py-2">
            <div class="card img-fluid zoomin">
                <a href="/tien-ich/tram-xang-dau">
                    <img style="height: 320px;" class="card-img-top" src="https://img.icons8.com/avantgarde/512/gas-station.png"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-white title1 text-center p-1">Trạm Xăng/Dầu</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 py-2">
            <div class="card img-fluid zoomin">
                <a href="/tien-ich/atm">
                    <img style="height: 320px;" class="card-img-top" src="https://img.icons8.com/external-smashingstocks-thin-outline-color-smashing-stocks/512/external-atm-machine-ecommerce-and-delivery-smashingstocks-thin-outline-color-smashing-stocks.png"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-white title1 text-center p-1">ATM</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{{>footer}}