{{>header}}
<div style="background-image: url('https://thumbs.dreamstime.com/z/sos-text-marble-colored-wall-vector-illustration-abstract-stone-orange-black-background-grunge-181826936.jpg');" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph pt-1">
        <b>TAXI</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/emoji/512/telephone-receiver.png" alt="">
        
    </h1>
    <hr>
    <div>
        <table class="table table-striped">
            <thead>
                <th>TT</th>
                <th>Tên</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Taxi Mekong Cần Thơ</td>
                    <td>0292 3 69 69 69</td>
                    <td><a href="https://goo.gl/maps/JuCYWdgGbNK76NNJA" target="_blank">QL1A, Hưng Phú, Cái Răng, Cần Thơ 900000, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Taxi Khánh Cường Cần Thơ</td>
                    <td>0292 3 86 86 86</td>
                    <td><a href="https://goo.gl/maps/jJUkuVzp6QVdccAX8" target="_blank" rel="noopener noreferrer">Khu Dân cư số 9, P. Xuân Khánh, Q. Ninh Kiều, TP. Cần Thơ.</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Taxi Mai Linh Cần Thơ</td>
                    <td>0292 3 65 65 65</td>
                    <td><a href="https://goo.gl/maps/Kvwffraa7BsFW7X98" target="_blank" rel="noopener noreferrer">337 Nguyễn Văn Linh, P. An Khánh, Q. Ninh Kiều, TP. Cần Thơ.</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Taxi Vinasun Cần Thơ</td>
                    <td>0292 38 27 27 27</td>
                    <td>26 Đường Nguyễn Đệ, An Hoà, Ninh Kiều, Cần Thơ</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Taxi Green</td>
                    <td>0292 3 739 739</td>
                    <td><a href="https://goo.gl/maps/fnQSx4xk7R1FeCfcA" target="_blank" rel="noopener noreferrer">60A, Đường 3/2, Phường Hưng Lợi, Quận Ninh Kiều, Cần Thơ</a></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Taxi Thịnh Phát Cần Thơ</td>
                    <td>0292 3 79 79 79</td>
                    <td><a href="https://goo.gl/maps/2iD7u75NHZmvZU1D9" target="_blank" rel="noopener noreferrer">326 Đường 30/4, P. Xuân Khánh, Q. Ninh Kiều, TP. Cần Thơ.</a></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Taxi Cần Thơ 3S</td>
                    <td>02926 552 552</td>
                    <td>147 B3 KV8, P.Hưng Phú, Q.Cái Răng, TP.Cần Thơ.</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{{>footer}}