{{>header}}
<div style="background-image: url('https://thumbs.dreamstime.com/z/sos-text-marble-colored-wall-vector-illustration-abstract-stone-orange-black-background-grunge-181826936.jpg');" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph pt-1">
        <b>THUÊ XE MÁY</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/emoji/512/telephone-receiver.png" alt="">
        
    </h1>
    <hr>
    <div>
        <table class="table table-striped">
            <thead>
                <th>TT</th>
                <th>Tên chỗ thuê</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Cửa Hàng Cho Thuê Xe Máy Cần Thơ - Minh Trí</td>
                    <td>0907338202</td>
                    <td><a href="https://goo.gl/maps/ERNdRTHtTNFH1gVV7" target="_blank">5 Bà Triệu, Tân An, Ninh Kiều, Cần Thơ 900000, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Cho Thuê Xe Máy Cần Thơ</td>
                    <td>0919306402</td>
                    <td><a href="https://goo.gl/maps/gKFSa6euGjko8bmy7" target="_blank" rel="noopener noreferrer">Số 1C, Nguyễn Văn Linh, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>SimpleGo Cần Thơ - Cho Thuê Xe Máy</td>
                    <td>02923888886</td>
                    <td><a href="https://goo.gl/maps/JACGWbh3wHb7t7pY6" target="_blank" rel="noopener noreferrer">2PPV+FJC, Phường An Khánh, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>CECACO THUÊ XE CẦN THƠ</td>
                    <td>0824425995</td>
                    <td><a href="https://goo.gl/maps/PU74zPreENT5rC7a6" target="_blank" rel="noopener noreferrer">2QC6+8PH, Khu dân cư 148, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Dịch Vụ Cho Thuê Xe Máy Hoàng Vũ Cần Thơ 24/24</td>
                    <td>0339396539</td>
                    <td><a href="https://goo.gl/maps/P1bUDYh6ELFFu1wx6" target="_blank" rel="noopener noreferrer">305 Đ. Tú Xương, An Bình, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{>footer}}