{{>header}}
<div style="background-image: url('https://thumbs.dreamstime.com/z/sos-text-marble-colored-wall-vector-illustration-abstract-stone-orange-black-background-grunge-181826936.jpg');" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph pt-1">
        <b>TRẠM XĂNG DẦU</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/emoji/512/telephone-receiver.png" alt="">
        
    </h1>
    <hr>
    <div>
        <table class="table table-striped">
            <thead>
                <th>TT</th>
                <th>Tên trạm</th>
                <th>Địa chỉ</th>
            </thead>
            <tbody id="myfilter">
                <tr><th colspan="3">QUẬN NINH KIỀU</th></tr>
                <tr>
                    <th>1</th>
                    <td>Cửa Hàng Xăng Dầu Số 10 - Petrolimex Cần Thơ</td>
                    <td><a href="https://goo.gl/maps/UBQ3T1CSc3EwjQsN6" target="_blank">79 Ba Tháng Hai, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Trạm Xăng Dầu Sài Gòn Petro (SP Petro) Trần Văn Hoài - 30/4</td>
                    <td><a href="https://goo.gl/maps/BTZQui9C6UU6owgRA" target="_blank">2QFF+RGW, Đ. 30 Tháng 4, Xuân Khánh, Ninh Kiều, Cần Thơ, Việt Nam/a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Trạm Cấp Phát Xăng Dầu Số 3</td>
                    <td><a href="https://goo.gl/maps/31UStuMiUuo2eepb6" target="_blank">369 Đ. Nguyễn Văn Cừ, Phường An Khánh, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Trạm Xăng Dầu Trung Đoàn Cơ Động Tây Nam Bộ</td>
                    <td><a href="https://goo.gl/maps/zoBNszmetEHsSDCY6" target="_blank">345 Đ. Nguyễn Văn Linh, Phường An Khánh, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Cửa hàng Xăng dầu Số 5_Petrolimex Cần Thơ</td>
                    <td><a href="https://goo.gl/maps/R82Ps4XDxyRJKJvr7" target="_blank">24 Nguyễn Trãi, Thới Bình, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Cửa Hàng Xăng Dầu Số 06 - Petrolimex Cần Thơ</td>
                    <td><a href="https://goo.gl/maps/LgVXdwnzKS2WGqs67" target="_blank">2Q62+2HW, Khu vực Lợi Nguyên, An Bình, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Đại Lý Xăng Dầu Hoàng Đua</td>
                    <td><a href="https://goo.gl/maps/gSM4jCuWfbu1842UA" target="_blank">146, Đường 3/2, Quận Ninh Kiều, Tp Cần Thơ, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Cây Xăng Pv Oil</td>
                    <td><a href="https://goo.gl/maps/osKBYBssqZpDzcyz6" target="_blank">172 Ba Tháng Hai, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>SAIGON PETRO- Cửa Hàng Xăng Dầu Số 36</td>
                    <td><a href="https://goo.gl/maps/iKharmbA2XYrPwKV7" target="_blank">91b Đ. Nguyễn Văn Linh, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Cửa Hàng Xăng Dầu 207</td>
                    <td><a href="https://goo.gl/maps/zD8DJrRJSYetBBvPA" target="_blank">58, 3/2 Street, Hung Loi Ward, Ninh Kieu District, Can Tho City, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr><tr>
                    <th>11</th>
                    <td>Cây Xăng Mậu Thân - Công ty xăng dầu Đồng Tháp</td>
                    <td><a href="https://goo.gl/maps/k78iKxrHc5W3g2gQ8" target="_blank">2QJG+66P, Hẻm 95, An Phú, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>12</th>
                    <td>Cây xăng dầu nhà khách Cần Thơ</td>
                    <td><a href="https://goo.gl/maps/wtuzdv59bECha2tm8" target="_blank">2PCR+3MC, An Bình, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>13</th>
                    <td>NSH - trạm cấp phát xăng dầu An Bình</td>
                    <td><a href="https://goo.gl/maps/p98HRdXjfLASx7617" target="_blank">67 Hùng Vương, An Cư, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>14</th>
                    <td>Công Ty Tnhh Mtv Xăng Dầu Bảo Bảo Xăng Dầu 199</td>
                    <td><a href="https://goo.gl/maps/xhsbhgQVQtk6RCc78" target="_blank">532 Đ. 30 Tháng 4, Hưng Lợi, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>15</th>
                    <td>SAIGON PETRO - Cửa Hàng Xăng Dầu Số 8</td>
                    <td><a href="https://goo.gl/maps/e9ztsJGERbRuoFwSA" target="_blank">84 Đ. Mậu Thân, An Hoà, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr><th colspan="3">QUẬN BÌNH THUỶ</th></tr>
                <tr>
                    <th>1</th>
                    <td>Trạm Xăng Dầu - Xưởng 203 - Cục Kỹ Thuật - QK9</td>
                    <td><a href="https://goo.gl/maps/NNRNDRTnBFLayL1o9" target="_blank">203 Lê Hồng Phong, Bình Thuỷ, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Trạm Cấp Phát Xăng Dầu Cục Hậu Cần</td>
                    <td><a href="https://goo.gl/maps/FMgW586kCaxNFmqk7" target="_blank">109, Đường Cách Mạng Tháng 8, Quận Bình Thủy, TP.Cần Thơ, An Thới, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Cửa Hàng Xăng Dầu 201</td>
                    <td><a href="https://goo.gl/maps/pXSsSqDutR152XMa8" target="_blank">3PHV+MJP, Lê Hồng Phong, Bình Thuỷ, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Trạm Xăng Dầu Đại Ngân 2</td>
                    <td><a href="https://goo.gl/maps/XggUn9gJhpDAo3Dz8" target="_blank">3P55+P6R, QL91B, Long Hoà, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Trạm Xăng Dầu - Dntn Hoàng Yến</td>
                    <td><a href="https://goo.gl/maps/xNpSLPM8r4YcMCgF6" target="_blank">308 Bùi Hữu Nghĩa, Long Tuyền, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Cửa Hàng Xăng Dầu Số 39</td>
                    <td><a href="https://goo.gl/maps/Ks3SAZm56eUds4sW7" target="_blank">3P63+4M5, Thới An Đông, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Cửa Hàng Xăng Dầu K34</td>
                    <td><a href="https://goo.gl/maps/CYvsyoNQjDXhDw729" target="_blank">K34, Đường Lê Hồng Phong, Quận Bình Thủy, Phường Trà An, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Trạm Cấp Phát Xăng Dầu Lữ Đoàn 226</td>
                    <td><a href="https://goo.gl/maps/Zzg2egaihPyYUHWw8" target="_blank">83 Lê Hồng Phong, Phường Trà An, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Cửa hàng Xăng Dầu số 3 Petrolimex</td>
                    <td><a href="https://goo.gl/maps/6WNTD3XLQhi35hjXA" target="_blank">248 Đ. Cách Mạng Tháng 8, Bùi Hữu Nghĩa, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Trạm Xăng Dầu Trung Sơn</td>
                    <td><a href="https://goo.gl/maps/cU83NDXUysp6CxAbA" target="_blank">90 Nguyễn Chí Thanh, Trà Nóc, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>11</th>
                    <td>NSH PETRO Bình Thuỷ</td>
                    <td><a href="https://goo.gl/maps/JrPrqxrcGUXPKQgQ9" target="_blank">360 Võ Văn Kiệt, An Thới, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>12</th>
                    <td>Cửa hàng xăng dầu Trà Nóc</td>
                    <td><a href="https://goo.gl/maps/PL7DhhagimDFordk8" target="_blank">4P28+332, Lê Hồng Phong, Trà Nóc, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>13</th>
                    <td>Trạm Xăng Dầu Long Tuyền</td>
                    <td><a href="https://goo.gl/maps/ZuGp37UXMLUhF4e5A" target="_blank">2P8G+2VW, Long Tuyền, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>14</th>
                    <td>Cửa Hàng Xăng Dầu Long Vân</td>
                    <td><a href="https://goo.gl/maps/Ek7TCJE7UcigFpQH6" target="_blank">77 QL91B, Thới An Đông, Bình Thủy, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr><th colspan="3">QUẬN Ô MÔN</th></tr>
                <tr>
                    <th>1</th>
                    <td>Trạm Xăng Dầu Ô Môn - Petimex</td>
                    <td><a href="https://goo.gl/maps/cJ5WaEMQRj9rBFiK7" target="_blank">1370 QL91, Phường Thới Hòa, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Cửa Hàng Xăng Dầu Số 12</td>
                    <td><a href="https://goo.gl/maps/4CUh7JtuG7nYbaGk8" target="_blank">260 QL91, Châu Văn Liêm, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Cửa Hàng Xăng Dầu Phú Xương</td>
                    <td><a href="https://goo.gl/maps/TLTQAfXqtvAJAUN18" target="_blank">11 QL91B, Phước Thới, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>CTY TNHH MTV XĂNG DẦU MINH QUAN</td>
                    <td><a href="https://goo.gl/maps/JuLFKwgkTQsbbrVy9" target="_blank">quan, 146 kv thoi loi, Thới An, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Đại Lý Xăng Dầu Bửu Minh</td>
                    <td><a href="https://goo.gl/maps/HWMUe72ako6vKAoe9" target="_blank">3 QL91, Phước Thới, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>CỬA HÀNG XĂNG DẦU CẦN THƠ SỐ 03</td>
                    <td><a href="https://goo.gl/maps/LTWsW1FQ33uK7rf99" target="_blank">Đường Đường Trần Hưng Đạo, P, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Đại Lý Xăng Dầu Thành Tín 2</td>
                    <td><a href="https://goo.gl/maps/TDH1znN6rDiYHFEt5" target="_blank">4J77+79Q, QL91, Châu Văn Liêm, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>DNTN Xăng Dầu Phú Thơ Số 3</td>
                    <td><a href="https://goo.gl/maps/Fxzry5NQ8eJaA54v6" target="_blank">4JPR+M64, Thới An, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Cửa Hàng Xăng Dầu Số 3 Điện Hiền - Petrolimex</td>
                    <td><a href="https://goo.gl/maps/QKTzT8NzqX7bicP2A" target="_blank">1730 QL91, Phường Long Hưng, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Cửa Hàng Xăng Dầu Số 10</td>
                    <td><a href="https://goo.gl/maps/kJs8i24DjY9aoCiy9" target="_blank">34 QL91, Châu Văn Liêm, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr><th colspan="3">QUẬN CÁI RĂNG</th></tr>
                <tr>
                    <th>1</th>
                    <td>Cửa Hàng Xăng Dầu Quận Cái Răng</td>
                    <td><a href="https://goo.gl/maps/garoZt7npuYQCPW27" target="_blank">63 QL1A, Ba Láng, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Petrolimex Cửa hàng 15</td>
                    <td><a href="https://goo.gl/maps/e7g2t6pVsAumJNUx8" target="_blank">2Q5R+G2M, Khu dân cư Vạn Phong, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Cửa Hàng Xăng Dầu Dương Hùng</td>
                    <td><a href="https://goo.gl/maps/5LVVkHMYbpoDiezr6" target="_blank">96, Khu Vực 2, Quốc Lộ 1A, Phường Ba Láng, Quận Cái Răng, Thành Phố Cần Thơ, Ba Láng, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Cửa hàng Xăng Dầu Chính Giang 01</td>
                    <td><a href="https://goo.gl/maps/FutSreNbVaaY2J5M8" target="_blank">301 Phạm Hùng, Lê Bình, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Cửa Hàng Xăng Dầu Chính Giang 7</td>
                    <td><a href="https://goo.gl/maps/zY1a9AxGKY7mfStE8" target="_blank">XQW4+CQ4, Thường Thạnh, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Doanh Nghiệp Tư Nhân Xăng Dầu Hoàng Yến</td>
                    <td><a href="https://goo.gl/maps/zY1a9AxGKY7mfStE8" target="_blank">XQW4+CQ4, Thường Thạnh, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Cây xăng Hoàng Yến 10</td>
                    <td><a href="https://goo.gl/maps/eXk5f9Uw8y2Lt5588" target="_blank">2R32+23P, Long Thịnh, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Saigon Petro - Cửa hàng Xăng dầu Hoàng Yến</td>
                    <td><a href="https://goo.gl/maps/aNSZ8RB5EJ2zuy9q8" target="_blank">108, KV2 Quốc Lộ 1A, Quận Cái Răng, Ba Láng, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Cửa hàng Xăng Dầu Chính Giang 04</td>
                    <td><a href="https://goo.gl/maps/91fGseT68bKBF6BXA" target="_blank">167/4a Phạm Hùng, Lê Bình, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Cây xăng Thiên Minh</td>
                    <td><a href="https://goo.gl/maps/H2JroC9yjcyXXAYt7" target="_blank">2Q9R+2M7, QL1A, Hưng Phú, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr><th colspan="3">HUYỆN PHONG ĐIỀN</th></tr>
                <tr>
                    <th>1</th>
                    <td>Trạm Cấp Phát Xăng Dầu An Bình</td>
                    <td><a href="https://goo.gl/maps/tXYEmAmTxADEJTak8" target="_blank">2P3C+933, Mỹ Khánh, Phong Điền, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Trạm Xăng Phong</td>
                    <td><a href="https://goo.gl/maps/eTCxZXEKdy6Sebsw7" target="_blank">XPF3+3XW, Nhơn Nghĩa, Phong Điền, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Cửa Hàng Xăng Dầu Phú Thái - Ptoil 09</td>
                    <td><a href="https://goo.gl/maps/VNoN9aQYrtAfRC3v7" target="_blank">XMWG+Q3C, ĐT923, Thị trấn Phong Điền, Phong Điền, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Cửa Hàng Xăng Dầu Số 4</td>
                    <td><a href="https://goo.gl/maps/fS2WNK8y96ZqgudS6" target="_blank">264 Ấp Mỹ Phước, Huyện Phong Điền, Mỹ Khánh, Phong Điền, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>CỬA HÀNG XĂNG DẦU CẦN THƠ SỐ 01</td>
                    <td><a href="https://goo.gl/maps/1A7vVHfpKKdztidM6" target="_blank">2MH2+6P9, Tân Thới, Phong Điền, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Cửa Hàng Xăng Dầu Hoàng Yến Số 6</td>
                    <td><a href="https://goo.gl/maps/76zvbruvi2xNCxQr6" target="_blank">XPP2+WW3, ĐT923, Mỹ Khánh, Phong Điền, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Trạm xăng THANH LONG PHÚC</td>
                    <td><a href="https://goo.gl/maps/onE8aavHiNBZkjtv5" target="_blank">WMXG+8H6, Ấp Nhơn Thuận1, Phong Điền, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Cửa hàng xăng dầu Chính Giang 3</td>
                    <td><a href="https://goo.gl/maps/V4XZ9yFa3twTX9JA7" target="_blank">65 ĐT926, Nhơn ái, Phong Điền, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Cửa Hàng Xăng Dầu Chính Giang 2</td>
                    <td><a href="https://goo.gl/maps/r9SYgJuymaXkXXt46" target="_blank">XMPR+QHC, ĐT923, Mỹ Khánh, Phong Điền, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Cây xăng Dương Hùng</td>
                    <td><a href="https://goo.gl/maps/ox5Gsq4io2sAS7ma6" target="_blank">XPPF+4V3, QL61B, Nhơn Nghĩa, Phong Điền, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr><th colspan="3">HUYỆN VĨNH THẠNH</th></tr>
                <tr>
                    <th>1</th>
                    <td>Trạm Xăng Dầu Lê Hương</td>
                    <td><a href="https://goo.gl/maps/ECbfVDCb9Bh5LZms9" target="_blank">69HV+MW4, QL80, Thị trấn Vĩnh Thạnh, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Trạm Xăng Dầu Cam Thủy 7</td>
                    <td><a href="https://goo.gl/maps/RSsKSYXrq2hRRVEt6" target="_blank">7C4C+VVH, QL80, Thạnh Mỹ, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Trạm Xăng Dầu Hoàng Văn Hùng</td>
                    <td><a href="https://goo.gl/maps/nHSYwzPwhwjwjHNM9" target="_blank">59V6+P45, QL80, Thạnh Tiến, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>CỬA HÀNG XĂNG DẦU SỐ 8 DƯƠNG TRÍ</td>
                    <td><a href="https://goo.gl/maps/SNW2vzGbZjJv4ywo9" target="_blank">69HW+WXM, Thị trấn Vĩnh Thạnh, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Cửa Hàng Xăng Dầu Số 7-PETROLIMEX CẦN THƠ</td>
                    <td><a href="https://goo.gl/maps/WNstXXtJGSzGcmGBA" target="_blank">Ấp Vĩnh Qui, Xã Vĩnh Trinh, huyện Thốt Nốt, Tp. Cần thơ, Vĩnh Trinh, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Đại Lý Xăng Dầu Tám Nhàn</td>
                    <td><a href="https://goo.gl/maps/xByNNE2Z4xvQecd37" target="_blank">6C92+995, ĐT919, Thị trấn Vĩnh Thạnh, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Cửa hàng xăng dầu số 03 - NSHPETRO</td>
                    <td><a href="https://goo.gl/maps/7zufojfkJaBdx7MR8" target="_blank">6C92+8FP, Ấp Vĩnh Lộc, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>DNTN Xăng Dầu Tân Tỵ</td>
                    <td><a href="https://goo.gl/maps/BpJN4cG7yTTANkV27" target="_blank">2605, Quốc Lộ 80, Huyện Vĩnh Thạnh, Vĩnh Trinh, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Cây Xăng Hồng Hào 7</td>
                    <td><a href="https://goo.gl/maps/uQvxBw9Tc4w45Xi39" target="_blank">7FXJ+H9R, Vĩnh Trinh, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Cửa Hàng Xăng Dầu Kim Phúc Liên</td>
                    <td><a href="https://goo.gl/maps/F4YJt3cwHWCzyUz28" target="_blank">Vĩnh Trinh, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr><th colspan="3">HUYỆN CỜ ĐỎ</th></tr>
                <tr>
                    <th>1</th>
                    <td>Trạm xăng dầu cờ đỏ</td>
                    <td><a href="https://goo.gl/maps/gibbStPqLjYMHF9X9" target="_blank">Thới Xuân, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Cửa hàng xăng dầu số 8 - Petrolimex Cần Thơ</td>
                    <td><a href="https://goo.gl/maps/poHtuWMsRPRuieg97" target="_blank">3CMQ+F23, Hà Huy Giáp, TT. Cờ Đỏ, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Cây Xăng NSHPETRO NĂM OAI</td>
                    <td><a href="https://goo.gl/maps/M4odeYDaxq41bd8C6" target="_blank">3CQG+WMM, ĐH32, TT. Cờ Đỏ, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Cửa Hàng Xăng Dầu Cao Đàng</td>
                    <td><a href="https://goo.gl/maps/Ys8oq6tPY4FpGqbbA" target="_blank">3CXJ+XH7, TT. Cờ Đỏ, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Cây xăng Hữu Tâm</td>
                    <td><a href="https://goo.gl/maps/5NAyg9PhfUoeZh556" target="_blank">3GH2+7V5, ĐT922, Đông Hiệp, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>DNTN HỮU TÂM - Cửa Hàng Xăng Dầu Số 3</td>
                    <td><a href="https://goo.gl/maps/qnvAT1RmnQ6LQUEy7" target="_blank">Thới Hưng, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Cây Xăng Petro Tây Đô 22</td>
                    <td><a href="https://goo.gl/maps/gEA7b3NBpkaqUChZ6" target="_blank">3FQ2+X97, Đông Thắng, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Cửa hàng Xăng dầu Thu Hiền</td>
                    <td><a href="https://goo.gl/maps/JwXaCmGVSUeH6V318" target="_blank">4CHX+753, Thạnh Phú, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Cửa Hàng Xăng Dầu Số 07</td>
                    <td><a href="https://goo.gl/maps/z8HWdH9FfiYnyvsg7" target="_blank">3FQ4+P34, ĐT922, Đông Thắng, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Cây Xăng Đông Nam</td>
                    <td><a href="https://goo.gl/maps/va48NwzeARmZqkQ98" target="_blank">3CCW+367, Thới Xuân, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr><th colspan="3">QUẬN THỐT NỐT</th></tr>
                <tr>
                    <th>1</th>
                    <td>Trạm xăng dầu Thốt Nốt</td>
                    <td><a href="https://goo.gl/maps/idmZYJ3c6x5ybB4YA" target="_blank">6H82+JXQ, Thuận Hưng, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Cửa hàng xăng dầu số 14 Petrolimex</td>
                    <td><a href="https://goo.gl/maps/TAirxVWMK2sapz7i6" target="_blank">7G4J+2JC, Trung Nhất, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Cửa Hàng Xăng Dầu Tân Hưng Thốt Nốt</td>
                    <td><a href="https://goo.gl/maps/Taqdbt4qRpsLNNH59" target="_blank">448 QL91, Tân Hưng, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Trạm Xăng Dầu Phụng Thạnh</td>
                    <td><a href="https://goo.gl/maps/CSEEG93SB4XVe4ba9" target="_blank">7G3W+PRR, QL91, Trung Kiên, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Trạm xăng dầu Hoàng Yến Số 8 - Saigon Petro</td>
                    <td><a href="https://goo.gl/maps/7QGfJGFCXJ9c22GR8" target="_blank">779 QL91, Trung Kiên, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>PV Oil Cửa Hàng Xăng Dầu Số 10</td>
                    <td><a href="https://goo.gl/maps/icjG4ZL84VvFNdTZ8" target="_blank">6H84+MQ2, Mai Văn Bộ, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Trạm Xăng Dầu Quân Đội Khu Vực 4</td>
                    <td><a href="https://goo.gl/maps/qfRS9Aq6EM1EJfss5" target="_blank">190 QL91, Thới Thuận, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Trạm Xăng Dầu Trung Kiên ( TFC )</td>
                    <td><a href="https://goo.gl/maps/qpaGSYqTGtTYUQkt7" target="_blank">240 QL91, Trung Kiên, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Cửa Hàng Xăng Dầu Và Vlxd Khánh Tiên</td>
                    <td><a href="https://goo.gl/maps/adR1mRHZy9sUmXMZA" target="_blank">khu vực Tân An, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Cửa Hàng Xăng Dầu Cam Thủy 4</td>
                    <td><a href="https://goo.gl/maps/NQArCThTe9QdX9bK6" target="_blank">243 QL91, Tân Hưng, Thốt Nốt, Cần Thơ, Việt Nam</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{>footer}}