{{>header}}
<div style="background-image: url('https://thumbs.dreamstime.com/z/sos-text-marble-colored-wall-vector-illustration-abstract-stone-orange-black-background-grunge-181826936.jpg');" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph pt-1">
        <b>LIÊN HỆ KHẨN CẤP Y TẾ</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/emoji/512/telephone-receiver.png" alt="">
        
    </h1>
    <hr>
    <div>
        <table class="table table-striped">
            <thead>
                <th>TT</th>
                <th>Tên bệnh viện</th>
                <th>Số chi tiết</th>
                <th>Địa chỉ</th>
            </thead>
            <tbody id="myfilter">
                <tr>
                    <th>1</th>
                    <td>Sở Y Tế Thành Phố Cần Thơ</td>
                    <td>0966711818</td>
                    <td><a href="https://goo.gl/maps/ANkCnR2bxxuNTL7g9" target="_blank">71 Đ. Lý Tự Trọng, An Cư, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Bệnh Viện Đa Khoa Thành Phố Cần Thơ</td>
                    <td>0966701818</td>
                    <td><a href="https://g.page/bvcantho?share" target="_blank" rel="noopener noreferrer">04 Đường Châu Văn Liêm, Tân An, Ninh Kiều, Cần Thơ 920000, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Bệnh Viện Lao Và Bệnh Phổi</td>
                    <td>0966691818</td>
                    <td><a href="https://goo.gl/maps/deZ8YZ4VJKJ4dT4BA" target="_blank" rel="noopener noreferrer">QL91, Phước Thới, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Bệnh Viện Mắt - Răng Hàm Mặt</td>
                    <td>0966671818</td>
                    <td><a href="https://goo.gl/maps/2jQcaU9EovUYpBfq8" target="_blank" rel="noopener noreferrer">39 Nguyễn Trãi, Tân An, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Bệnh Viện Nhi Đồng</td>
                    <td>0966651818</td>
                    <td><a href="https://goo.gl/maps/5yK7kXinxRc1h6r97" target="_blank" rel="noopener noreferrer">345 Đ. Nguyễn Văn Cừ, An Bình, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Bệnh Viện Tai Mũi Họng</td>
                    <td>0966641818</td>
                    <td><a href="https://goo.gl/maps/R1T1n2FrJdYXmETNA" target="_blank" rel="noopener noreferrer">153 Đ. Trần Hưng Đạo, P, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Bệnh Viện Tâm Thần</td>
                    <td>0966621818</td>
                    <td><a href="https://goo.gl/maps/5m8yXpzPTM55GQTN7" target="_blank" rel="noopener noreferrer">4M3C+67F, Khu vực Bình Hòa A, P. Phước Thới, Q, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Bệnh Viện Ung Bướu</td>
                    <td>0966601818</td>
                    <td><a href="https://g.page/bvubct?share" target="_blank" rel="noopener noreferrer">4 Đường Châu Văn Liêm, Tân An, Ninh Kiều, Cần Thơ 94000, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Bệnh Viện Da Liễu</td>
                    <td>0966591818</td>
                    <td><a href="https://g.page/benhviendalieucantho?share" target="_blank" rel="noopener noreferrer">1 Ba Tháng Hai, Hưng Lợi, Ninh Kiều, Cần Thơ 900000, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Bệnh Viện Đa Khoa Quận Bình Thủy</td>
                    <td>0966461818</td>
                    <td></td>
                </tr><tr>
                    <th>11</th>
                    <td>Bệnh Viện Đa Khoa Quận Cái Răng</td>
                    <td>0966431818</td>
                    <td><a href="https://goo.gl/maps/kP7LkLfy8dV5J1q7A" target="_blank" rel="noopener noreferrer">Đường Hậu Thạnh Mỹ, Lê Bình, Cái Răng, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>12</th>
                    <td>Bệnh Viện Đa Khoa Quận Ô Môn</td>
                    <td>0966421818</td>
                    <td><a href="https://goo.gl/maps/d93cjFrGw8dEMCPU9" target="_blank" rel="noopener noreferrer">83 Đường Cách Mạng Tháng 8, Châu Văn Liêm, Ô Môn, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>13</th>
                    <td>Trung Tâm Y Tế Huyện Phong Điền</td>
                    <td>0966401818</td>
                    <td><a href="https://goo.gl/maps/9GD5zv4wPtXW6YFC8" target="_blank" rel="noopener noreferrer">Ấp Nhơn, Cần Thơ, 904400, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>14</th>
                    <td>Bệnh Viện Đa Khoa Huyện Thới Lai</td>
                    <td>0966351818</td>
                    <td><a href="https://goo.gl/maps/MLGpcUggKLqWLsnt8" target="_blank" rel="noopener noreferrer">tt. Thới Lai, Thới Lai, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>15</th>
                    <td>Bệnh Viện Đa Khoa Huyện Vĩnh Thạnh</td>
                    <td>0966291818</td>
                    <td><a href="https://goo.gl/maps/a58ovix2xyxDLFDr5" target="_blank" rel="noopener noreferrer">69CP+GWC, QL80, Thị trấn Vĩnh Thạnh, Vĩnh Thạnh, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>16</th>
                    <td>Bệnh Viện Quân Dân Y TP. Cần Thơ</td>
                    <td>02923689362</td>
                    <td><a href="https://goo.gl/maps/sdWC3vFcjHs9JncY6" target="_blank" rel="noopener noreferrer">3CPP+94Q, TT. Cờ Đỏ, Cờ Đỏ, Cần Thơ, Việt Nam</a></td>
                </tr>
                <tr>
                    <th>17</th>
                    <td>Bệnh Viện Đa Khoa Trung Ương Cần Thơ</td>
                    <td>0966731818</td>
                    <td><a href="https://goo.gl/maps/a8xUje2QPp1WFW97A" target="_blank">315 Đ. Nguyễn Văn Linh, Phường An Khánh, Ninh Kiều, Cần Thơ, Việt Nam</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{>footer}}