{{!-- 
<div class="container text-white" >
  <div class="p-3 border-top">
      <ul class="nav justify-content-center p-3 mb-3">
        <li class="nav-item"><a href="/kham-pha" class="nav-link px-2 text-muted">Khám phá</a></li>
        <li class="nav-item"><a href="/du-lich/dia-diem" class="nav-link px-2 text-muted">Du Lịch</a></li>
        <li class="nav-item"><a href="/le-hoi" class="nav-link px-2 text-muted">Lễ Hội</a></li>
        <li class="nav-item"><a href="/tin-tuc" class="nav-link px-2 text-muted">Tin Tức</a></li>
        <li class="nav-item"><a href="/tour" class="nav-link px-2 text-muted">Tour</a></li>
        <li class="nav-item"><a href="/lien-he" class="nav-link px-2 text-muted">Liên Hệ</a></li>
      </ul>
    </div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
    
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="https://ctc.edu.vn/datafiles/25948/upload/files/Logo%20DL.png" class="bi me-2" width="50" height="50" role="img" aria-label="Bootstrap"/>
      </a>
      <span class="text-muted">© 2022</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><img style="width: 40px; height: 40px" src="https://img.icons8.com/nolan/344/twitter.png" alt=""></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img style="width: 40px; height: 40px" src="https://img.icons8.com/nolan/344/facebook-new.png" alt=""></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img style="width: 40px; height: 40px" src="https://img.icons8.com/nolan/344/instagram-new.png" alt=""></a></li>
    </ul>
  </footer>
</div> --}}
<section class="contact-section bg-black">
<!-- Contact-->
  <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 py-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Trường Công nghệ thông tin & Truyền thông,<br> Đại học Cần Thơ</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="mailto:huongb1809130@student.ctu.edu.vn">huongb1809130@student.ctu.edu.vn</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">(+84) 774 814684</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
{{!-- <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2022</div></footer> --}}
<footer class="bg-black d-flex flex-wrap justify-content-between align-items-center border-top">
    
    <div class="container col-md-4 d-flex align-items-center">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="https://ctc.edu.vn/datafiles/25948/upload/files/Logo%20DL.png" width="50" height="50" role="img" aria-label="Bootstrap"/>
      </a>
      <span class="text-muted">© 2022</span>
    </div>

    <ul class="container nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><img style="width: 40px; height: 40px" src="https://img.icons8.com/nolan/344/twitter.png" alt=""></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img style="width: 40px; height: 40px" src="https://img.icons8.com/nolan/344/facebook-new.png" alt=""></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img style="width: 40px; height: 40px" src="https://img.icons8.com/nolan/344/instagram-new.png" alt=""></a></li>
    </ul>
  </footer>