
<header>
  <!-- Navbar -->
  <div class="text-white navbar-dark d-none d-lg-block" id="navbar" style="z-index: 2000;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center p-1 mb-lg-0 text-white text-decoration-none">
          <img src="/img/logo.png" width="80" height="77" role="img" aria-label="Bootstrap"/>
        </a>
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item dropdown">
            <a href="/kham-pha" class="nav-link px-2 text-white dropbtn">Khám Phá</a>
            <ul style="list-style-type: none;" class="dropdown-content dropdown-menu-dark" >
              <li>
                <a class="dropdown-item" href="/kham-pha/gioi-thieu-ve-thanh-pho-can-tho">
                  <img class="fill-header" src="https://www.svgrepo.com/show/413535/format.svg">
                  |&#x3164;Giới Thiệu&#x3164;
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/kham-pha/van-hoa-&-lich-su">
                  <img class="fill-header" src="https://visithcmc.vn/uploads/0000/1/2021/07/26/tab1.svg">
                  |&#x3164;Văn Hoá & Lịch Sử&#x3164;
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="/du-lich/dia-diem" class="nav-link px-2 text-white dropbtn">Du Lịch</a>
            <ul style="list-style-type: none;" class="dropdown-content dropdown-menu-dark" >
              <li>
                <a class="dropdown-item" href="/du-lich/dia-diem">
                  <img class="fill-header" src="https://visithcmc.vn/uploads/0000/1/2021/07/26/tab4.svg">
                  |&#x3164;Địa Điểm&#x3164;
                </a>
              </li>
              <li class="btn-group dropend">
                <a class="dropdown-item" href="/du-lich/am-thuc">
                  <img class="fill-header" src="https://visithcmc.vn/uploads/0000/1/2021/07/26/tab2.svg">
                  |&#x3164;Ẩm Thực&#x3164;
                </a>
                <ul class="dropdown-menu sub-menu">
                  <li><a class="dropdown-item" href="/du-lich/am-thuc/dacsan">&#x3164;<img style="width:25px; height:25px" src="https://img.icons8.com/doodle/344/noodles--v1.png" alt="">&#x3164;|&#x3164;Đặc Sản Cần Thơ&#x3164;</a></li>
                  <li><a class="dropdown-item" href="/du-lich/am-thuc/banhdangian">&#x3164;<img style="width:25px; height:25px" src="https://img.icons8.com/color/344/taco.png" alt="">&#x3164;|&#x3164;Bánh Dân Gian&#x3164;</a></li>
                  <li><a class="dropdown-item" href="/du-lich/am-thuc/anvat">&#x3164;<img style="width:25px; height:25px" src="https://img.icons8.com/doodle/344/french-fries.png" alt="">&#x3164;|&#x3164;Đồ ăn vặt&#x3164;</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item"><a href="/le-hoi" class="nav-link px-2 text-white">Lễ Hội</a></li>
          <li class="nav-item"><a href="/tin-tuc" class="nav-link px-2 text-white">Tin Tức</a></li>
          <li class="nav-item dropdown">
            <a href="/tour" class="nav-link px-2 text-white dropbtn">Tour</a>
            <ul style="list-style-type: none;" class="dropdown-content dropdown-menu-dark" >
              <li>
                <a class="dropdown-item" href="/tour/trai-nghiem">
                  <img class="fill-header" src="https://www.svgrepo.com/show/424640/metro-tickets-train.svg">
                  |&#x3164;Trải Nghiệm&#x3164;
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/tour/lich-trinh-goi-y">
                  <img class="fill-header" src="https://www.svgrepo.com/show/413495/choose.svg">
                  |&#x3164;Lịch Trình Gợi Ý&#x3164;
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item"><a href="/lien-he" class="nav-link px-2 text-white">Liên Hệ</a></li>
          
        </ul>
      </div>
    </div>
  </div>
  <header class="header-w p-3 mb-4">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto">
        <span class="text-white"></span>
      </a>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search" method="POST" action="/search">
        <div style="margin-right: 0;" class="input-group">
          <input type="search" name="search" class="form-control rounded" id="myFilter" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="search-addon" />
          <button type="submit" class="btn btn-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
              <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
              <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"/>
            </svg>
          </button>
        </div>
      </form>
      {{!-- <div class="text-end">
        <a style="color:rgb(255, 85, 0);font-size: 20px; text-decoration:none; margin-left: 10px;" href="/admin/login"><b class="admin"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="25" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>Admin</b></a>
      </div> --}}
    </div>
  </header>
</header>
