{{>header}}
<div style="background-image: url('https://toanthaydinh.com/wp-content/uploads/2020/04/hinh-nen-mau-hong-2-2.jpg')" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph pt-1">
        <b>LỊCH TRÌNH GỢI Ý</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/344/external-schedule-search-itim2101-lineal-color-itim2101.png" alt="">
        
    </h1>
    <hr>
    <div style="text-align: center; color:darkgrey; line-height: 0px;">
        <p>Gợi ý lịch trình tại</p>
        <h3 style="font-size: 35px;"><b>CẦN THƠ</b></h3>
    </div>
    <div style="text-align: justify;">
        <div class="row py-3">
            {{#each lichtrinhs}}
            <div class="col-sm-6 col-lg-4 py-2">
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/{{this.slug}}">
                        <img style="height: 400px;" class="card-img-top" src="{{this.image}}"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">{{this.title}}</h4>
                        </div>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{>footer}}