{{>header}}
<div style="background-image: url('https://toanthaydinh.com/wp-content/uploads/2020/04/hinh-nen-mau-hong-2-2.jpg')" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph pt-1">
        <b>LỊCH TRÌNH GỢI Ý</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/344/external-schedule-search-itim2101-lineal-color-itim2101.png" alt="">
        
    </h1>
    <hr>
    <div style="text-align: center; color:darkgrey; line-height: 0px;">
        <p>Gợi ý lịch trình tại</p>
        <h3 style="font-size: 35px;"><b>CẦN THƠ</b></h3>
    </div>
    <div style="text-align: justify;">
        <div class="row py-3">
            <div class="col-sm-6 col-lg-4 py-2">
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/tham-khao-lich-trinh-di-can-tho-kham-pha-cho-noi-2n1d">
                        <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/tham-khao-lich-trinh-di-can-tho-kham-pha-cho-noi-2n1d-07-1649845287.jpeg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">Lịch trình đi Cần Thơ khám phá chợ nổi 2N1Đ</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 py-2" >
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/goi-y-lich-trinh-can-tho-3n2d-tu-tuc-cuc-ky-chi-tiet-danh-cho-ban">
                        <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/goi-y-lich-trinh-can-tho-3n2d-tu-tuc-cuc-ky-chi-tiet-danh-cho-ban-09-1649840613.jpg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 3N2Đ tự túc cực kỳ chi tiết dành cho bạn</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 py-2">
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/lich-trinh-can-tho-2n1d-tu-tuc-cuc-thu-vi-danh-cho-hoi-ban-than">
                        <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/lich-trinh-can-tho-2n1d-tu-tuc-cuc-thu-vi-danh-cho-hoi-ban-than-06-1649841341.jpg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 2N1Đ tự túc cực thú vị dành cho hội bạn thân</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 py-2">
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/bo-tui-lich-trinh-can-tho-1-ngay-tu-tuc-chi-tiet-cho-hoi-ban-than">
                        <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/bo-tui-lich-trinh-can-tho-1-ngay-tu-tuc-chi-tiet-cho-hoi-ban-than-07-1649830470.jpg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 1 ngày tự túc</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 py-2">
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/len-ke-hoach-1-ngay-o-can-tho-kham-pha-nhieu-diem-den-thu-vi">
                        <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/len-ke-hoach-1-ngay-o-can-tho-kham-pha-nhieu-diem-den-thu-vi-01-1649846628.jpeg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">Lên kế hoạch 1 ngày ở Cần Thơ</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 py-2">
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/thu-vi-lich-trinh-mot-thoang-tay-do-voi-nhung-trai-nghiem-dang-nho">
                        <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/thu-vi-lich-trinh-mot-thoang-tay-do-voi-nhung-trai-nghiem-dang-nho-1-1649570135.jpg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">Thú vị lịch trình một thoáng Tây Đô với những trải nghiệm đáng nhớ</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 py-2">
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/tham-gia-hanh-trinh-24h-kham-pha-ve-dep-dat-tay-do">
                        <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/cung-miavn-tham-gia-hanh-trinh-24h-kham-pha-ve-dep-dat-tay-do-5-1649572476.jpg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">Hành trình 24h khám phá vẻ đẹp đất Tây Đô</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 py-2">
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/goi-y-lich-trinh-can-tho-3n2d-tu-a-den-z-chi-tiet-nhat">
                        <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/goi-y-lich-trinh-can-tho-3n2d-tu-a-den-z-chi-tiet-nhat-8-1649932994.jpg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 3N2Đ từ A đến Z</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 py-2">
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/lich-trinh-can-tho-2n1d-chi-tiet-nhat-chinh-phuc-cho-noi-miet-vuon">
                        <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/lich-trinh-can-tho-2n1d-chi-tiet-nhat-chinh-phuc-cho-noi-miet-vuon-8-1649948859.jpg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 2N1Đ chi tiết</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 py-2">
                <div class="card img-fluid zoomin">
                    <a href="/tour/lich-trinh-goi-y/goi-y-lich-trinh-can-tho-3n2d-tu-ha-noi-sieu-thu-vi">
                        <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/goi-y-lich-trinh-can-tho-3n2d-tu-ha-noi-sieu-thu-vi-6-1649934772.jpg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 3N2Đ từ Hà Nội</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}