{{>header}}
<div style="background: linear-gradient(0deg, rgb(229, 255, 0) 0%, rgba(0, 171, 54, 0.942) 100%);" class="background-news"></div>
<div class="container">
    <h4 class="tin-tuc font-effect-anaglyph pt-3"><b style="font-size: 27px;">CỤM HỢP TÁC, LIÊN KẾT ĐỒNG BẰNG SÔNG CỬU LONG QUẢNG BÁ DU LỊCH</b></h4>
    <hr>
    <div class="fb-like" data-href="http://localhost:3000/tin-tuc/cum-hop-tac-lien-ket-dong-bang-song-cuu-long-quang-ba-du-lich" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/tin-tuc/cum-hop-tac-lien-ket-dong-bang-song-cuu-long-quang-ba-du-lich" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/login" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div style="text-align: justify; width: 80%; margin: auto;">
        <br>
        <p><b><i>Cần Thơ và 6 tỉnh phía Tây đồng bằng sông Cửu Long sẽ tổ chức gian hàng chung quảng bá du lịch tại Hội chợ Du lịch Quốc tế TP HCM, ngày 8-10/9.</i></b></p>
        <p>Cụm hợp tác, liên kết phát triển du lịch phía Tây đồng bằng sông Cửu Long gồm Cần Thơ và 6 tỉnh khác như An Giang, Kiên Giang, Sóc Trăng, Cà Mau, Bạc Liêu, Hậu Giang. Với vai trò là cụm trưởng, thành phố Cần Thơ đang xây dựng thiết kế gian hàng chung có diện tích 72 m2 tại Hội chợ Du lịch Quốc tế TP HCM (ITE HCM 2022).</p>
        <br>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://i1-dulich.vnecdn.net/2022/08/04/2-1659081515-5991-1659578901.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=SeuS87rqc0PRYtCT7UMU2Q" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Đại diện các tỉnh trong cụm thực hiện chương trình khảo sát trước thềm Hội nghị sơ kết 6 tháng chương trình hợp tác, liên kết phát triển du lịch của cụm phía Tây đồng bằng sông Cửu Long. Ảnh: <b><i>Trường An</i></b></p>
            </div>
        </div>
        <br>
        <p>Gian hàng chung sẽ mang một màu sắc tươi mới, năng động, nhưng vẫn giữ nét đặc trưng riêng của miền Tây sông nước. Đây là dịp để các tỉnh, thành trong cụm hợp tác giới thiệu, trưng bày sản phẩm, dịch vụ du lịch của từng địa phương; nhiều doanh nghiệp, khu, điểm du lịch kết nối tour, tuyến với những đơn vị lữ hành trong và ngoài nước.</p>
        <p>Tham gia ITE TPHCM là một trong những hoạt động trọng tâm nằm trong kế hoạch năm 2022 của cụm. Hoạt động nhằm đẩy mạnh liên kết với TP HCM và cụm liên kết phía Đông để hình thành các tuyến du lịch đặc trưng của đồng bằng sông Cửu Long. Đây cũng là dịp để kết nối hệ thống các doanh nghiệp lữ hành, cơ sở lưu trú, vận chuyển khách du lịch và nhiều điểm tham quan du lịch trong cụm, hình thành nên mạng lưới vô số tour du lịch truyền thống của cụm nói riêng, khu vực đồng bằng sông Cửu Long nói chung.</p>
        <br>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://i1-dulich.vnecdn.net/2022/08/04/CanTho-4638-1659578901.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=-0Qa49ekzdC7PrVl3qlWQA" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Hội nghị sơ kết 6 tháng đầu năm và kế hoạch 6 tháng cuối năm 2022 chương trình hợp tác, liên kết phát triển du lịch cụm phía Tây đồng bằng sông Cửu Long. Ảnh: <b><i>Anh Dũng</i></b></p>
            </div>
        </div>
        <br>
        <p>Theo thống kê, 6 tháng đầu năm nay, kết quả hoạt động du lịch Cụm phía Tây đồng bằng sông Cửu Long đang trên đà phục hồi, phát triển, đón trên 16 triệu lượt khách đến tham quan, du lịch, tăng 57,3% so với cùng kỳ năm 2021. Doanh thu du lịch đạt trên 12,5 nghìn tỷ đồng, tăng 54% so với cùng kỳ. Sáu tháng đầu năm, riêng thành phố Cần Thơ đã đón trên 3,1 triệu lượt khách, doanh thu đạt trên 2.000 tỷ đồng, tăng trên 55% so cùng kỳ.</p>
        <p style="text-align: right;"><b>Thư Kỳ</b></p>
        <p style="text-align: center;">Nguồn: <a href="https://vnexpress.net/cum-hop-tac-lien-ket-dong-bang-song-cuu-long-quang-ba-du-lich-4493227.html">https://vnexpress.net/cum-hop-tac-lien-ket-dong-bang-song-cuu-long-quang-ba-du-lich-4493227.html</a></p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    {{>comment}}
</div>
{{>footer}}