{{>header}}
<div style="background: linear-gradient(0deg, rgb(189, 177, 9) 0%, rgb(19, 99, 247) 100%);" class="background-news"></div>
<div class="container">
    <h4 class="tin-tuc font-effect-anaglyph"><b>Đẩy mạnh hợp tác điểm đến du lịch giữa khu vực ĐBSCL <br> với Quảng Ninh, Ninh Bình và Bình Định</b></h4>
    <hr>
    <div style="text-align: justify; width: 70%; margin: auto;">
        <h4><b>DU LỊCH</b></h4>
        <p><b>* Dự kiến mở 4 đường bay quốc tế từ Cần Thơ, trong quý I-2023</b></p>
        <p>(CT) - Ngày 13-9, tại TP Cần Thơ diễn ra hội nghị xúc tiến điểm đến du lịch liên vùng giữa các tỉnh Quảng Ninh, Ninh Bình, Bình Định với các tỉnh, thành vùng ĐBSCL. Ông Hà Văn Siêu, Phó Tổng cục trưởng Tổng cục Du lịch Việt Nam; ông Nguyễn Thực Hiện, Phó Chủ tịch UBND TP Cần Thơ; ông Trần Song Tùng, Phó Chủ tịch UBND tỉnh Ninh Bình; cùng lãnh đạo ngành Du lịch, hiệp hội du lịch và hơn 170 doanh nghiệp từ các tỉnh thành tham gia xúc tiến, dự hội nghị. Đây là sự kiện quan trọng nhằm thúc đẩy liên kết, hợp tác phát triển du lịch giữa các vùng; xây dựng chuỗi sản phẩm, dịch vụ giữa các địa phương; tạo điều kiện cho các doanh nghiệp du lịch trao đổi và mở rộng thị trường.</p>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20220913/images/IMG_2872.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Ký kết thỏa thuận hợp tác xúc tiến điểm đến liên vùng giữa Quảng Ninh, Ninh Bình, Bình Định và TP Cần Thơ. Ảnh: <b><i>Kiều Mai</i></b></p>
            </div>
        </div>
        <br>
        <p>Các tỉnh Quảng Ninh, Ninh Bình và Bình Định có đặc điểm tự nhiên và bản sắc văn hóa giàu tiềm năng phát triển đa dạng các loại hình du lịch: di sản, sinh thái, nghỉ dưỡng, biển đảo, văn hóa - lễ hội… ĐBSCL là thị trường tiềm năng và quan trọng với 3 tỉnh, nhất là trong giai đoạn các địa phương xây dựng chiến lược thu hút khách nội địa. Khu vực ĐBSCL cũng giàu tiềm năng về tài nguyên thiên nhiên với sự đa dạng của nhiều loại hình du lịch: sông nước, sinh thái, nghỉ dưỡng, MICE, văn hóa - lịch sử… Từ đó, tạo sức hút và bù trừ về thị trường giữa các khu vực phía Bắc, Duyên hải Nam Trung Bộ và ĐBSCL; tạo lực đẩy cho thị trường khách nội địa cũng như quốc tế.</p>
        <p>Tại hội nghị, các đại biểu trao đổi những vướng mắc xoay quanh việc kết nối sản phẩm và dịch vụ giữa các địa phương, cơ chế liên kết vùng và liên kết chuỗi, nguồn nhân lực, cơ sở hạ tầng giao thông kết nối giữa các địa phương. Trong đó, kết nối hàng không được nhấn mạnh nhằm thúc đẩy phát triển du lịch giữa các tỉnh, thành; nhất là hình thành các tuyến bay từ Cần Thơ đến Vân Đồn (Quảng Ninh), Phù Cát (Bình Định). Vietjet Air cũng cam kết sẵn sàng mở đường bay mới để hỗ trợ các địa phương trong kết nối, xúc tiến quảng bá du lịch. Trong đó TP Cần Thơ là một trong những điểm mà hãng muốn đẩy mạnh khai thác đường bay.</p>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20220913/images/IMG_2873.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Ông Nguyễn Thực Hiện (phải), Phó Chủ tịch UBND TP Cần Thơ trao quà lưu niệm đến ông Trần Song Tùng, Phó Chủ tịch UBND tỉnh Ninh Bình. Ảnh: <b><i>Kiều Mai</i></b></p>
            </div>
        </div>
        <br>
        <p>Phát biểu tại hội nghị, ông Hà Văn Siêu cho rằng liên kết quảng bá giữa Quảng Ninh, Ninh Bình, Bình Định với Cần Thơ và ĐBSCL thể hiện sự năng động, sáng tạo và đổi mới trong cách làm du lịch của các địa phương. Quảng Ninh, Ninh Bình, Bình Định và Cần Thơ đều là những trung tâm du lịch lớn, do đó có sự hỗ trợ mạnh về mở rộng thị trường. Phó Tổng cục trưởng Tổng cục Du lịch Việt Nam mong muốn các địa phương chú trọng tăng cường kết nối, mở rộng và đào sâu thông tin quảng bá; tạo điều kiện cho các doanh nghiệp kết nối, trao đổi; đẩy mạnh liên kết, nhất là ở các trung tâm du lịch thông qua kết nối hàng không; hình thành hệ sinh thái du lịch chuyên đề, chuỗi hoạt động ứng dụng công nghệ vào xúc tiến, quảng bá du lịch…</p>
        <p>Tại hội nghị, ngành Du lịch của Quảng Ninh, Ninh Bình, Bình Định và Cần Thơ đã ký kết thỏa thuận hợp tác xúc tiến điểm đến liên vùng; hiệp hội du lịch các tỉnh thành ký kết hợp tác về du lịch.</p>
        <p>* Ông Nguyễn Bác Toán, Giám đốc Thương mại Công ty cổ phần Hàng không Vietjet Air, thông tin: Dự kiến từ ngày 1-1-2023, Vietjet Air sẽ đưa 2 đường bay quốc tế kết nối Cần Thơ đến Hàn Quốc và Đài Loan đi vào hoạt động. Tần suất dự kiến là 3 chuyến/tuần, bay vào các ngày thứ hai, năm và sáu. Trong quý I năm 2023 sẽ mở 2 đường bay quốc tế từ Cần Thơ đến Singapore và Thái Lan.</p>
        <p>Vietjet Air cũng khai thác và tăng chuyến đối với 7 đường bay nội địa từ Cần Thơ đến Hà Nội, Hải Phòng, Đà Nẵng, Vinh, Thanh Hóa, Đà Lạt và Nha Trang. Kết nối đường bay Cần Thơ và Quảng Ninh cũng đang được xem xét.</p>
        <p style="text-align: right;"><b>ÁI LAM</b></p>
        <p style="text-align: center;">Nguồn: <a href="https://baocantho.com.vn/day-manh-hop-tac-diem-den-du-lich-giua-khu-vuc-dbscl-voi-quang-ninh-ninh-binh-va-binh-dinh-a151083.html">https://baocantho.com.vn/day-manh-hop-tac-diem-den-du-lich-giua-khu-vuc-dbscl-voi-quang-ninh-ninh-binh-va-binh-dinh-a151083.html</a></p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    <div class="fb-like mt-3" data-href="http://localhost:3000/tin-tuc/day-manh-hop-tac-diem-den-du-lich-giua-khu-vuc-dbscl-voi-quang-ninh-ninh-binh-va-binh-dinh" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/tin-tuc/day-manh-hop-tac-diem-den-du-lich-giua-khu-vuc-dbscl-voi-quang-ninh-ninh-binh-va-binh-dinh" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    
    <div class="fb-comments" data-href="https://www.facebook.com/login" data-width="100%" data-numposts="5"></div>
</div>
{{>footer}}