{{>header}}
<div style="background: linear-gradient(0deg, rgb(0, 204, 255) 0%, rgba(0, 171, 54, 0.942) 100%);" class="background-news"></div>
<div class="container">
    <h2 class="tin-tuc font-effect-anaglyph pt-2"><b>REVIEW CỰC CÓ TÂM KINH NGHIỆM ĐI CỒN SƠN CẦN THƠ</b></h2>
    <hr>
    <div class="fb-like" data-href="http://localhost:3000/kham-pha" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/kham-pha" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/login" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div style="text-align: justify; width: 80%; margin: auto;">
        
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    {{>comment}}
</div>
{{>footer}}