{{>header}}
<div style="background: linear-gradient(0deg, rgba(9,189,169,1) 0%, rgba(247,175,19,1) 100%);" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph"><b>KHÁM PHÁ</b></h1>
    <hr>
    <div class="fb-like" data-href="http://localhost:3000/kham-pha" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/kham-pha" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div style="text-align: justify; width: 80%; margin: auto;">
        <p class="pt-3"><b>Thành phố Cần Thơ nổi tiếng bởi vẻ đẹp sông nước hiền hòa, những vườn cây trái xanh tươi cùng khí chất hào sảng và mến khách của người miền tây đã làm mê đắm du khách gần xa. Hành trình du lịch Cần Thơ khám phá mảnh đất được mệnh danh là “thủ phủ Miền Tây” với khí hậu trong lành mát mẻ, cảnh quan đậm chất Nam Bộ, đồng ruộng mênh mông, kênh rạch chằng chịt, những ngôi nhà cổ kính và nhiều món ngon dân dã chỉ có ở vùng Miền Tây Nam Bộ.</b></p>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Mục Lục</h5>
                <div class="text-muted"><a href="#ThoiGianDuLichThichHop">Thời gian du lịch Cần Thơ thích hợp ?</a></div>
                <div class="text-muted"><a href="#DenCTBangCachNao">Đến Cần Thơ bằng cách nào ?</a></div>
                <div class="text-muted">
                    <a href="#CacDiemTQCT">Các điểm tham quan Cần Thơ ?</a>
                    <ul>
                        <li><a href="#NinhKieu">Bến Ninh Kiều - Cầu Đi Bộ Cần Thơ</a></li>
                        <li><a href="#ChuaOng">Chùa Ông</a></li>
                        <li><a href="#ChoNoiCaiRang">Chợ Nổi Cái Răng</a></li>
                        <li><a href="#DinhBinhThuy">Đình Bình Thuỷ</a></li>
                        <li><a href="#NhaCoBinhThuy">Nhà Cổ Bình Thuỷ</a></li>
                        <li><a href="VuonTraiCayPD">Vườn trái cây Phong Điền</a></li>
                        <li><a href="#ConSon">Cồn Sơn</a></li>
                        <li><a href="#CuLaoTL">Cù lao Tân Lộc</a></li>
                        <li><a href="ThienVienTL">Thiền viện Trúc Lâm Phương Nam</a></li>
                        <li><a href="DenThoHungVuong">Đền thờ Vua Hùng</a></li>
                        <li><a href="ChuaPothi">Chùa Pôthi Somrôn</a></li>
                        <li><a href="VuonCoBL">Vườn Cò Bằng Lăng</a></li>
                    </ul>
                </div>
                <div class="text-muted"><a href="#PhuongTienDL">Phương tiện đi lại ở Cần Thơ ?</a></div>
                <div class="text-muted"><a href="#CacKSCT">Các khách sạn ở Cần Thơ ?</a></div>
                <div class="text-muted"><a href="#MonNgonCT">Các món ăn ngon ở Cần Thơ ?</a></div>
                <div class="text-muted"><a href="#Qua">Đặc sản Cần Thơ mua về làm quà ?</a></div>
                <div class="text-muted"><a href="#MuaSam">Địa chỉ mua sắm tại thành phố Cần Thơ ?</a></div>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <br>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/cho-noi-cai-rang03-1024x439.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Kinh nghiệm du lịch Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <h4 id="ThoiGianDuLichThichHop"><b>Thời gian du lịch Cần Thơ thích hợp?</b></h4>
        <p>Cần Thơ nằm trong vùng khí hậu nhiệt đới nắng ấm quanh năm. Thời tiết ôn hoà dễ chịu, ít bão, quanh năm nóng ẩm, không có mùa đông nhiệt độ trung bình năm khoảng 28ºC chính vì vậy khi đi du lịch Cần Thơ bạn nên mang theo áo chống nắng, kính mát, mũ, kem chống nắng, thuốc xịt chống côn trùng…</p>
        <p>Cần Thơ chỉ có 2 mùa mùa mưa và màu khô. Mùa khô từ tháng 12 tới tháng 4 năm sau. Mùa mưa kéo dài từ tháng 5 đến tháng 11 bạn nên mang theo một chiếc dù, áo mưa tiện lợi. Mỗi mùa ở Cần Thơ đều có những điều thú vị riêng. Nên hầu như du khách đến tham quan thời điểm nào cũng đẹp.</p>
        <ul style="line-height: 25px;">
            <li><b>Mùa trái cây: </b> Cần Thơ có đất đai phù sa màu mỡ nên cây trái quanh năm, mùa nào thức nấy. Nhưng mùa hè khoảng tháng 6, 7, 8 là mùa có nhiều loại trái cây chín nhất nên nếu bạn là tín đồ của trái cây thì nên đi vào mùa hè.</li>
            <li><b>Mùa nước nổi: </b> Tầm tháng 9 đến tháng 11, đến Cần Thơ vào mùa này bạn sẽ thấy nước ngập trắng cả đồng ruộng, đâu đâu cũng thấy nước, thấp thoáng những bông súng, bông điên điển nở rộ phong cảnh tuyệt đẹp.</li>
            <li><b>Mùa hoa: </b> Từ tháng 12 đến tháng 1, tháng 2 dương lịch là thời điểm gần giáp tết. Đến Cần Thơ dịp này để đắm mình trong những sắc hoa rực rỡ.</li>
        </ul>
        <p>Đặc biệt, có những lễ hội đặc sắc ở Cần Thơ các bạn có thể đi vào dịp này để hòa mình vào không khí sôi nổi của các lễ hội:</p>
        <ul style="line-height: 25px;">
            <li><b>Lễ Cholchonam Thomay </b> là lễ chào mừng năm mới của người Khmer rất náo nhiệt vui tươi. Lễ hội diễn ra hàng năm vào ngày 13,14,15 tháng 3 âm lịch.</li>
            <li><b>Lễ hội bánh Dân gian Nam bộ </b>là sự kiện thường niên cấp quốc gia tại TP. Cần Thơ. Đến lễ hội, du khách có dịp trải nghiệm nhiều hương vị hấp dẫn trong văn hóa ẩm thực Nam bộ, đặc biệt là các loại bánh dân gian. Lễ hội thường diễn ra vào dịp giỗ tổ Hùng Vương (10/3 âm lịch).</li>
            <li><b>Lễ hội kỳ yên đình Bình Thủy: </b> Lễ thượng điền diễn ra 3 ngày với nhiều hoạt động thú vị vào rằm tháng 4 Âm lịch. Đây là một trong những lễ hội lớn nhất Miền Tây. Ngoài ra còn có lễ hạ điền vào rằm tháng chạp ( tháng 12) Âm lịch.</li>
            <li><b>Lễ hội trái cây: </b> thường diễn ra tại cù lao Tân Lộc vào dịp tết đoan ngọ mùng 5/5 âm lịch.</li>
            <li><b>Lễ hội Chùa Ông :</b> Ngày lễ lớn trong năm là mùng 7 tháng 7 âm lịch “Lễ Vu Lan” kéo dài từ 2 -3 ngày. Ngoài ra còn có ngày 24/ 6 lễ vía Ông còn gọi là lễ vía Quan Thánh Đế của người Hoa.</li>
            <li><b>Ngày hội du lịch Chợ nổi Cái Răng: </b> nhằm hưởng ứng Ngày du lịch Việt Nam (9/7) với nhiều hoạt động thú vị trên chợ nổi Cái Răng.</li>
            <li><b>Ngày hội Du lịch sinh thái Phong Điền </b> thường tổ chức từ 26-29/9 dương lịch hàng năm đúng dịp ngày Du lịch thế giới (27-9).</li>
            <li><b>Lễ cúng ông bà Dolta </b> là lễ hội truyền thống lớn nhất trong năm của người Khmer Tổ chức trong suốt ba ngày, hàng năm, từ ngày 29 tháng 8 đến mùng 1 tháng 9 âm lịch.</li>
            <li><b>Lễ Okombook </b> hay còn gọi là Lễ cúng trăng của người Khmer. Lễ hội thường được tổ chức vào khoảng Rằm tháng 10 Âm lịch hằng năm.</li>
        </ul>
        <h4 id="DenCTBangCachNao"><b>Đến Cần Thơ bằng cách nào ?</b></h4>
        <p>Bạn đang thắc mắc du lịch Cần Thơ nên đến đây bằng cách nào? bằng máy bay hay bằng ô tô thì hợp lý và tiết kiệm, cũng tùy bạn ở đâu. Vị trí xuất phát của bạn ảnh hưởng rất nhiều đến việc lựa chọn đường đến Cần Thơ. Chúng tôi xin đề xuất các phương án di chuyển hợp lý nhất nên chọn bên dưới.</p>
        <h5 id="TuTPHCM" style="color: green;">Từ TP Hồ Chí Minh</h5>
        <p>Khoảng cách từ TP.Hồ Chí Minh xuống Cần Thơ tầm 170km thời gian di chuyển khoảng 3h30 phút cho hành trình này. Các bạn có thể lựa chọn đi bằng xe khách hoặc di chuyển bằng ô tô hay xe máy cá nhân.</p>
        <p><b>⇒ Ô tô hoặc xe máy cá nhân</b></p>
        <p>Từ trung tâm thành phố Hồ Chí Minh các bạn đi theo QL1A qua địa phận Long An, Tiền Giang, qua cầu Mĩ Thuận tới tỉnh Vĩnh Long, đi tiếp khoảng 30km nữa qua cầu Cần Thơ là tới trung tâm thành phố Cần Thơ. Lưu ý khi di chuyển bằng xe cá nhân là mang đầy đủ giấy tờ xe, mang theo một số dụng cụ sửa xe thông dụng. Chấp hành an toàn giao thông đường bộ cũng như chạy đúng tốc độ quy định.</p>
        <p><b>⇒ Đi bằng xe khách.</b></p>
        <p>Có rất nhiều nhà xe chạy tuyến TP HCM – Cần Thơ giá vé dao động từ 100.000-180.000 VNĐ/ khách. Các bạn cũng có thể ra bến xe miền Tây địa chỉ: 395 Kinh Dương Vương, phường An Lạc, Quận Bình Tân Tp.HCM để mua vé hoặc liên hệ các xe chuyên chạy tuyến Sài Gòn – Cần Thơ như:</p>
        <ul style="line-height: 30px;">
            <li><b>Xe Hoàng Long: </b> xuất phát bến xe miền Đông đến Bến xe Cần Thơ. ĐT: 028 22438989.</li>
            <li><b>Xe Mai Linh: </b> Số điện thoại liện hệ tại Hồ Chí Minh: 028 39 39 39 39. Cần Thơ: 1900 1989.</li>
            <li><b>Xe Phương Trang: </b> Xuất phát từ Sài Gòn: 272 Đề Thám, quận 1. ĐT: (028) 38375570. Khởi hành tại bến xe miền Tây từ 7h sáng đến 10 giờ tối. Từ Cần Thơ: Khởi hành tại bến xe Nguyễn Trãi (ngã tư đường Hùng Vương) cứ nửa tiếng là có một chuyến.</li>
            <li><b>Xe Thành Bưởi: </b> Địa chỉ: 266-268 Lê Hồng Phong, phường 4, quận 5, Tp. HCM . Số điện thoại liên hệ: 1900 6079 – 02838.306.306.</li>
            <li><b>Xe Sơn Nguyên Limousine: </b>  Điểm đón TP HCM : 354/21 Lý Thường Kiệt , Quận 10 – Cây xăng 14 (Đối diện bến xe Miền Tây). Cần Thơ đón ở Bến Xe Trung Tâm. SĐT: 02871.097.097 – 0292 3696 678.</li>
            <li><b>Xe Vũ Linh Limousine: </b> xuất phát bến xe miền Tây điểm đến Bến xe Cần Thơ. ĐT: 1900 7009 – hotline: 0908 82 82 82.</li>
            <li><b>Xe Lộc Phát Limousine: </b> Địa chỉ: 166 Phạm Hùng, P Lê Bình, Cái Răng, TP Cần Thơ. Số điện thoại: 0918777735 – 02923 777 735.</li>
            <li><b>Xe Nam Á Châu Limousine: </b> Điểm đón : 219 Phạm Ngũ Lão, P. Phạm Ngũ Lão, Q1. Từ Cần Thơ đón : 75-77-79 Lý Hồng Thanh (KS Hạnh Phúc). Số điện thoại liên hệ: 028 3878 7777 – 1900.2657 – Tổng đài 24/7: 0903.356.199 – Zalo 097.481.3939.</li>
        </ul>
        <h5 id="TuHN-DN" style="color: green;"><b>Từ TP Hà Nội, Đà Nẵng</b></h5>
        <p>Quãng đường khá xa nên phương án tốt nhất để đến Cần Thơ là <b>bằng máy bay</b>. Hiện nay cả ba hãng hàng không lớn là Vietnam Airlines, Vietjet Air, Jetstar đều có chuyến bay từ Hà Nội – Cần Thơ và Đà Nẵng – Cần Thơ hoặc bạn có thể mua vé máy bay đến TP Hồ Chí Minh sau đó đi tiếp đến Cần Thơ.</p>
        <p>Việc mua vé máy bay Cần Thơ là vô cùng dễ dàng, mua vé trực tuyến trên trang web hay mua tại các đại lý vé máy bay chính hãng. Số điện thoại liên hệ đại lý vé máy bay chính hãng tại Cần Thơ: <b>0292 3819 219</b>. Kinh nghiệm là nên đặt vé sớm để có giá tốt nhất và săn vé giá rẻ. </p>
        <h4 id="CacDiemTQCT"><b>Các Điểm Tham Quan Cần Thơ?</b></h4>
        <p>Cần Thơ là xứ Tây Đô có nhiều cảnh sắc miền sông nước bình dị mà cuốn hút bạn có thể tham khảo những điểm du lịch nổi tiếng tại Cần Thơ sau:</p>
        <h5 id="NK" style="color: green;"><b>Quận Ninh Kiều</b></h5>
        <p>Quận Ninh Kiều là trung tâm của thành phố Cần Thơ tập trung nhiều trung tâm thương mại sầm uất, khu vui chơi giải trí có các điểm đến nổi bật như: <b>Bến Ninh Kiều (Công viên Ninh Kiều), Cầu đi bộ Ninh Kiều, Cầu Cần Thơ, Chợ đêm Ninh Kiều, Chợ Cổ Cần Thơ, Chợ đêm Trần Phú, Chùa Ông, Chùa Phật Học, Chùa Khmer Pitu Khôsa Răngsây, Chùa Khmer Munirensay, Biển nhân tạo Cần Thơ, Cồn Khương, Lò hủ tiếu Sáu Hoài, Lò Hủ Tiếu Chín Của, Bảo tàng Quân khu 9, Bảo tàng thành phố Cần Thơ, Di tích Khám Lớn Cần Thơ, Nhà thờ chính tòa Giáo phận Cần Thơ…</b></p>
        <h5 id="BT" style="color: green;"><b>Quận Bình Thuỷ</b></h5>
        <p>Là vùng đất được mệnh danh địa linh – nhân kiệt, nằm bên bờ sông thơ mộng, nơi đây có nhiều điểm tham quan, di tích lịch sử nhất tại Cần Thơ bao gồm: <b>Cồn Sơn</b> mô hình làng du lịch cộng đồng rất độc đáo, <b>Long tuyền cổ miếu </b> hay còn gọi <b>Đình Bình Thủy, Nhà cổ Bình Thủy, Mộ thủ khoa Bùi Hữu Nghĩa, Hội Linh cổ tự, Nam Nhã Đường, Long Quang cổ tự, di tích Căn cứ Vườn Mận</b> đây đều là những di tích lịch sử rất ý nghĩa. Quận Bình Thủy còn có những điểm du lịch sinh thái hấp dẫn thu hút du khách như <b>Làng hoa Bà Bộ, làng hoa Thới Nhựt, vườn trái cây Ba Cống …</b></p>
        <h5 id="CR" style="color: green;"><b>Quận Cái Răng</b></h5>
        <p>Nổi tiếng nhất có <b>Chợ nổi Cái Răng </b> ngoài ra còn có các vườn trái cây: <b>Vườn trái cây Út Hiên, Vườn trái cây Lê Lộc, khu du lịch Ba Láng, vườn sinh thái Hoa Súng, Vườn sinh thái Bảo Gia Trang Viên, Vườn sinh thái Xẻo Nhum, Cồn Ấu, Khu du lịch Phù Sa </b> và <b>Hiệp Thiên Cung</b> còn được gọi Chùa Ông Cái Răng.</p>
        <h5 id="TN" style="color: green;"><b>Quận Thốt Nốt</b></h5>
        <p>Tại đây điểm đến được nhiều người yêu thích nhất đó là <b>Vườn Cò Bằng Lăng, Cù Lao Tân Lộc</b> bên cạnh đó còn có các làng nghề truyền thống như <b>làng nghề đan lưới Thơm Rơm, làng nghề bánh tráng Thuận Hưng hay di tích Đình Thuận Hưng …</b></p>
        <h5 id="PD" style="color: green;"><b>Quận Phong Điền</b></h5>
        <p>Nơi đây nổi tiếng có <b>chợ nổi Phong Điền</b> và những miệt vườn cây trái xum xuê trĩu quả được mệnh danh là “Vương quốc trái cây” của Cần Thơ với nhiều khu du lịch, nhà vườn như:  <b>khu du lịch sinh thái Mỹ Khánh, Vườn Trái cây Vàm Xáng, Làng du lịch sinh thái Ông Đề, Vườn du lịch sinh thái Giáo Dương, Vườn trái cây Rạch Kè, Vườn Trái Cây 9 Hồng, vườn trái cây Bà Hiệp, Vườn trái cây Vũ Bình</b> … Ngoài ra còn có các điểm tâm linh, di tích hấp dẫn như <b>Thiền Viện Trúc Lâm Phương Nam Cần Thơ, Khu đền thờ và mộ Phan Văn Trị, Khu di tích lịch sử Giàn Gừa…</b></p>
        <h5 id="OM" style="color: green;"><b>Quận Ô Môn</b></h5>
        <p>Là vùng đất giàu truyền thống văn hoá, nơi hội tụ các di tích lịch sử nổi tiếng như: <b>chùa pôthi somrôn, Linh sơn Cổ Miếu, Đình Thới An…</b> và các làng nghề truyền thống như <b>Làng đan lọp Thới Long, làng nghề bánh kẹo Ba Rích…</b></p>
        <p>Trong đó các điểm du lịch Cần Thơ nổi bật nhất là:</p>
        <h5 id="NinhKieu"><b>Bến Ninh Kiều – Cầu Đi Bộ Cần Thơ</b></h5>
        <p>Nhắc đến những địa điểm du lịch nổi tiếng ở Cần Thơ thì không thể nào không nhắc đến bến Ninh Kiều nay gọi là công viên Ninh Kiều. Tọa lạc ngay trung tâm thành phố Cần Thơ, bến Ninh Kiều thơ mộng, sông nước hữu tình được coi là biểu tượng của xứ Tây Đô và là một điểm đến đặc trưng của bất kì du khách nào khi đến với thành phố này. Đặc biệt nơi đây có Cầu đi bộ du lịch đầu tiên của Miền Tây nối liền bến Ninh Kiều và cồn Cái Khế. Cầu đi bộ thu hút bởi những ánh đèn rực rỡ, đầy màu sắc, đến đây du khách được tận hưởng những làn gió mát từ Sông Hậu thổi vào, chiêm ngưỡng phong cảnh thành phố Cần Thơ lung linh về đêm.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/02/dulichcantho-1024x546.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Bến Ninh Kiều – Cầu Đi Bộ Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <h5 id="ChuaOng"><b>Chùa Ông</b></h5>
        <p>Chùa Ông là một trong những ngôi chùa cổ ở Cần Thơ với đường lối kiến trúc tinh tế, hoa văn mang đậm nét văn hóa Trung Quốc đặc sắc. Chùa Ông tọa lạc trên đường Hai Bà Trưng, phường Tân An, quận Ninh Kiều, TP Cần Thơ  đối diện Bến Ninh Kiều. Vẻ đẹp của ngôi chùa vẫn còn trường tồn theo thời gian, xứng danh là một ngôi chùa đẹp ở miền Tây Nam Bộ. </p>
        <div class="card" style="width: 80%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/01/diemdulichcantho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Chùa Ông</i></p>
            </div>
        </div>
        <br>
        <h5 id="ChoNoiCaiRang"><b>Chợ Nổi Cái Răng</b></h5>
        <p>Chợ nổi Cái Răng là một trong ba chợ nổi lớn nhất ở khu vực đồng bằng Sông Cửu Long. Vẻ đẹp bình dị, đời thường, cảnh sinh hoạt làng quê đã tạo nên cảnh đẹp hiếm có của địa danh này. Chợ nổi Cái Răng họp khá sớm từ khoảng 4, 5 giờ sáng các ghe xuồng đã bắt đầu cập chợ chính vì vậy thời gian tham quan lý tưởng nhất là từ 5-7h sáng.</p>
        <div class="card" style="width: 80%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/02/chonoicairang.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Chợ Nổi Cái Răng</i></p>
            </div>
        </div>
        <br>
        <h5 id="DinhBinhThuy"><b>Đình Bình Thuỷ</b></h5>
        <p>Trong số tất cả ngôi đình cổ còn tồn tại ở miền Tây Nam Bộ thì có thể nói rằng Đình Bình Thủy Cần Thơ là ngôi đình có kiến trúc bề thế uy nghi và đẹp mắt nhất. Đình Bình Thủy tọa lạc tại đường Lê Hồng Phong, thuộc phường Bình Thủy, quận Bình Thủy. Đây là công trình rất đặc sắc, biểu thị sức sống mãnh liệt của cộng đồng làng xã cư dân Nam bộ từ thuở khai hoang, tinh thần tôn trọng, thờ phụng tổ tiên, người có công với nước… đồng thời cũng thể hiện trí tuệ, bàn tay khéo léo của người dân địa phương.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/01/dulichcantho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Đình Bình Thuỷ</i></p>
            </div>
        </div>
        <br>
        <h5 id="NhaCoBinhThuy"><b>Nhà Cổ Bình Thuỷ</b></h5>
        <p>Nhà cổ Bình Thủy là một trong những ngôi nhà cổ được đánh giá là đẹp nhất xứ Tây Đô đã có trên 100 năm tuổi. Tọa lạc tại số 142/144 Bùi Hữu Nghĩa, Bình Thủy, Cần Thơ, nhà cổ Bình Thủy đã trở thành một điểm tham quan hấp dẫn bởi sự giao thoa giữa kiến trúc Đông – Tây kết hợp hài hòa. Nhờ vẻ đẹp cổ kính độc đáo, nhà cổ Bình Thủy trở thành phim trường nổi tiếng của các bộ phim như “Người đẹp Tây Đô”, “Những nẻo đường xa”, “Nợ đời”, nổi tiếng nhất là bộ phim “Người tình” của đạo diễn J.J. Annaud người Pháp.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/01/nha-co-binh-thuy.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Nhà Cổ Bình Thuỷ</i></p>
            </div>
        </div>
        <br>
        <h5 id="VuonTraiCayPD"><b>Vườn trái cây Phong Điền</b></h5>
        <p>Phong Điền cách trung tâm thành phố Cần Thơ khoảng 15km vốn nức tiếng gần xa bởi những miệt vườn trái cây sum suê, những con rạch đan xen chằng chịt, uốn quanh hữu tình cộng với không khí trong lành. Vào mùa trái cây, du khách sẽ được thưởng thức đủ loại cây trái ngọt lịm, không gian miệt vườn, nếp sống sinh hoạt đời thường của người dân Phong Điền chân chất bao đời nay.</p>
        <div class="card" style="width: 70%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/01/vuontraicayphongdien.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Vườn trái cây Phong Điền</i></p>
            </div>
        </div>
        <br>
        <h5 id="ConSon"><b>Cồn Sơn</b></h5>
        <p>Cồn Sơn là nơi lý tưởng để du khách tìm về chốn bình yên, lánh xa phố thị ồn ào náo nhiệt, tìm cảm giác thoải mái chân quê nhất. Cồn Sơn là một vùng đất nhỏ nổi trên sông Hậu với diện tích khoảng 70ha, thuộc phường Bùi Hữu Nghĩa, quận Bình Thủy, TP. Cần Thơ, cách đất liền gần 1km và cách bến Ninh Kiều khoảng 6km. Du lịch Cồn Sơn, du khách chỉ có thể đi xe đạp, đi bộ trên những con đường làng nhỏ hoặc chèo xuồng len lỏi giữa bạt ngàn cây trái. Cuộc sống của người dân Cồn Sơn mang đậm phong vị của vùng đất Miền Tây Nam Bộ, đó là nét rất riêng để Cồn Sơn thu hút và níu chân du khách.</p>
        <div class="card" style="width: 70%; margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/01/con-son-can-tho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Cồn Sơn</i></p>
            </div>
        </div>
        <br>
        <h5 id="CuLaoTL"><b>Cù Lao Tân Lộc</b></h5>
        <p>Cù lao Tân Lộc thuộc phường Tân Lộc, quận Thốt Nốt, cách trung tâm TP Cần Thơ hơn 40km với khoảng 15 phút qua phà. Nơi đây không chỉ hấp dẫn du khách bởi phong cảnh hữu tình, những vườn cây ăn trái trĩu quả được trồng theo quy trình sạch, mà còn ấn tượng với những ngôi nhà cổ kính, mang đậm nét văn hóa của vùng đất Tây Nam Bộ và người dân đôn hậu, hiền hòa, hiếu khách. Một ngày lang thang trên cù lao Tân Lộc, tìm hiểu tích xưa, nghe kể chuyện thời nay, du khách sẽ thấy trên cái cồn cát nhỏ bé này như còn ẩn chứa nhiều điều quyến rũ lạ kỳ.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/01/cu-lao-tan-loc-1-1024x768.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Vườn Mận An Phước Cù Lao Tân Lộc</i></p>
            </div>
        </div>
        <br>
        <h5 id="ThienVienTL"><b>Thiền Viện Trúc Lâm Phương Nam Cần Thơ</b></h5>
        <p>Thiền viện Trúc Lâm Phương Nam tọa lạc tại ấp Mỹ Nhơn, xã Mỹ Khánh, huyện Phong Điền, TP. Cần Thơ là công trình nghệ thuật độc đáo được xây dựng theo lối kiến trúc thời Lý – Trần và là điểm du lịch tâm linh nổi tiếng của vùng đất Tây Đô. Vẻ đẹp bình yên, trầm mặc của Thiền viện Trúc Lâm Phương Nam thu hút đông đảo Phật tử, người dân và du khách tới viếng thăm. Sau khi chiêm bái thiền viện bạn có thể kết hợp tham quan các vườn trái cây Phong Điền ở gần đó chỉ cách khoảng chừng 1km.</p>
        <div class="card" style="width: 90%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/01/thien-vien-truc-lam-phuong-nam-cantho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Thiền Viện Trúc Lâm Phương Nam Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <h5 id="DenThoVuaHung"><b>Đền thờ Vua Hùng</b></h5>
        <p>Đền thờ Vua Hùng Cần Thơ tọa lạc tại đường Võ Văn Kiệt, phường Bình Thủy, quận Bình Thủy. Đây là điểm hội tụ tâm linh thờ kính tôn nghiêm các vua Hùng tại vùng đất phương Nam và kết nối linh thiêng với Đền Hùng nơi đất Bắc. Đền thờ chính cao 19,5 m, diện tích gần 1.300 m2, có hình khối tròn xây trên nền vuông, tượng trưng cho Trời và Đất. Bao quanh đền thờ chính là 54 khối cột hình trụ cao 4,5m, đường kính 1m; kết thành vòng tròn trong hồ điều hòa, các trụ cột tượng trưng cho cộng đồng 54 dân tộc Việt Nam.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/02/denthovuahungcantho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Đền thờ Vua Hùng Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <h5 id="ChuaPothi"><b>Chùa Pôthi Somrôn</b></h5>
        <p>Chùa Pôthi Somrôn là một ngôi chùa Khmer cổ tọa lạc bên sông Ô Môn, thuộc phường Châu Văn Liêm, quận Ô Môn, TP Cần Thơ. Ngôi chùa là tuyệt tác về kiến trúc bên cạnh bề dày lịch sử gần 300 năm. Hình ảnh ngôi chùa nép mình dưới rừng cây cổ thụ, hòa quyện với mùi hương thanh nhã nhẹ nhàng của hoa vô ưu làm cho du khách có một cảm giác thật an nhiên.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/02/dulichcantho-1024x694.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Chùa Pôthi Somrôn</i></p>
            </div>
        </div>
        <br>
        <h5 id="VuonCoBL"><b>Vườn Cò Bằng Lăng</b></h5>
        <p>Vườn cò Bằng Lăng tọa lạc tại phường Thuận An, quận Thốt Nốt, cách trung tâm TP. Cần Thơ khoảng 60km. Đây là một trong những sân chim lớn nhất nơi miệt vườn của đồng bằng sông Cửu Long. Đến tham quan vườn cò Bằng Lăng bạn sẽ có cảm giác thật yên bình, thư thái. Để có thể ngắm những cảnh đẹp khó quên, bạn nên đến thăm vườn vào lúc 6-7h sáng để xem từng đàn cò trắng tỏa đi kiếm ăn, hoặc đến lúc 5h chiều lúc chúng bay về. Vào mùa xuân có bằng lăng tím khiến cảnh sắc đẹp, nên thơ hơn.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2020/02/vuoncobanglang.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Vườn Cò Bằng Lăng – Ảnh: Nguyen Duc Khoa</i></p>
            </div>
        </div>
        <br>
        <h4 id="PhuongTienDL"><b>Phương tiện đi lại ở Cần Thơ?</b></h4>
        <p><b style="color: green;">Tàu, thuyền, ghe, xuồng:</b> Cần Thơ là thành phố nằm ở khu vực đồng bằng Sông Cửu Long nên có mạng lưới sông ngòi, kênh rạch chằng chịt, các điểm tham quan du lịch hầu hết nằm gần sông nên phương tiện đi lại được nhiều du khách yêu thích và lựa chọn nhất là tàu, thuyền, ghe, xuồng.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/thue-tau-can-tho-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Thám Hiểm MeKong cho thuê tàu tại Cần Thơ chất lượng</i></p>
            </div>
        </div>
        <br>
        <p>Đi bằng tàu bạn mới có thể cảm nhận được nét đặc trưng của Miền Tây sông nước. Bạn có thể liên hệ dịch vụ cho thuê tàu Cần Thơ của Công ty Thám Hiểm MeKong. Là đơn vị cho thuê tàu tại Cần Thơ lớn, uy tín, tàu đạt chuẩn được trang bị đầy đủ áo phao, lái tàu vui tính am hiểu nhiệt tình, có đủ loại kích cỡ phục vụ từ 01 -25 người quý khách tha hồ lựa chọn phù hợp với nhu cầu Điện thoại: <b>0292.3819.219</b>.</p>
        <p><b style="color: green;">Xe máy: </b> nếu bạn muốn như một dân phượt thì các bạn có thể thuê xe gắn máy với giá bình dân 100-150.000 VNĐ/ xe/ ngày liện hệ với các nhà nghỉ, khách sạn bạn đang lưu trú. Điều kiện là bạn cần đủ sức khỏe và phải tuân thủ luật giao thông.</p>
        <p><b style="color: green;">Xe buýt: </b> Tại trung tâm thành phố Cần Thơ có các tuyến xe buýt đi Cái Răng, Bình Thủy, Phong Điền, Ô Mô cứ khoảng 15 -20 phút có một chuyến.</p>
        <p><b style="color: green;">Thuê xe ô tô: </b> có điều kiện hơn bạn có thể thuê xe Cần Thơ từ 4- 45 chỗ, tùy theo số lượng để chọn cho phù hợp. Liên hệ thuê xe tại Cần Thơ: <b>0292.3819.219</b>.</p>
        <p><b style="color: green;">Taxi: </b> Số điện thoại các hãng taxi tại Cần Thơ:</p>
        <ul style="line-height: 30px;">
            <li><b>Taxi Mai Linh: </b> 0292.3.82.82.82</li>
            <li><b>Taxi Mekong: </b> 0292 3 69 69 69</li>
            <li><b>Taxi Khánh Cường: </b> 0292 3 86 86 86</li>
            <li><b>Taxi Vinasa Cần Thơ: </b> 0292.3.827.827</li>
            <li><b>Taxi Thịnh Phát: </b> 0292 3 797979</li>
            <li><b>Taxi Green: </b> 0292. 3739 739</li>
            <li><b>Taxi Sai Gon Hoang Long: </b> 0292 3688 688</li>
            <li><b>VIP Taxi: </b> 0292 3814 814</li>
            <li><b>Happy Taxi: </b> 0292 3777 777</li>
        </ul>
        <h4 id="CacKSCT"><b>Các Khách sạn ở Cần Thơ?</b></h4>
        <p>Tại Cần Thơ thì khu vực bến Ninh Kiều, đường 30-4, 3-2, Hai Bà Trưng, Nguyễn An Ninh là nơi tập trung nhiều khách sạn, nhà nghỉ từ cao cấp cho tới bình dân. Ngoài ra ở Cần Thơ còn có dịch vụ homestay trên các cồn của sông Hậu hay tại nhà vườn của huyện Phong Điền, Cái Răng.</p>
        <p>Theo kinh nghiệm đặt khách sạn Cần Thơ tùy thuộc vào điều kiện tài chính cũng như mục đích của chuyến đi mà các bạn hãy lựa chọn cho mình những khách sạn phù hợp nhất. Nếu muốn du lịch nghỉ dưỡng có thể lựa chọn một số khách sạn 4; 5 sao, khu nghỉ dưỡng. Nếu du lịch phượt thì chọn khách sạn 2, 3 sao hoặc nhà nghỉ bình dân, homestay là một sự chọn tuyệt vời cho những ai muốn trải nghiệm cuộc sống sông nước miệt vườn của người dân nơi đây. <b><i>Lưu ý</i></b> vào dịp cuối tuần hay dịp nghỉ lễ lớn các bạn cần đặt phòng sớm để tránh tình trạng hết phòng hoặc bị chèn ép về giá.</p>
        <p><b>⇒Xem chi tiết: <a href="https://thamhiemmekong.com/thong-tin-du-lich-mien-tay/can-tho/khach-san-can-tho">Danh sách khách sạn Cần Thơ</a></b></p>
        <h4 id="MonNgonCT"><b>Các món ăn ngon ở Cần Thơ?</b></h4>
        <p>Đến Cần Thơ bạn không thể bỏ qua việc thưởng thức ẩm thực nơi đây. Có rất nhiều món ăn dân dã nhưng vô cùng độc đáo mang đậm hương vị của một vùng sông nước trù phú mà các tín đồ yêu thích ẩm thực không nên bỏ lỡ. Xin giới thiệu đến các bạn một số món ăn ngon tại Cần Thơ:</p>
        <h5 id="TraiCay" style="color: green;"><b>Trái Cây</b></h5>
        <p>Thời tiết quanh năm thuận lợi và được con sông Cửu Long bồi đắp phù sa nên đất đai ở Cần Thơ rất màu mỡ. Chính vì lẽ đó mà nơi đây có những vườn trái cây xum xuê trĩu quả đủ loại có hương vị thơm ngon, khó cưỡng.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/cho-noi-cai-rang-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Đến Cần Thơ bạn nhất định phải thưởng thức các loại trái Cây tươi ngon</i></p>
            </div>
        </div>
        <br>
        <p>Đến đây bạn nhất định phải thưởng thức các loại trái cây đặc sản Nam Bộ như: sầu riêng, măng cụt, vú sữa, quýt, cam, nhãn,.. mới hái tại các nhà vườn. Đặc biệt từ tháng 6 đến tháng 11 là mùa của dâu Hạ Châu với vị ngọt thanh, thơm nổi tiếng đặc sản của đất Phong Điền.</p>
        <h5 id="LauMam" style="color: green;"><b>Lẩu Mắm</b></h5>
        <p>Lẩu mắm là món ăn rất quen thuộc và có từ lâu đời là món ăn đặc trưng mà bạn nên thưởng thức khi đến Cần Thơ. Nó không chỉ là món ăn mà nó còn là một biểu tượng tinh thần của người dân Nam Bộ. Trong lẩu mắm có hơn 40 loại rau và rất nhiều loại hải sản như: mực, tôm, cá,…  cũng như thịt. Tại các nhà hàng trung tâm thành phố Cần Thơ đều phục vụ món ăn này.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/lau-mam-da-ly-can-tho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lẩu mắm Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p>Món ăn cho thấy sự phong phú về ẩm thực của vùng đất nơi đây cũng như mang giá trị tâm hồn của người miền Nam nói chung và người Cần Thơ nói riêng.</p>
        <p><b>Địa chỉ một số quán lẩu mắm Cần Thơ ngon:</b></p>
        <ul style="line-height: 30px;">
            <li><b>Lẩu mắm Dạ Lý: </b> 89 Đường 3/2, Quận Ninh Kiều, Cần Thơ</li>
            <li><b>Lẩu mắm Trần Ngọc Quế: </b> số 162/18 đường Trần Ngọc Quế, Q.Ninh Kiều, Cần Thơ</li>
            <li><b>Lẩu Mắm Trần Việt Châu: </b> 24/41 Trần Việt Châu, Thới Bình, Ninh Kiều, Cần Thơ</li>
            <li><b>Quán Cù Lần: </b> 1/2A Đường 30 Tháng 4, P. Xuân Khánh,  Quận Ninh Kiều, Cần Thơ</li>
            <li><b>Lẩu mắm cát tiên: </b> 264 Võ Văn Kiệt, P. An Thới,  Quận Bình Thủy, Cần Thơ – 211 Đường Nguyễn Văn Linh, Hưng Lợi, Ninh Kiều, Cần Thơ.</li>
        </ul>
        <h5 id="OcNuongTieu" style="color: green;"><b>Ốc Nướng Tiêu</b></h5>
        <p>Món ốc nướng tiêu là đặc sản của Cần Thơ đến đây bạn nên một lần thưởng thức món ăn dân dã có một không hai này.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/ocnuongtieucantho1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Ốc nướng tiêu Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p>Vị cay cay của hạt tiêu xanh hòa với vị ngọt béo của ốc mang cho bạn một cảm giác khác lạ trong miệng. Món ốc nướng tiêu sẽ là món ăn là thỏa mãn khẩu vị của cả những thực khách khó tính nhất.</p>
        <p>Bạn có thể tìm ăn món này ở bất kỳ nhà hàng, quán nhậu, khu du lịch, vườn sinh thái nào ở Cần Thơ. Đặc biệt vào buổi tối bạn hãy tới các khu chợ đêm Trần Phú có rất nhiều quán ốc nướng tiêu ngon. Xin giới thiệu một số quán ốc nướng tiêu ngon tại Cần Thơ.</p>
        <ul style="line-height: 30px;">
            <li><b>Nhà hàng Hoa Sứ: </b> Vòng Xoay Cồn Cái Khế, Lê Lợi, Quận Ninh Kiều, Cần Thơ</li>
            <li><b>Nhà hàng Sông Quê: </b> 32 Lê Lợi, Cái Khế, Ninh Kiều, Cần Thơ</li>
            <li><b>Quán Chị Tôi: </b> 27-29 Lê Lợi, Quận Ninh Kiều, Cần Thơ.</li>
            <li><b>Quán Ăn La Cà: </b> 118 Trần Văn Khéo, Cái Khế, Ninh Kiều, Cần Thơ</li>
            <li><b>Quán Ốc Mậu thân: </b> 23-24 Mậu Thân, An Nghiệp, Ninh Kiều, Cần Thơ</li>
            <li><b>Quán Ốc Đêm 77:</b> 305 Đường Nguyễn Văn Linh, Phường An Khánh, Ninh Kiều, Cần Thơ</li>
        </ul>
        <h5 id="BanhCong" style="color: green;"><b>Bánh Cống</b></h5>
        <p>Món ăn đậm đà hương vị của thịt heo, đậu xanh và tôm. Bánh cống ngon, giòn ăn kèm với rau xanh rất lạ miệng. Đây là món ăn đặc trưng của Cần Thơ nếu bạn đã thử món bánh này 1 lần thì bạn sẽ muốn thử lại lần thứ 2.</p>
        <div class="card" style="width: 80%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/banh-cong-con-tho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Bánh Cống Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p>Địa chỉ quán bánh cống ngon tại Cần Thơ</p>
        <ul style="line-height: 30px;">
            <li><b>Bánh Cống Cô Út: </b> 86/38, đường Lý Tự Trọng, phường An Cư, quận Ninh Kiều</li>
            <li><b>Bánh cống Bà Út Lư: </b> Trần Phú, Hưng Lợi, Ninh Kiều, Cần Thơ</li>
            <li><b>Quán Bánh Cống 292: </b> 292, Đường 30/04, Quận Ninh Kiều, Tp Cần Thơ.</li>
            <li><b>Quán Bánh Cống Tâm Hiệp: </b> 221a, Hoàng Quốc Việt, An Bình, Ninh Kiều, Cần Thơ.</li>
            <li><b>Quán Bánh xèo Bánh Cống Huê Viên: </b> 32, Đường Đề Thám, Phường An Cư, Quận Ninh Kiều, Tp Cần Thơ</li>
        </ul>
        <h5 id="CaLocNuongTrui" style="color: green;"><b>Cá Lóc Nướng Trui</b></h5>
        <p>Cá lóc nướng trui tại bến Ninh Kiều Cần Thơ là một món ngon đã đi sâu vào trong tiềm thức ẩm thực của vùng sông nước nơi đây. Cá lóc khi bắt về dùng đũa tre cắm xiên theo mình cá trúc đầu xuống đất rồi lấy rơm đốt.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/ca-loc-nuong-trui1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Cá Lóc Nướng Trui</i></p>
            </div>
        </div>
        <br>
        <p>Khi cá chín thì bỏ lớp vỏ bên ngoài để lộ lớp thịt cá trắng ăn kèm với bánh tráng, bún, rau sống chấm với muối hột dằm ớt. Thưởng thức món cá lóc nướng trui bạn sẽ cảm nhận được phong vị dân gian của Cần Thơ.</p>
        <p>Hiện nay, trên địa bàn thành phố Cần Thơ hầu hết các khu du lịch, vườn sinh thái, các nhà hàng sang trọng hay quán nhậu bình dân đều phục vụ đặc sản cá lóc nướng trui. Xin giới thiệu đến du khách địa chỉ một số các quán cá lóc nướng trui ngon tại Cần Thơ :</p>
        <ul style="line-height: 30px;">
            <li><b>An: </b> 15 – 19 – 21 Trần Văn Hoài, P. Xuân Khánh,  Quận Ninh Kiều, Cần Thơ</li>
            <li><b>Đồng Xanh: </b> 211 Nguyễn Văn Linh,  Quận Ninh Kiều, Cần Thơ</li>
            <li><b>Mẫn: </b> 184 Huỳnh Cương, Quận Ninh Kiều, Cần Thơ</li>
            <li><b>Cá lóc nướng sả: </b> 573 Trần Quang Diệu,  Quận Bình Thủy, Cần Thơ</li>
            <li><b>Lê Bình Quán: </b> Cạnh 372A Lê Bình, P. Lê Bình, Quận Cái Răng, Cần Thơ</li>
            <li><b>Nhà hàng Cây Bưởi: </b> 90/2/21 Hùng Vương, P.Thới Bình, Q.Ninh Kiều, Cần Thơ.</li>
            <li><b>Nhà hàng Cây Bưởi 2: </b> đường Sông Hậu, Bãi Cát, Q.Ninh Kiều, Cần Thơ.</li>
            <li><b>Nhà hàng Cây Bưởi 5 </b> – 108A, Phường Cái Khế, Quận Ninh Kiều,Cần Thơ,Việt Nam</li>
            <li><b>Nhà hàng Hoa Sứ </b> – Vòng Xoay Cồn Cái Khế, Lê Lợi, Quận Ninh Kiều, Cần Thơ</li>
            <li><b>Quán Ăn Gia Đình Cầu Cần Thơ</b> – Khu Vực 1, Phường Hưng Phú, Quận Cái Răng, Cần Thơ</li>
        </ul>
        <h5 id="HuTieu" style="color: green;"><b>Hủ Tiếu</b></h5>
        <p>Đến thăm mảnh đất Tây Đô bạn đừng quên thưởng thức tô hủ tiếu thơm ngon đủ loại: hủ tiếu gà, hủ tiếu heo… đặc biệt có món hủ tiếu chiên giòn hay còn gọi “Pizza” hủ tiếu.</p>
        <div class="card" style="width: 80%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/pizzahutieu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>“Pizza” hủ tiếu món ngon lạ miệng</i></p>
            </div>
        </div>
        <br>
        <p>Tại trung tâm thành phố có rất quán bán hủ tiếu nhưng có lẽ địa điểm ăn hủ tiếu ngon nhất là tại các lò hủ tiếu truyền thống. Đến đây bạn vừa được tham quan, tìm hiểu quá trình làm ra sợi hủ tiếu vừa được ăn tô hủ tiếu thơm ngon hấp dẫn. Các lò hủ tiếu Cần Thơ tập trung ở phường An Bình, quận Ninh Kiều gần cầu Rau Răm  trong đó nổi tiếng nhất có lò hủ tiếu Sáu Hoài và lò hủ tiếu Chín Của.</p>
        <h5 id="BanhXeo" style="color: green;"><b>Bánh Xèo</b></h5>
        <p>Bánh xèo là một trong những món ăn đặc trưng của miền sông nước. Bánh xèo đậm đà hương vị miền quê với những miếng thịt, con tôm tươi rói, kèm đó là rau sống xanh mơn mởn chấm với nước mắm đậm đà, nhai giòn rụm với bột bánh xèo béo ngậy, khiến ai cũng thèm thuồng và ngất ngây với cái vị bánh đặc trưng của miền Tây.</p>
        <div class="card" style="width: 80%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/banhxaocantho2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Bánh xèo Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p>Trong các tên tuổi làm bánh xèo Cần Thơ nổi tiếng thì có lẽ thương hiệu Mười Xiềm là được nhiều người biết đến nhất. Bà Mười Xiềm nổi danh từ sau khi bà đi Mỹ và đổ bánh xèo ở Washington D.C.</p>
        <p><b>Địa chỉ các quán ăn Bánh Xèo ngon tại Cần Thơ.</b></p>
        <ul style="line-height: 30px;">
            <li><b>Bánh xèo Mười Xiềm: </b> 13/3 đường 917, P. Trà Nóc, Q. Bình Thủy, TP Cần</li>
            <li><b>Bánh xèo 7 Tới: </b> 45 Hoàng Quốc Việt, Cái Sơn, Hàng Bàng, quận Ninh Kiều, Cần Thơ</li>
            <li><b>Bánh xèo Ngọc Ngân: </b> 74 Lê Lợi, Cái Khế, Ninh Kiều, Cần Thơ</li>
            <li><b>Bánh xèo Tân Định: </b> Lê Lợi, Vòng Xoay Công Viên Nước, Quận Ninh Kiều, Cần Thơ</li>
            <li><b>Quán Bánh Xèo Huê Viên: </b> 32, Đường Đề Thám, Phường An Cư, Quận Ninh Kiều, Tp Cần Thơ.</li>
            <li><b>Quán Bánh Xèo Cô Mai: </b> Võ Trường Toản, Quận Ninh Kiều, Cần Thơ</li>
            <li><b>Bánh xèo Đề Thám: </b> 34 Đề Thám, Quận Ninh Kiều, Cần Thơ</li>
            <li><b>Bánh xèo Ngọc Yến: </b> 41 Châu Văn Liêm,Quận Ninh Kiều, Cần Thơ. </li>
            <li><b>Bánh xèo Cô Thương: </b> Bùi Hữu Nghĩa, Quận Bình Thủy, Cần Thơ</li>
            <li><b>Bánh xèo Dì Hà: </b>  Quang Trung, P. Hưng Phú, Quận Cái Răng, Cần Thơ.</li>
        </ul>
        <p>Ngoài ra tại các khu du lịch sinh thái, vườn trái cây trên địa bàn thành phố đều phục vụ món ăn vừa dân dã, vừa đậm đà này. Bánh xèo Cần Thơ đã trở thành niềm tự hào của người dân nơi đây</p>
        <h5 id="BanhHoi" style="color: green;"><b>Bánh Hỏi Phong Điền</b></h5>
        <p>Nếu có dịp ghé thăm Phong Điền, đừng quên thưởng thức món bánh hỏi heo quay do chính tay nhà vườn chế biến nhé. Bánh hỏi trắng phau được làm từ bột gạo ngon, bày một lớp heo quay cắt sẵn phía trên, ăn kèm với dưa leo và rau thơm cắt nhỏ, hòa cùng nước mắm tỏi ớt chua cay, mặn, ngọt đậm đà.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/banhhoiphongdien.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Bánh hỏi Phong Điền Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p>Ăn một miếng vị ngon hòa quyện, bánh hỏi mềm mịn, da heo giòn rụm thơm nức mũi tan ngay trên đầu lưỡi, nước chấm sóng sánh vừa miệng làm lòng người thực khách như muốn hòa tan vào hương vị say đắm ấy. Quả thật là một tuyệt tác của ẩm thực khó thể nào quên được.</p>
        <p>Để thưởng thức món bánh hỏi Phong Điền ngon đúng điệu bạn phải tới Vườn Sinh Thái – Lò Bánh Hỏi Út Zdách tại 509 Tỉnh Lộ 61B, Ấp Nhơn Bình, Xã Nhơn Ái, huyện Phong Điền.</p>
        <h5 id="NemNuong" style="color: green;"><b>Nem nướng Cái Răng</b></h5>
        <p>Nem nướng bên bờ kênh Cái Răng đã nổi tiếng khắp bốn phương. Nem cũng làm từ thịt heo tươi, quết dẻo, thêm gia vị và được nướng trên than hồng, từng cái nem mướt mắt, ngậy mùi thơm ăn cùng với bánh tráng, rau sống, chấm cùng với chén nước tương xay.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/nem-nuong-cai-rang.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Nem nướng Cái Răng</i></p>
            </div>
        </div>
        <br>
        <p>Từ quốc lộ 1A về Sóc Trăng, vừa xuống dốc cầu Cái Răng, bạn có thể dễ dàng thưởng thức nem nướng hoặc mua nem về làm quà cho người thân. Đặc biệt tại các khu chợ đêm Cần Thơ bạn dễ dàng tìm thấy các quán bán nem nướng Cái Răng.  Xin giới thiệu du khách một số quán nem nướng Cái Răng ngon trên địa bàn thành phố Cần Thơ.</p>
        <ul style="line-height: 30px;">
            <li><b>Nem nướng Thanh Vân: </b> số 17 đại lộ hoà bình, quận Ninh Kiều, TP Cần Thơ.</li>
            <li><b>Nem nướng Hai Vân: </b> 98 Đề Thám, Quận Ninh Kiều, Cần Thơ.</li>
            <li><b>Bánh mỳ Nem Nướng 91: </b> 91 Đề Thám, Tân An, Quận Ninh Kiều, Cần Thơ.</li>
            <li><b>Nem Nướng Sáu Sển: </b> 35/48a Phạm Ngũ Lão,P.Thới Bình, Quận Ninh Kiều, Cần Thơ.</li>
            <li><b>A Lủ – Bánh Mì Nem Nướng: </b> 256 Nguyễn Văn Cừ, P. An Hòa, Quận Ninh Kiều.</li>
            <li><b>Quán Nem Nướng Cái Răng </b> – Khu Vực 3, Đường Ba Tháng Hai Nối Dài, Quận Ninh Kiều, TP Cần Thơ.</li>
            <li><b>Nem Nướng Cô Thu: </b> 84/2 Quốc lộ 1, Lê Bình, Cái Răng, TP Cần Thơ.</li>
            <li><b>Nem nướng Anh Lộc: </b> Nguyễn Trãi, Lê Bình, Cái Răng, TP Cần Thơ.</li>
            <li><b>Nem nướng Anh Mập: </b> Nguyễn Trãi, Lê Bình, Cái Răng, TP Cần Thơ.</li>
        </ul>
        <h5 id="BaKhia" style="color: green;"><b>Ba Khía Rang Me</b></h5>
        <p>Chắc chắn bạn sẽ không tìm thấy món ăn mang hương vị đồng quê này ở nơi nào khác ngoài Cần Thơ. Trước đây nó chỉ là một món ăn bình thường của người dân nơi đây nhưng vì hương vị độc đáo mà ba khía rang me đã trở thành món ăn đặc sản nổi tiếng Cần Thơ. Đến Cần Thơ mà không thưởng thức ba khía rang me là một thiếu sót lớn. </p>
        <div class="card" style="width: 90%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/ba-khia-rang-me.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Ba Khía Rang Me</i></p>
            </div>
        </div>
        <br>
        <p>Ba khía chín được để trên đĩa rau răm, rắc thêm ít đậu phụng rang giã rồi thưởng thức. Vị chua chua của me, vị bùi của đậu phộng, vị cay hơi nồng của rau răm khiến cho thịt của ba khía trở nên đậm đà hơn.</p>
        <p>Có dịp đến TP Cần Thơ, du khách đừng quên đến khu chợ đêm Cần Thơ, đặc biệt là tới <b>đường Đinh Tiên Hoàng, Cầu Xô Viết Nghệ Tĩnh</b>, thuộc phường Thới Bình, quận Ninh Kiều, TP Cần Thơ có rất nhiều quán bán các món ăn ngon độc đáo chế biến từ ba khía. Từ món ba khía rang me, ba khía luộc gừng, rang muối, đến ba khía xào Tứ Xuyên, chiên giòn, hấp bia…Mỗi món đều có kiểu cách, hương vị riêng, thơm ngon, giòn rụm, … món nào cũng thơm phức, nhìn là phát thèm. Các quán Thanh Trang, Lan, Thiện, Liễu… cũng tự tạo cho mình phong cách riêng, lai rai tại chỗ cũng được, mua về nhà cũng bán luôn, tất cả đều tươi rói. Ngoài con ba khía, phố này còn bán hải sản tươi sống khác như tôm, cua biển, sò, ốc, ghẹ, cua đá, mực… được chế biến đủ các món phục vụ khách thập phương.</p>
        <h5 id="VitNauChao" style="color: green;"><b>Vịt Nấu Chao</b></h5>
        <p>Vịt nấu chao là một món đặc sản ở Cần Thơ đậm chất miền Tây sông nước mà ai cũng phải nhớ mãi cái hương vị độc đáo này. Vịt nấu chao Cần Thơ từng lọt top 100 món ăn ẩm thực, đặc sản tiêu biểu của Việt Nam do Tổ chức Kỷ lục Việt Nam công bố.Vịt Nấu Chao cái tên ấy đã nói lên thành phần chính cũng như cách chế biến món ăn này hết sức đơn giản là thịt vịt và chao. Có lẽ đối với nhiều du khách, chao còn khá xa lạ nhưng loại đậu phụ lên men này là món ăn đặc trưng của miền Tây sông nước và đặc biệt là món ngon trứ danh ở Cần Thơ.</p>
        <div class="card" style="width: 80%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/vit-nau-chao-can-tho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Vịt Nấu Chao</i></p>
            </div>
        </div>
        <br>
        <p>Tại Cần Thơ muốn thưởng thức món vịt nấu cao ngon đúng điệu bạn hãy đến hẻm 1 và hẻm “Tỉnh Đoàn” đường Lý Tự Trọng, quận Ninh Kiều. Nơi đây được du khách ví von là  “hẻm vịt nấu chao” có rất nhiều quán vịt nấu chau mang đậm phong vị của đất Tây Đô. Xin giới thiệu một số quán vịt nấu chao ngon:</p>
        <ul style="line-height: 30px;">
            <li><b>Vịt Nấu Chao Thành Giao: </b> hẻm 1, số 1/8 đường Lý Tự Trọng, phường An Phú, quận Ninh Kiều, thành phố Cần Thơ.</li>
            <li><b>Vịt Nấu Chao Kim Liên: </b> Hẻm 1 Lý Tự Trọng, Quận Ninh Kiều, Cần Thơ.</li>
            <li><b>Vịt Nấu Chao  Cẩm Tú: </b> Hẻm 1 Lý Tự Trọng, P. An Phú, Quận Ninh Kiều, Cần Thơ.</li>
            <li><b>Vịt Nấu Chao Cô Minh: </b> Hẻm 1/1C Lý Tự Trọng, Quận Ninh Kiều, Cần Thơ.</li>
            <li><b>Vịt Nấu Chao  Tám Khỏe: </b> Hẻm 1 Lý Tự Trọng, Quận Ninh Kiều, Cần Thơ.</li>
            <li><b>Vịt Nấu Chao Thịnh Phát: </b> 1/8D Lý Tự Trọng, Quận Ninh Kiều, Cần Thơ.</li>
        </ul>
        <h5 id="LauRan" style="color: green;"><b>Lẩu Rắn</b></h5>
        <p>Cần Thơ là nơi trú ngụ của nhiều loài rắn và mùa lũ là lúc người dân nơi đây săn bắt được nhiều nhất. Khi nước lũ tràn về, tổ rắn bị ngập nước. Chúng trôi theo dòng nước và được thợ săn đón lõng rồi dùng vợt để bắt. Người miền Tây có nhiều món ngon chế biến từ loại rắn này như: rắn xào xả ớt, rắn hầm đậu xanh, khô rắn… Trong đó, nổi tiếng và được ưa chuộng nhất phải kể đến món lẩu rắn.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/lau-ran-can-tho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lẩu Rắn</i></p>
            </div>
        </div>
        <br>
        <p>Món lẩu rắn tuy bề ngoài có vẻ “kinh dị”, thách thức lòng can đảm của thực khách nhưng nếu vượt qua được cảm giác sợ hãi ban đầu, đây quả là món ăn hấp dẫn, đặc trưng cho ẩm thực miền Tây.</p>
        <p>Nếu có dịp du lịch Cần Thơ, bạn đừng quên thưởng thức món lẩu rắn thơm ngon lạ miệng này tại <b>quán Lẩu Rắn Miền Tây</b>: 29 Trần Văn Hoài, Xuân Khánh, Quận Ninh Kiều, TP Cần Thơ.</p>
        <h5 id="ChaoCoi" style="color: green;"><b>Cháo Cối</b></h5>
        <p>Có dịp về Cần Thơ, bạn hãy một lần ghé quán Cháo Cối để thả hồn mình vào không gian đồng quê yên ả, ngồi hóng gió bên những chiếc bàn, ghế thô mộc để cùng thưởng thức món cháo cối miền Tây độc đáo. Cháo cối là cháo nấu trong cối nhôm với gà ác ngon mềm, khá độc và lạ.</p>
        <div class="card" style="width: 80%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/10/chao-coi-can-tho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Cháo Cối</i></p>
            </div>
        </div>
        <br>
        <p><b>Địa chỉ ăn cháo cối Cần Thơ</b></p>
        <ul><li><b>Quán Cháo Cối MT.68: </b> số 231,Vành Đai Phi Trường, phường An Thới, quận Bình Thủy, Cần Thơ</li></ul>
        <h5 id="ChaoCoi" style="color: green;"><b>Cá Linh Bông Điên Điển</b></h5>
        <p>Nếu bạn đi du lịch Cần Thơ vào mùa nước nổi đừng quên thưởng thức món lẩu cá linh bông điên điển. Mỗi khi mùa lũ đến, hoa điển điển bắt đầu nở rộ, cá tôm cũng ùa về rợp cả ruộng đồng. Chính những điều tự nhiên này đã tạo nên món ngon canh chua cá linh bông điên điển thơm ngon là món ăn đặc trưng của Miền Tây mùa nước nổi. Ngoài ra còn có gỏi bông điên điển, canh chua cá linh bông điền điền.. củng rất ngon.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/laucalinhbongdiendien.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lẩu cá linh bông điên điển</i></p>
            </div>
        </div>
        <br>
        <h5 id="Hoa" style="color: green;"><b>Món ăn người Hoa</b></h5>
        <p>Cuối thế kỷ XIX đầu thế kỷ XX, Cần Thơ bắt đầu có một số người Hoa đến định cư, lập nghiệp. Nhờ vị thế trung tâm của Cần Thơ, cộng đồng người Hoa ở đây ngày càng đông. Chính vì vậy khi ghé thăm mảnh đất Cần Thơ bạn đừng quên khám phá văn hóa ẩm thực độc đáo của người Hoa nơi đây.</p>
        <div class="card" style="width: 80%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/10/hoanh-thanh.jpg" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Các món ăn phải kể đến như: vịt quay, hoành thánh, há cảo,  xíu mại, há cảo…Xin giới thiệu đến du khách những quán ẩm thực trung Hoa nổi tiếng tại Cần Thơ:</p>
        <ul style="line-height: 30px;">
            <li><b>Hưng Quân Mì Gia: </b> 33 đường Nam Kỳ Khởi Nghĩa, Q. Ninh Kiều, TP Cần Thơ.</li>
            <li><b>Cẩm Ký: </b> Cơ sở 1: 37 đường Đề Thám – cơ sở 2: 63 Võ Văn Tần, Ninh Kiều, Cần Thơ.</li>
            <li><b>Gia Hảo The Dimsum: </b> 95 Trần Văn Hoài, P. Xuân Khánh,  Quận Ninh Kiều, Cần Thơ.</li>
            <li><b>Crystal Jade Kitchen:</b> Vincom Xuân Khánh, 209 đường 30/4, Q. Ninh Kiều, TP Cần Thơ.</li>
            <li><b>Bamboo Dimsum:</b> Tầng trệt Lotte Mart Cần Thơ, 84 Mậu Thân, Q. Ninh Kiều, TP Cần Thơ.</li>
            <li><b>Há cảo Hồng Kông: </b> 94 đường Nguyễn Việt Hồng, Q. Ninh Kiều, TP Cần Thơ</li>
            <li><b>Viễn Lạc: </b> 209 đường Phan Đình Phùng, Q. Ninh Kiều, TP Cần Thơ.</li>
            <li><b>Viễn Hưng:</b> 61 đường Võ Văn Tần, Q. Ninh Kiều, TP Cần Thơ.</li>
            <li><b>Hảo Vị:</b> 5 đường Trần Bình Trọng, Q. Ninh Kiều, TP Cần Thơ.</li>
        </ul>
        <h4 id="Qua">Đặc sản Cần Thơ mua về làm quà?</h4>
        <p>Cần thơ có rất nhiều món đặc trưng khác nhau hấp dẫn khách du lịch nhưng để mang về làm quà cho bạn bè và người thân thì xin gợi ý một số đặc sản Cần Thơ sau:</p>
        <p><b style="color: green;">Bánh tét lá cẩm:</b> thương hiệu bánh tét gia truyền nhà họ Huỳnh là nổi tiếng ngon nhất mua tại các khu chợ Bình Thủy và chợ An Nghiệp. Hoặc du khách có thể mua bánh tét ở chợ Cần Thơ, chợ Xuân Khánh hoặc góc đường Phan Đình Phùng – Xuân Trào. </p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/banh-tet-la-cam-can-tho.jpg" class="card-img-top" alt="...">
        </div>
        <br>
        <p><b style="color: green;">Bánh Tráng Thuận Hưng: </b> bánh tráng làng nghề truyền thống Thuận Hưng tồn tại hơn 200 năm thuộc quận Thốt Nốt. Các loại bánh tráng mà du khách có thể chọn bao gồm bánh mặn, bánh lạt, bánh nem và bánh dừa.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/banh-trang-thuan-hung.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Bánh tráng Thuận Hưng</i></p>
            </div>
        </div>
        <br>
        <p><b style="color: green;">Nem Cái Răng: </b> Nem Cái Răng được bán rất phổ biến ở Cần Thơ nhưng nếu bạn muốn mua nem ngon thì bạn nên chịu khó đi đến tới làng “nem” cách thành phố Cần Thơ khoảng 5km. Ở đây có rất nhiều lo nem ngon nổi tiếng như: Bà Năm, Minh Thu, cô Phúc,…Nem Cái Răng có nét đặc trưng riêng, mở lọn nem màu đỏ au láng bóng, vừa ngọt thơm, giòn mà dai, béo bùi, hương vị thật đậm đà.</p>
        <div class="card" style="width: 70%; margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/nem-cai-rang-can-tho1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Nem Cái Răng Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p>Trái cây – thì bạn có thể mua tại nhà vườn hoặc khu chợ. Đặc biệt có Dâu Hạ Châu đặc sản vùng đất Phong Điền thì bạn có thể mua tại các nhà vườn Phong Điền.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/dau-ha-chau-phong-dien1-1024x701.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Dâu Hạ Châu đặc sản Phong Điền Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p><b style="color: green;">Ca Cao Mười Cương</b></p>
        <p>Bạn vào tận vườn Ca Cao của Chú Mười Cương địa chỉ 275 Ấp Mỹ Ái – Xã Mỹ Khánh, Huyện Phong Điền – Tp. Cần Thơ hướng đi khu du lịch Mỹ Khánh.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/ca-cao-muoi-cuong.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Ca Cao Mười Cương</i></p>
            </div>
        </div>
        <br>
        <p>Tại đây Quý Khách vừa tham quan được vườn Ca Cao, xem quy trình chế biến Ca Cao và mua các sản phẩm như bột ca cao, rượu ca cao, chocolate… được làm từ hạt ca cao Phong Điền chính hiệu về làm quà cho người thân.</p>
        <p><b style="color: green;">Các loại đồ khô,  mắm:</b> Cá khoai khô, cá lóc khô, cá ba sa khô, cá kèo, cá sặc rằn, cá trạch, rắn khô, nhái khô… và mắm đóng hộp đậm vị miền tây cũng là những sản phẩm không nên bỏ lỡ trong túi đồ trở về của mỗi du khách. Được bán ở khắp các chợ như Cái Khế, Tân An hoặc các cửa hàng chuyên về đặc sản Miền Tây.</p>
        <div class="card" style="width: 70%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/kho-ca-loc.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Khô Cá Lóc</i></p>
            </div>
        </div>
        <br>
        <p><b style="color: green;">Rượu mận Sáu Tia: </b> được ngâm ủ cho lên men hoàn toàn tự nhiên từ mận chín và mạch nha chứ không có bất kỳ chất hóa học nào nên khi uống vào thì dù bạn có say, lúc tỉnh dạy bạn cũng sẽ không bị đau đầu mà còn rất tốt cho sức khỏe nếu bạn uống điều độ. Rượu mận được đựng trong bình rượu hình trái mận cực đẹp.Bạn có thể tới địa chỉ số 534/13 đường 30/04, phường Hưng Lợi, quận Ninh Kiều hoặc tới tận nhà ông Sáu Tia ở Tân Lộc, phường Tân Lộc, quận Thốt Nốt để mua cho mình loại rượu mận chính hãng nhé!</p>
        <div class="card" style="width: 90%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/ruou-man-sau-tia.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Rượu mận Sáu Tia</i></p>
            </div>
        </div>
        <br>
        <p><b style="color: green;">Đồ lưu niệm, thủ công mỹ nghệ: </b> Bạn có thể mua một số đồ vật đặc trưng của người Nam Bộ như: khăn rằn, áo bà ba, đồ thủ công mỹ nghệ… để tặng cho người thân những món quà dễ thương mang đặc trưng Nam Bộ tại các Shop Quà tặng miền Tây, TP. Cần Thơ. Cơ sở Nhịp Cầu – 20B Nguyễn Văn Cừ, Công ty Thủ công mỹ nghệ Minh Hùng – 172/1 Trần Phú, HTX Kim Hưng – Thạnh Mỹ, Phòng trưng bày sản phẩm của HTX Minh Hưng tại Sở công nghiệp thành phố Cần Thơ, Tặng phẩm Bích Ngọc – 09 Nguyễn Trãi, Tre Việt – 49 Nguyễn Trãi.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/khan-ran-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Khăn rằn – Nét đặc trưng của người dân Nam bộ</i></p>
            </div>
        </div>
        <br>
        <p><b style="color: green;">Bánh kẹo: </b> Đến Cần Thơ bạn đừng quên mua các Sản phẩm bánh kẹo thơm ngon của Làng nghề bánh kẹo Ba Rích truyền thống tại quận Ô Môn, TP Cần Thơ. Các sản phẩm chủ yếu của làng bánh kẹo Ba Rích là các loại bánh ngọt như bánh mè, bánh gai, bánh đường, bánh kẹp, bánh sampa, bánh tây, bánh xốp kem, bánh bơ. Hay Bánh Cốm Gạo, Kẹo dừa nóng, bánh Cốm Gạo… tại lò cốm nổ Cái Sơn.</p>
        <div class="card" style="width: 100%;margin: auto;">
            <img src="https://thamhiemmekong.com/wp-content/uploads/2019/08/banh-keo-can-tho.jpg" class="card-img-top" alt="...">
        </div>
        <br>
        <h4 id="MuaSam"><b>Địa chỉ mua sắm tại thành phố Cần Thơ</b></h4>
        <ul>
            <li><b>Trạm Dừng chân Cầu Cần Thơ: </b> Quốc lộ 1A, P. Hưng Phú, Q. Cái Răng, TP. Cần Thơ.</li>
            <li><b>Cửa Hàng đặc sản Cần Thơ: </b> 176H Nguyễn Thị Minh Khai, Ninh Kiều, Cần Thơ.</li>
            <li><b>Cửa hàng đặc sản Miền Tây: </b> An Bình, Ninh Kiều, Cần Thơ.</li>
            <li><b>Siêu thị Go: </b> khu dân cư Hưng Phú, Quận Cái Răng.</li>
            <li><b>Siêu thị CoopMart: </b> 1 Hòa Bình, quận Ninh Kiều.</li>
            <li><b>Vincom Cần Thơ: </b> 2 Hùng Vương, quận Ninh Kiều.</li>
            <li><b>Trung tâm thương mại Sense City: </b> 1 đại lộ Hòa Bình, quận Ninh Kiều.</li>
            <li><b>Chợ nổi Cái Răng, Chợ Nổi Phong Điền: </b> chủ yếu là trái cây và nông sản.</li>
            <li><b>Chợ Cần Thơ: </b> đường Hai Bà Trưng, ngay trung tâm thành phố Cần Thơ, gần bến Ninh Kiều.</li>
            <li><b>Chợ đêm Ninh Kiều: </b> đồ lưu niệm.</li>
        </ul>
        <p style="text-align: right;"><b>Nguồn: </b><a href="https://thamhiemmekong.com/thong-tin-du-lich-mien-tay/kinh-nghiem-du-lich-can-tho.html">https://thamhiemmekong.com/thong-tin-du-lich-mien-tay/kinh-nghiem-du-lich-can-tho.html</a></p>
    </div>
    <div class="fb-like" data-href="http://localhost:3000/kham-pha" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/kham-pha" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <br>
    <div class="fb-comments" data-href="https://www.facebook.com/login" data-width="100%" data-numposts="5"></div>
</div>
{{>footer}}