{{>header}}
<div style="background: linear-gradient(0deg, rgb(9, 24, 189) 0%, rgb(30, 247, 19) 100%);" class="background-news"></div>
<div class="container">
    <h2 class="tin-tuc font-effect-anaglyph"><b>KHU NGHỈ DƯỠNG GẦN GŨI THIÊN NHIÊN Ở CẦN THƠ</b></h2>
    <hr>
    <div class="fb-like" data-href="http://localhost:3000/tin-tuc/khu-nghi-duong-gan-gui-thien-nhien-o-can-tho" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/tin-tuc/khu-nghi-duong-gan-gui-thien-nhien-o-can-tho" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div class="fb-save" data-uri="https://www.facebook.com/login" data-size="large"></div>
    {{!-- <div class="myvne_save_for_later" data-token="620143b32414c7ba834db7e2e992962c" data-article-id="4511148" title="Lưu bài viết"><a href="javascript:void(0);" class="save"><svg class="ic ic-save-outline"><use xlink:href="#Save-1"></use></svg>Lưu</a></div> --}}
    <a style="margin-left: 10px;" href="javascript:;" class="circle_s flexbox print print_content" title="In"><i class="ic ic-print"></i></a>
    <br>
    <div style="text-align: center; font-weight: bold; width: 80%; margin: auto;">
        <p class="pt-3"><b>Tọa lạc tại Cồn Ấu, quận Cái Răng, Azerai Cần Thơ ghi điểm với khung cảnh xanh mát, yên bình, là điểm đến cho du khách trải nghiệm, thư giãn.</b></p>
        <br>
        <div class="card" style="width: 900px; height: 590px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/15/AZCT-Overview-Pool-And-The-Cafe-Early-Morning-1663259236.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OZkqbqpLU5Toya3QeTUTaw" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Khu nghỉ dưỡng chỉ cách TP Cần Thơ chỉ vài phút di chuyển bằng thuyền, được xây dựng trên một cồn đảo riêng biệt, bao bọc bởi sông Hậu, với các hồ nước, kênh rạch, vườn cây xanh mát.</p>
        <br>
        <div class="card" style="width: 900px; height: 590px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/15/z3718821058140-481a6a69f18444d17e4dc6cf8a405970-1663259265.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=5nl2X0Qzzj6S4kdNGcWA2Q" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Theo đại diện khu nghỉ dưỡng, Azerai Cần Thơ có thiết kế đặc trưng sông nước miền Tây Nam Bộ, nhiều mảng xanh tự nhiên, ẩn mình dưới nhiều tán cây si cổ thụ trăm tuổi xanh mát và hàng trăm cây ngập nước, khu vườn cây trái xen kẽ những bãi cỏ trải dài.</p>
        <br>
        <div class="card" style="width: 900px; height: 590px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/15/AZCT-The-Rooms-Connecting-Rooms-1663259305.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=Suw5ZoQMmYk5OGcRsR1izQ" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Azerai Cần Thơ sở hữu 60 phòng trong quần thể 30 bungalow hai phòng. Mỗi phòng rộng khoảng 35 mét vuông, có tầm nhìn thoáng đãng ra sông, hồ và các khu vườn xanh.</p>
        <br>
        <div class="card" style="width: 900px; height: 590px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/15/AZCT-Rooms-Overview-1663259345.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=qVEa1sH1bQCBcKw7V-3CMQ" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Nội thất bên trong khu nghỉ dưỡng là sự phối hợp giữa đá, đá phiến, gỗ sáng màu với các vật dụng trang trí làm bằng mây, trần nhà cao với độ dốc tạo cảm giác rộng rãi.</p>
        <br>
        <div class="card" style="width: 900px; height: 590px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/15/AZCT-The-Swimming-Pool-Daylight-1663259372.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=HI14j1RdoPjhaDiqkXOmoQ" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Hồ bơi vô cực hình chữ nhật nằm giữa khu vực nhà hàng The Cafe và khu Lounge là điểm nhấn thú vị. Du khách có thể thư giãn cả ngày ở bể bơi với các bữa ăn nhẹ và đồ giải khát.</p>
        <br>
        <div class="card" style="width: 900px; height: 590px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/16/A-6-1663346939.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=Td7Ifm_x9H5EEOpXFT41MQ" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Mọi góc trong khu nghỉ dưỡng được sắp xếp hài hòa. Du khách vừa nhâm nhi bên tách trà ấm nóng vừa ngắm nhìn vẻ đẹp của hồ sen.</p>
        <br>
        <div class="card" style="width: 900px; height: 590px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/15/AZCT-The-Cafe-Flavors-of-The-Mekong-Delta-1663259424.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=VIwHhhqeguq_p2KbRNMd6g" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Tại nhà hàng Café trong khu nghỉ dưỡng, du khách có dịp thưởng thức những món ăn mang đậm phong vị địa phương hoặc có thể chọn ẩm thực quốc tế và học công thức pha chế rượu mới nhất.</p>
        <div class="card" style="width: 900px; height: 590px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/15/fe906a7c810a45541c1b-1663259446.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=FZTQryScMurpTlentDlDfA" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Nếu thích, đội ngũ Azerai Cần Thơ sẽ sắp xếp một bữa tối lãng mạn bên bờ sông hoặc dưới tán cây đa, để bạn cùng người đặc biệt hưởng trọn những phút giây riêng tư giữa không gian bình yên.</p>
        <br>
        <div class="card" style="width: 900px; height: 590px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/15/AZCT-Pathway-Under-Banyan-Trees-Afternoon-1663259474.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=rE0utd14FaoSvFb61lrzTw" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Sau khi trải nghiệm hồ bơi, thưởng thức ẩm thực, du khách có thể đi dọc các cung đường uốn lượn quanh những cây si trăm tuổi dưới ánh hoàng hôn, cho cảm giác thêm thư thái, dễ chịu.</p>
        <br>
        <div class="card" style="width: 900px; height: 590px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/15/707bbe8272f4b6aaefe5-1663259508.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=V0Bn3TjaqhipSYo0tWjoiQ" class="card-img-top" alt="...">
        </div>
        <br>
        <p>Khu nghỉ dưỡng còn trang bị xe đạp để du khách tự do khám phá khuôn viên xanh.</p>
        <br>
        <div class="card" style="width: 900px; height: 760px; margin: auto;">
            <img style="height: 590px;" src="https://i1-dulich.vnecdn.net/2022/09/16/thumbnail-A-11-1663347002.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=2yfhwc8BBgqtbbsJFqQ_-w" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Ngoài trải nghiệm nghỉ dưỡng, du khách có dịp ngắm hoàng hôn đẹp trên sông Hậu và thưởng thức những món đặc trưng trên chiếc tàu gỗ, đã được khu nghỉ dưỡng 
                    sắp xếp sẵn. Đặc biệt, từ Azerai Cần Thơ, du khách dễ dàng trải nghiệm nhiều điểm đến nổi tiếng khác như: chợ nổi Cái Răng, bến Ninh Kiều, nhà cổ Bình Thủy, vườn cò Bằng Lăng, Thiền viện 
                    Trúc Lâm Phương Nam... Với vị trí địa lý thuận lợi, ngắm sông sông Hậu trong lành, Azerai Cần Thơ là một trong những điểm đến trải nghiệm phù hợp cho đông đảo du khách trong và ngoài nước. 
                    Liên hệ Resort Azerai Cần Thơ ở Cồn Ấu, phường Hưng Phú, quận Cái Răng, TP Cần Thơ. Tel: +84 (0) 292 3627 888. 
                    Email: <a href="mailto:reservations.cantho@azerai.com" target="_blank">reservations.cantho@azerai.com</a>. <a href="https://azerai.com/" target="_blank">Website</a>.</p>
            </div>
        </div>
        <br>
        <p style="text-align: right;">Thư Kỳ (<i>ảnh: </i>Azerai Cần Thơ)</p>
        <p style="text-align: center;">Nguồn: <a href="https://vnexpress.net/khu-nghi-duong-gan-gui-thien-nhien-o-can-tho-4511148.html">https://vnexpress.net/khu-nghi-duong-gan-gui-thien-nhien-o-can-tho-4511148.html</a></p>
        <hr>
        <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
        {{>comment}}
    </div>
</div>
{{>footer}}