{{>header}}
<div style="background: linear-gradient(0deg, rgb(189, 51, 9) 0%, rgba(247,175,19,1) 100%);" class="background-news"></div>
<div class="container" style="text-align: justify; width: 80%; margin: auto;">
    <h1 class="tin-tuc font-effect-anaglyph mt-2"><b>LỊCH SỬ VÙNG ĐẤT CẦN THƠ</b></h1>
    <hr>
    <div class="fb-like" data-href="http://localhost:3000/kham-pha" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/kham-pha" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div class="fb-save" data-uri="https://www.facebook.com/login" data-size="large"></div>
    <br>
    <P class="pt-3">
        Thời điểm lịch sử hình thành vùng đất Cần Thơ được khai mở và có mặt trên dư đồ Việt Nam từ năm 1739, với tên gọi Trấn Giang. Nếu tính xa hơn nữa, thì vùng đất này đã xuất hiện và tồn tại trong quá trình hình thành vùng Châu thổ sông Cửu Long từ trước Công nguyên. 
        Đến ngày 23 tháng 2 năm 1876, sau khi đã chiếm trọn Nam kỳ lục tỉnh, thực dân Pháp mới ra nghị định lấy huyện Phong Phú (Trấn Giang xưa) và một phần huyện An Xuyên và Tân Thành thuộc tỉnh An Giang (thời vua Minh Mạng) để thành lập hạt Cần Thơ.
    </P>
    <br>
    <div class="card" style="width: 800px; margin: auto;">
        <img src="http://tourismcantho.vn/files/images/diem-den/lich-su-van-hoa/273503_img850721793jpg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center"><i>Ảnh minh họa  (Nguồn: Internet)</i></p>
        </div>
    </div>
    <br>
    <h4><b>I. CÔNG CUỘC KHẨN HOANG Ở NAM BỘ – CHÂU THỔ SÔNG CỬU LONG, VÀ SỰ HÌNH THÀNH THỦ SỞ TRẤN GIANG:</b></h4>
    <p>
        Vào thế kỷ XIII, Châu Đạt Quang khi đi thuyền theo cửa biển vào sông Tiền, theo hướng Tây – Nam, đến Ăng Co đã ghi nhận trong sách “Chân Lạp phong thổ ký” nói về vùng châu thổ sông Cửu Long như sau: “Nhìn lên bờ, chúng tôi thấy toàn là cây mây cao vút, cổ thụ, cát vàng, lau sậy trắng, thoáng qua không dễ gì biết được lối vào. Thế nên các thuỷ thủ cho rằng rất khó mà tìm đúng cửa sông”. 
        Đến cuối thế kỷ thứ XVIII, khi miệt trên Đồng Nai – Sài Gòn đã có thôn làng, bộ máy hành chính cai trị cấp Phủ huyện đã chính thức thiết lập từ 1698, thì toàn vùng này từ cửa biển trở lên vẫn còn là “rừng rậm hàng ngàn dậm”.
    </p>
    <p>
        Trên không gian hoang vu của vùng đất phương Nam, mãi đến thế kỷ XVI, XVII mới được các tập đoàn lưu dân kéo tới khai khẩn, mở ra một tiến trình lịch sử mới với một mô thức văn hoá khác. Trong tiến trình đó, Cần Thơ xưa là “lõm” đất chẳng những được khai phá có phần muộn màng so với miệt trên Đồng Nai – Sài Gòn mà cả với miệt dưới (Hà Tiên). 
        Cuối thế kỷ XVII, ông Mạc Cửu là người Châu Lôi, tỉnh Quảng Đông – Trung Quốc không thần phục nhà Thanh cùng nhiều đoàn tuỳ tùng và dân cư theo đường biển kéo thẳng vào miệt Hà Tiên giáp xứ Chân Lạp (Campuchia) mở vùng đất mới, khai khẩn, lập nghiệp. Ông “Chiêu mộ dân phiêu tán về Hà Tiên, Phú Quốc, Lũng Kỳ, Cần Bột, Vũng Thơm, Rạch Giá, Cà Mau lập làm 7 xã thôn…”. 
        Lúc đầu ông Mạc Cửu xin thần phục vương quốc Chân Lạp, nhưng sau này bị quân Xiêm đánh phá liên tiếp mà triều đình Chân Lạp thì không đủ sức che chở, nên ông quyết định sai thuộc hạ là Trương Cầu, Lý Xá đệ biểu văn trần tình đến kinh đô Phú Xuân, xin dâng bảy xã thôn mình khai phá cho Chúa Nguyễn. Mùa thu tháng 8 năm Mậu Tý (1708), Chúa Nguyễn Phước Chu sắc phong cho ông Mạc Cửu làm Tổng binh trấn Hà Tiên. 
        Ông Mạc Cửu lập đồn dinh ở Phương Thành, nhân dân qui tụ ngày càng đông. Năm 1732, toàn bộ đất phương Nam được Chúa Nguyễn phân định ra làm 3 Dinh và 1 Trấn. Đó là Trấn Biên Dinh (vùng Biên Hoà), Phiên Trấn Dinh (vùng Gia Định), Long Hồ Dinh (vùng Vĩnh Long) và Trấn Hà Tiên. Năm 1735, Tổng trấn Mạc Cửu mất. Con ông là Mạc Thiên Tích (trước đó có tên là Mạc Thiên Tứ) được phong làm Tổng trấn nối nghiệp cha. 
        Từ Hà Tiên, ông đẩy mạnh công cuộc khai mở thêm vùng đất hữu ngạn sông Hậu. Năm 1739, ông đã hoàn thành việc khai mở này và lập thêm 4 vùng đất mới mà “ Gia Định thành thông chí” gọi là “đạo” gồm: Long Xuyên (Cà Mau), Kiên Giang (Rạch Giá), Trấn Giang (Cần Thơ), Trấn Di (Bắc Bạc Liêu), để sáo nhập vào đất Hà Tiên.
    </p>
    <p>Tổng trấn Mạc Thiên Tích thấy Trấn Giang có một vị trí chiến lược để làm hậu cứ vũng chức cho Hà Tiên nhằm chống lại quân Xiêm và quân Chân Lạp thường xuyên xâm lấn và quấy phá. Thế nên, trước đó ông Mạc Cửu đã mở mang đất Hà Tiên thế nào thì lúc này ông Mạc Thiên Tích cũng xây dựng Trấn Giang như thế về mọi mặt: quân sự, kinh tế, thương mại và văn hoá.</p>
    <p>Chính đại thần Nguyễn Cư Trinh được Chúa Võ Vương Nguyễn Phúc Khoát phái vào Nam từ năm 1753, đã gặp Tổng trấn Mạc Thiên Tích và rất đồng tình về mưu lược của ông này. Hai hiền tài đã bàn và nhất trí nhau trong kế hoạch xây dựng Trấn Giang. Từ đó Trấn Giang càng được phát triển và trở thành một “thủ sở” mạnh ở miền Hậu Giang.</p>
    <p>Sách Gia Định thành thông chí khi viết về sông Hậu ngày xưa có đề cập đến Thủ sở Trấn Giang nằm trên bờ Tây sông Hậu thượng lưu từ phía Đông thành Nam Vang chảy xuống Châu Đốc, Cần Đăng, vô Nam đến thủ Cường Oai, núi Lấp Vò, rồi đến thủ Trấn Giang, qua đạo Trấn Di, ra cửu biển Ba Thắc…”</p>
    <p>
        Đầu năm 1755, Đại thần Nguyễn Cư Trinh, đang điều khiển sĩ tốt 5 dinh Bình Khang, Bình Thuận, Trấn Biên, Phiên Trấn và Long Hồ (tức từ Phú Khánh đến Vĩnh Long ngày nay) giúp ông Thiện Chính lo việc bình ổn ở biên giới Tây Nam thì Nặc Nguyên (Vua Campuchia thời xưa) dựa vào quân Xiêm bức lại dân Côn Man (người Chăm sống ở Campuchia) và quấy rối biên cảnh nước ta. 
        Sau khi Nguyễn Cư Trinh đem quân giải cứu cho người Côn Man và định cư họ ở núi Bà Đen (Tây Ninh), thì bấy giờ, Chúa Nguyễn và các quan tướng có ý định cất quân đi hỏi tội Nặc Nguyên. Nặc Nguyên thấy rõ thanh thế quân nhà Nguyễn liền chạy qua Hà Tiên nhờ Tổng trấn Hà Tiên là Mạc Thiên Tích làm trung gian đặt lại mối quan hệ. Mạc Thiên Tích viết sớ dâng lên, 
        nhưng Chúa Nguyễn không đồng ý vì cho Nặc Nguyên là kẻ tiếm vị và dối trá. Nguyễn Cư Trinh dâng sớ can Chúa: “Từ xưa sở dĩ dùng binh chẳng qua là để diệt trừ kẻ cừ khôi, mở mang bờ cõi. Nay Nặc Nguyên đã biết hối lỗi, nộp cống cầu hoà. Nếu cứ truy mãi lời dối trá ấy thì chúng tất chạy trốn. Vả lại từ đồn dinh Gia Định đến La Bích đường sá xa xôi, nghìn rừng muôn suối, 
        không tiện đuổi đến cùng (…) chi bằng uỷ thác cho thần xem xét, xem hình thế, đặt luỹ đóng góp quân, chia cấp ruộng đất cho quân dân cày cấy, vạch định biên giới lại rõ ràng”.
    </p>
    <p>
        Lời tâu của đại thần Nguyễn Cư Trinh được Chúa chấp thuận, đã mở ra một hướng chiến lược quan trọng cho công cuộc khai hoang lập nghiệp trên “lõm” đất Tầm Phong Long (vùng Bassac) còn hoang hoá này. Nguyễn Cư Trinh cho dời dinh Long Hồ từ Cái Bè qua bên kia sông Tiền (tỉnh Vĩnh Long ngày nay); lấy xứ Sa Đéc đặt đạo Đông Khẩu, xứ Cù Lao ở sông Tiền đặt đạo Tân Châu, 
        xứ Châu Đốc ở sông Hậu đặt đạo Châu Đốc và đem binh ở dinh Long Hồ trấn thủ các địa điểm xung yếu nơi địa đầu có ý nghĩa là một quân khu, vừa có chức năng quân sự – quốc phòng, vừa đảm nhận chức năng hành chính – cai trị teo chế độ quân quản, thuộc dinh Long Hồ – một đơn vị hành chính – quân sự thuộc Nhà nước Trung ương. Ba đạo Đông Khẩu, Tân Châu, Châu Đốc bố trí 
        theo hình tam giác hỗ trợ cho nhau. Ở miệt dưới, Tổng trấn Mạc Thiên Tích cũng sắp đặt lại các vùng hành chính – quân sự mới: Đặt xứ Rạch Giá làm đạo Kiên Giang, xứ Cà Mau làm đạo Long Xuyên, cắt cử quan lại cai trị, chiêu mộ cư dân lập thành thôn ấp. Hà tiên đến lúc này rộng lớn là như vậy.
    </p>
    <p>Thủ sở Trấn Giang ở bờ phía Tây sông Cần Thơ lập từ 1739, không chỉ là vị trí đồn thủ ở một địa điểm trên thuỷ lộ xung yếu mà là vùng khai mở rộng lớn dang tay đón người tứ phương từ miệt trên đổ xuống, miệt dưới đổ về để khai phá lập nghiệp và đặc biệt, trong bối cảnh thường bị quân Xiêm và quân xứ Chân Lạp sang xâm lấn, quấy phá thì Trấn Giang (Cần Thơ) là một vùng hậu cứ của Hà Tiên – Rạch Giá khi hữu sự. Nói cách khác, việc khai mở vùng Trấn Giang là một yêu cầu kinh tế và quân sự.</p>
    <p>Chính sử chép: “Ngày 3 tháng 10 năm Tân Mão (1771) quân Tiêm (Xiêm) tấn công thành Hà Tiên, Tôn Đức Hầu Mạc Thiên Tích cùng quan tướng của mình theo sông Giang Thành mà tẩu thoát; còn Hiệp Trấn mạc Tử Hoàn, Thắng Thuỷ Mạc Tử Xướng và Tham tướng Mạc Tử Dung đều đem thuỷ binh phá vòng vây theo đường biển chạy xuống Kiên Giang rồi qua Trấn Giang đồn trú”.</p>
    <p>…Mạc Thiên Tích chạy qua Châu Đốc, rồi rút về Tân Châu gặp được quân tiếp viện của Chúa Nguyễn đưa về Long Hồ tạm trú. Đến tháng 12 được chiếu khoan miễn tội, Mạc Thiên Tích lại được cấp tiền lương và được binh biền hộ vệ đưa về Trấn Giang cư trú, “đặng chiêu dụ kẻ lưu vong, để toan có ngày dẹp giặc”.</p>
    <p>Như thế, năm 1771, quân Xiêm, sau khi chiếm được Hà Tiên thì tiếp tục tràn tới Trấn Giang nhưng đã bị đánh trả quyết liệt và phải rút lui. Sau đó, thì Trấn Giang càng được cũng cố và phát triển rất mạnh.</p>
    <p>Năm 1774 nghĩa quân Tây Sơn đánh chiếm kinh thành Phú Xuân. Chúa Định Vương Nguyễn Phước Thuần và Nguyễn Ánh chạy vào Gia Định, trú ở địa phương Bến Nghé. Mạc Thiên Tích đích thân đến hầu, được Chúa phong làm Quốc lão Đô đốc quận công và gia phong cho 3 con là Mạc Tử Hoàng làm Chưởng Cơ, “Xướng” làm Thuỷ Thắng cơ đội và “Dung” làm Tham tướng Cai Cơ đều “cho về án thủ Trấn Giang đạo, chiêu tập lưu dân, tàn tốt Hà Tiên để chờ cơ hội”.</p>
    <p>
        Tháng 3 năm Đinh Dậu (1777) quân Tây Sơn vào chiếm Gia Định. Tháng 4, xa giá Chúa Nguyễn chạy xuống Trấn Giang đạo. Mạc Thiên Tích đón Chúa ở đấy. Tháng 8 quân Tây Sơn kéo xuống Miền Tây và Trấn Giang. Tháng 1 năm 1785, Nguyễn Huệ thân chinh chỉ huy quân Tây Sơn đánh tan 20 ngàn quân và 300 chiến thuyền của quân Xiêm mượn cớ vào giúp Chúa Nguyễn để xâm lược Việt Nam một lần nữa. Đó là trận Rạch Gầm Soài Mút (Tiền Giang). 
        Chúa Nguyễn tiếp tục chạy khỏi Trấn Giang và ra hòn Thổ Chu lánh nạn. Sang năm 1787, quân Tây Sơn rút khỏi các dinh trấn ở Miền Tây và quân nhà Nguyễn mới thu lại được các vùng này, trong đó có Trấn Giang.
    </p>
    <p>Như vậy, suốt thập niên 70 của thế kỷ XVIII, Trấn Giang đã trở nên một cứ điểm quan trọng và được phát triển trong bối cảnh lịch sử đầy xáo động.</p>
    <p>
        Tổng trấn Mạc Thiên Tích có hai người con được phong chức Tham tướng: Một là, Tham tướng Mạc Tử Dung giữ chức này trong trận chống Tiêm (Xiêm) ở Hà Tiên năm 1771 và sau đó, năm 1774 được Chúa Nguyễn gia phong chức Tham tướng Cai cơ cho về trấn thủ Trấn Giang đạo. Đến năm 1777, Mạc Tử Dung cùng Mạc Thiên Tích chạy qua tỵ nạn ở Vọng Các (BangKok ngày nay) và năm 1780, Tham tướng Mạc Tử Dung bị Phi Nhã Tân (vua Xiêm) 
        đánh chết vì nghi là người làm nội ứng trong mưu toan đánh chiếm Vọng Các. Mạc Thiên Tích tự tử chết trong cùng vụ này.
    </p>
    <p>
        Vị Tham tướng thứ hai, con của Mạc Thiên Tích, là Mạc Tử Sanh. Lúc cha con Mạc Thiên Tích bị Phi Nhã Tân làm hại thì các con thứ của ông là Tử Sanh, Tử Tuấn và Tử Thiêm vì còn nhỏ tuổi lại nhờ có Cao La Hâm Hốc (người Cao Miên làm quan nước Xiêm) thương tình giấu kín nên thoát chết. Về sau, năm 1784, Chúa Nguyễn nghĩ đến dòng dõi công thần còn xót lại, bèn dùng Tử Sanh làm Tham tướng phong tước Lý Chánh hầu. 
        Giữa năm 1787 đại binh Chúa Nguyễn chiếm lại đạo Kiên Giang, tiến vào Trấn Giang đánh phá quân Tây Sơn, rồi thẳng đến Ba Thắc, Trà Ôn, Mân Thít, Sa Đéc chia binh đồn trú. Tham tướng Mạc Tử Sanh đã tử trận trong khi đánh nhau với quân Tây Sơn.
    </p>
    <p>Như vậy, địa danh Tham Tướng (vùng rạch Tham Tướng thuộc phường Xuân Khánh, thành phố Cần Thơ hiện nay) được hình thanh như chỗ đồn trú của binh lính Chúa Nguyễn do tướng Mạc Tử Sanh cầm quân trong hệ thống liên lập với Măn Thít, Sa Đéc ở một phía, phía bên kia với Trà Ôn, Ba Thắc và miệt Bãi Sào, Sóc Trăng.</p>
    <p>Năm Quý Hợi – 1803, một năm sau khi lên ngôi, vua Gia Long phân định lại dư đồ cả vùng miền Tây sông Hậu, đổi tên dinh Long Hồ thành dinh Hoằng Trấn, sau đổi lại là Vĩnh Trấn và đến năm Mậu Thìn 1808, gọi tên mới là Trấn Vĩnh Thanh, là một trong 5 trấn của Gia Định thành thời ấy (Phiên An, Biên Hoà, Vĩnh Thanh, Định Tường và Hà Tiên). Trấn Giang vẫn nằm trong địa giới trấn Vĩnh Thanh.</p>
    <p>Đến năm Quý Dậu 1813, 26 năm sau ngày Tham tướng Mạc Tử Sanh tử trận tại Trấn Giang, vua Gia Long cắt một vùng đất phì nhiêu ở vùng hữu ngạn sông Hậu (bao gồm Trấn Giang – Cần Thơ xưa) để lập riêng một huyện Vĩnh Định, trực thuộc phủ Định Viễn, trấn Vĩnh Thanh.</p>
    <p>Năm Nhâm Thìn 1832, vua Minh Mạng ban chiếu dụ đổi “Trấn” thành “Tỉnh” và hình thành nên Nam kỳ lục tỉnh gồm: Biên Hoà, Gia Định, Định Tường, Vĩnh Long, An Giang, Hà Tiên. Nhà vua đã tách huyện Vĩnh Định (Cần Thơ xưa) ra khỏi phụ Định Viễn, tỉnh Vĩnh Long và cho trực thuộc phủ Tân Thành, tỉnh An Giang.</p>
    <p>Năm Kỷ Hợi 1839, vua Minh Mạng đổi tên huyện Vĩnh Định là huyện Phong Phú, trực thuộc phủ Tịnh Biên, tỉnh An Giang và lấy làng Tân An làm huyện trị của huyện Phong Phú. Từ đó, huyện Phong Phú tiếp tục phát triển và nổi tiếng là một vùng đất thạnh trị và an ninh khác hẳn mọi vùng ở miền Tây lúc bấy giờ.</p>
    <p>Trên bản đồ sơn văn của A.Pouyanne, Cần Thơ xưa là một giồng đất ven sông rạch có đô cao thuộc loại trên 2,50m. Đặc điểm tự nhiên này là một ưu điểm cho việc cư trú. Trong sách Cần Thơ xưa và nay nhà nghiên cứu Huỳnh Minh có trích một đoạn sách thời Gia Long Minh Mạng tả vị trí con sông Cần Thơ như sau:</p>
    <p>“Sông Cần Thơ ở phía Đông huyện Phong Phú 3 dặm, bờ phía Tây sông Hậu, rộng 4 trượng, sâu 2 trượng rưỡi. Bờ phía Tây sông này có cựu thủ sở đạo Trấn Giang. Bắt đầu từ phía Nam Đại Giang chảy xuống, thông sông Bồn, rồi do cửa sông ấy chảy qua đà Sưu, đà Răng, cách 13 dặm đến ngã ba Ba Láng. Chi phía Bắc chảy qua Đông 12 dặm thông với sông Bình Thuỷ, lại một chi nữa cũng do phía Bắc chuyển về hướng Đông 45 dặm chảy ra cảng khẩu đạo Kiên Giang, tục gọi là cửa Bé”.</p>
    <p>Cộng đồng dân cư ở đây từ ngày xưa gồm một bộ phận là binh lính và gia đình của quân binh Hà Tiên, Rạch Giá theo chồng, theo cha về trú ngụ ở Trấn Giang. Một bộ phận khác là những lưu dân từ miền ngoài đi vào, từ miền Đông đi xuống và ở lại trên đất Trấn Giang.</p>
    <p>“Rồng chầu ngoài Huế, ngựa tế Đồng Nai <br>
        Nước trong xanh, sao lại chảy hoài <br>
        Thương người xa xứ lạc loài đến đây…”.</p>
    <p>
        Một bằng chứng nữa là dấu vết văn hoá truyền thống từ miền ngoài còn thể hiện rõ ở Thường Thạnh, Phong Điền sau này như tục thờ Bà – Cậu (Bà Thuỷ và Cậu Chai – Cậu Quí) tục thờ các chúa Trân, chúa Ngọc, nữ thần Thượng Động Cố Hỉ… Tại đình làng Thới Bình có hai bài vị thờ Đồng Chinh Vương và Dực Thánh Vương là hai hoàng tử, con Vua Lý Thái Tổ – 
        vốn được coi là ông tổ khai hoang của các cộng đồng di dân đi khẩn hoang ở vùng đất mới miền duyên hải Bắc bộ và Trung bộ. Tại đình Bình Thuỷ, có thờ Đại càn quốc gia Nam hải tứ vị thánh nương nương gốc là thần ở cửa biển Cần Hải, Quỳnh Lưu (Nghệ An) để bảo vệ người đi biển.
    </p>
    <p>
        Xét về thời khai hoang, làng Tân An, Thới Bình đã được hình thành sớm ở trên vùng đất cao này. Có lẽ sóng gió của sông lớn, rạch to mà con người lúc đầu ấy chưa có đủ phương tiện để làm chủ sức mạnh vô thức của tự nhiên nên phải lánh vào nơi rạch nhỏ sóng lặng như rạch Cần Thơ, rạch Tham Tướng, rạch Bình Thuỷ. Ở làng Bình Thuỷ, như tên gọi của nó, 
        sông nước hiền hoà và phẳng lặng hơn; do vậy mà dân đến lập nghiệp sớm, nhanh chóng phát triển và trở thành nơi đất gốc của người dân Cần Thơ mà thế hệ sau này tự hào về nó. Về sau, qua thời gian tô điểm của con người, cảnh trí trở nên thi vị hơn và văn vật hơn, nên hậu thế lại đặt cho nó là Long Tuyền, coi ra mang hơi hám phong thuỷ của quan niệm địa linh nhân kiệt trên dòng sông phẳng lặng này.
    </p>
    <p>
        Ở đây, đường sông là mạch máu giao thông chính, ghe xuồng trở nên quan trọng đến mức thiết yếu. Làng xã luôn được hình thành trên các giồng đất trải dài theo sông, rạch và về sau là kinh đào. Chợ búa đều hình thành trên bến sông, rạch, kinh đào. Những khúc sông thuận lợi, giáp nước, cửa vàm, ngã ba, ngã tư là tụ điểm giao thương và tất yếu trở thành thị tứ – Trung tâm thương mại – 
        văn hoá của một vùng. Các chợ búa, thị tứ cổ xưa đều hình thành do sông rạch định vị. Các chợ thị tứ nằm sâu trong đất liền xa sông đều là mới thành lập, khi đường bộ đã phát triển, xe cộ đã phổ biến.
    </p>
    <p>
        Đặc điểm này có thể đã hình thành từ cuối thế kỷ XVIII ở vùng Bình Thuỷ – Cần Thơ và liên lập với các tụ điểm khác trải dài trên vùng đất trung lưu và hạ lưu sông Hậu. Bởi vậy nên đến đầu thế kỷ XIX được tác giả Gia Định thành thông chí nhắc đến như những trung tâm mua bán tương xứng với bên hữu ngạn sông Tiền là Sa Đéc, Long Hồ… Đó là: 1 – Trung tâm bờ phía Tây Thủ sở đạo Trấn Giang trên sông Cần Thơ, 
        2 – Trung tâm ở sông Trà Ôn, thuộc tổng Bình Chánh, nơi đây phố chợ trù mật; người Tàu, người Cao Miên tụ tập đông đảo”; và trung tâm Trường tàu Ba Thắc dưới hạ lưu sông Hậu là nơi có người Tây Dương đến buôn bán; có đủ người Việt, người Tàu, người Cao Miên chung lộn; đường phố, chợ quán nối dài liên tiếp.
    </p>
    <p>
        Nói chung đây là biểu hiện nổi bật nhất của cái mà các nhà nghiên cứu định danh là văn minh sông rạch mà ở mức độ cao hơn là các chợ nổi ở các giao lộ đường thuỷ chẳng hạn như Trà Ôn, Phong Điền, Phụng Hiệp sau này. Sông rạch có vai trò quan trọng cho giao thông và ngày trước, nó là con đường đưa người đi khai hoang sâu vào đất liền để định cư và thôn làng theo đó mà hình thành. Đối với xứ sở này ngày xưa, 
        rạch Cần Thơ từ đầu vàm giáp sông Hậu (bến Ninh Kiều ngày nay) chảy tới Phong Điền (Cầu Nhiếm) cùng với rạch Bình Thuỷ từ bờ sông Hậu chảy vào Giai Xuân – Long Tuyền là thuỷ lộ có vai trò lịch sử quan yếu đối với công cuộc khai canh định cư của xứ Cần Thơ ngày trước. Năm 1788, khi Chúa Nguyễn Ánh đã hoàn toàn làm chủ đất phương Nam và tiến dần ra Trung Bắc, Trấn Giang (Cần Thơ) bước vào giai đoạn xây dựng 
        hòa bình và càng ngày càng được cũng cố hệ thống hành chính – cai trị của nhà Nguyễn; theo đó, hệ ý thức Nho giáo cùng với những chế định về văn hoá – giáo dục, những chuẩn tắc về đạo đức và chuẩn mực ứng xử càng được phát triển.
    </p>
    <br>
    <h4><b>II. THỰC DÂN PHÁP CHIẾM TOÀN BỘ NAM KỲ LỤC TỈNH VÀ QUYẾT ĐỊNH THÀNH LẬP TỈNH CẦN THƠ:</b></h4>
    <p>Cuối thế kỷ XIX và đầu thế kỷ XX là giai đoạn lịch sử ở Nam kỳ lục tỉnh có nhiều biến động dữ dội. Thực dân Pháp chiếm 3 tỉnh miền Đông theo hoà ước nhượng bộ của Triều đình Huế năm 1862, rồi sau đó, qua ngày 20, 22 và 24 tháng 6 năm 1867 lại vi phạm hoà ước 1862, chiếm luôn hết 3 tỉnh miền Tây là Vĩnh Long, An Giang và Hà Tiên.</p>
    <p>Ngày 1 tháng giêng năm 1868, Thống đốc Nam kỳ là Bonard quyết định sáp nhập huyện Phong Phú (Trấn Giang – Cần Thơ) với Bãi Sào (Sóc Trăng) đặt thành một quận, lập toà bố tại Sa Đéc.</p>
    <p>Ngày 30 tháng 4 năm 1872, Thống đốc Nam kỳ ra nghị định sáp nhập Phong Phú với Bắc Tràng là một vùng thuộc phủ Lạc Hoá tỉnh Vĩnh Long lập thành một hạt, đặt toà bố tại Trà Ôn và chỉ một năm sau Toà bố Trà Ôn lại phải dời về Cái Răng (Cần Thơ).</p>
    <p>
        Ngày 23 tháng 2 năm 1876, Soái phủ Sài Gòn ra nghị định mới lấy huyện Phong Phú và một phần huyện An Xuyên và Tân Thành để lập nên hạt Cần Thơ với thủ phủ là Cần Thơ (làng Tân An, huyện trị của huyện Phong Phú cũ). Viên chánh tham biện (Tỉnh trưởng) đầu tiên trấn nhậm hạt Cần Thơ là đại uý Nicolai. Viên quan thực dân này cai trị một năm thì Villard đến thay. 
        Villard ở Cần Thơ chỉ được 3 tháng thì Nicolai trở lại Cần Thơ. Thời gian sau Nicolai, không có Viên chánh tham biện nào trấn nhậm Cần Thơ được lâu hơn. Chỉ từ 3 đến 10 tháng hoặc một vài năm là đổi đi. Năm 1889, Pháp đổi các đơn vị hành chính cấp hạt thành tỉnh và huyện đổi lại là quận.
    </p>
    <p>Từ năm 1876, thành lập hạt Cần Thơ, đến khi Pháp trở lại xâm chiếm Việt Nam lần thứ 2, vào năm 1945 và cho đến ngày Pháp thất trận ở Điện Biên Phủ, ký kết hiệp định Genève (Giơ-ne-vơ) năm 1954, thì địa giới hành chính tỉnh Cần Thơ trong thời Pháp thuộc vẫn không thay đổi. Tỉnh Cần Thơ gồm có thị xã Cần Thơ và các huyện Châu Thành, Ô Môn, Phụng Hiệp, Trà Ôn, Cầu Kè.</p>
    <p>Tuy nhiên, trong cuộc kháng chiến chống thực dân Pháp vào 2 năm 1948 – 1949 chính quyền kháng chiến có điều chỉnh một phần địa giới hành chính của các tỉnh. Cần Thơ nhận thêm huyện Thốt Nốt (của tỉnh Long Xuyên), các huyện Long Mỹ, Gò Quao, Giồng Riềng, thị xã Rạch Giá (của tỉnh Rạch Giá) và huyện Kế Sách (tỉnh Sóc Trăng). Tỉnh Cần Thơ giao 2 huyện Trà Ôn và Cầu Kè về tỉnh Vĩnh Trà (Vĩnh Long – Trà Vinh).</p>
    <p>Sau hiệp định Genève (Giơ-ne-vơ) năm 1954, nước Việt Nam ta tạm thời chia làm hai miền. Ở miền Bắc, dưới sự lãnh đạo của Đảng và Chính phủ Nước Việt Nam Dân chủ Cộng hoà, toàn dân ta ra sức khôi phục và phát triển kinh tế, khắc phục hậu quả chiến tranh, tiến hành cách mạng xã hội chủ nghĩa. Ở miền Nam, tạm thời do địch quản lý, nhân dân ta một lòng tin Đảng và tiếp tục làm cách mạng để giải phóng quê hương, tiến tới thống nhất nước nhà.</p>
    <p>
        Lúc này, đế quốc Mỹ nhảy vào thay chân Pháp, phá hoại hiệp định Genève (Giơ-ne-vơ), dựng lên chính quyền Ngô Đình Diệm làm tay sai cho Mỹ, biến miền Nam Việt Nam thành thuộc địa kiểu mới của Mỹ. Từ đó, địa giới hành chính trong chế độ cũ ở miền Nam nói chung và tỉnh Cần Thơ nói riêng có nhiều thay đổi. Năm 1956, chính quyền Ngô Đình Diệm quyết định đổi tên tỉnh Cần Thơ thành tỉnh Phong Dinh. 
        Năm 1961, tách một vùng đất ở Long Mỹ, Vị Thanh lập thành tỉnh Chương Thiện. Sau đó, các quận, các tổng, xã trong tỉnh Phong Dinh và tỉnh Chương Thiện đều có phân chia lại.
    </p>
    <p>
        Về phía chính quyền cách mạng, trong kháng chiến chống Mỹ cứu nước, ta vẫn duy trì tên tỉnh Cần Thơ. Địa giới hành chính có thay đổi một phần. Tháng 11 năm 1954, Long Mỹ và các huyện Gò Quao, Giồng Riềng, thị xã Rạch Giá đều đưa về tỉnh Rạch Giá trở lại. Huyện Kế Sách về tỉnh Sóc Trăng. Huyện Thốt Nốt về tỉnh Long Xuyên. Cần Thơ nhận lại 2 huyện Trà Ôn và Cầu Kè như cũ. 
        Năm 1956, hai huyện Trà Ôn và Cầu Kè đưa về Vĩnh Long (trong thời điểm Mỹ ngụy lập ra tỉnh mới “Tam Cần”). Năm 1957, huyện Long Mỹ lại về tỉnh Cần Thơ. Năm 1958, huyện Kế Sách (thuộc tỉnh Sóc Trăng) cũng về tỉnh Cần Thơ.
    </p>
    <p>Năm 1963, huyện Thốt Nốt (tỉnh Long Xuyên) đưa về tỉnh Cần Thơ.Năm 1966, hình thành thị xã Vị Thanh trực thuộc tỉnh Cần Thơ. Năm 1969, tách thị xã Cần Thơ ra khỏi tỉnh Cần Thơ trực thuộc khu Tây Nam bộ. Năm 1971, thị xã Cần Thơ trở lại thuộc tỉnh Cần Thơ. Năm 1972, thị xã Cần Thơ trở thành là thành phố Cần Thơ, trực thuộc khu Tây Nam bộ.</p>
    <p>Từ sau ngày giải phóng miền Nam, thống nhất Tổ quốc chính phủ ta công bố nghị định số 03/NĐ-76 ngày 24-3-1976 sáp nhập tỉnh Cần Thơ, tỉnh Sóc Trăng và thành phố Cần Thơ lập thành tỉnh mới lấy tên là Hậu Giang, tỉnh lỵ là thành phố Cần Thơ.</p>
    <p>Đến tháng 12 năm 1991, Quốc hội nước Cộng hoà Xã hội Chủ nghĩa Việt Nam khoá 8 trong kỳ họp thứ 10 đã ra nghị quyết tách tỉnh Hậu Giang thành 2 tỉnh Cần Thơ và Sóc Trăng. Thế là từ đầu năm 1992, tỉnh Cần Thơ được tái lập với tên gọi Cần Thơ đã từng xuất hiện hàng trăm năm trước.</p>
    <br>
    <h4><b>III. VỀ TÊN GỌI “CẦN THƠ” VÀ XUẤT XỨ CỦA HAI TIẾNG “TÂY ĐÔ”:</b></h4>
    <p>Về tên gọi Cần Thơ, trong sử sách xưa nay, không có ghi chép xuất xứ rõ ràng như tên gọi một số tỉnh khác, chỉ có những truyền thuyết do các bô lão địa phương đời trước kể lại cho con cháu đời sau. Theo nhà nghiên cứu Huỳnh Minh, trong quyển sách sưu khảo Cần Thơ xưa và nay xuất bản năm 1966 thì có hai truyền thuyết như sau:</p>
    <p>
        Ngày xưa, khi chưa lên ngôi vua, Chúa Nguyễn Ánh vào Nam và đã đi qua nhiều vùng châu thổ sông Cửu Long. Một hôm, đoàn thuyền của Chúa đi theo sông Hậu vào địa phận thủ sở Trấn Giang (Cần Thơ xưa). Đêm vừa xuống, thì đoàn thuyền cũng vừa đến Vàm sông Cần Thơ (bến Ninh Kiều ngày nay). Đoàn thuyền đang lênh đênh trên mặt nước ở ngã ba sông này, Chúa nhìn vào phía trong thấy nhiều thuyền bè đậu dài theo hai bờ sông, 
        đèn đóm chiếu sáng lập loè. Giữa đêm trường canh vắng, vọng lại nhiều tiếng ngâm thơ, hò hát, tiếng đàn, tiếng sáo hoà nhau nhịp nhàng. Chúa thầm khen về một cảnh quan sông nước hữu tình. Chúa mới có cảm nghĩ ban cho con sông này một cái tên đầy thơ mộng là Cầm thi giang tức là con sông của thi ca đàn hát. Dần dần 2 tiếng Cầm thi được lan rộng trong dân chúng và nhiều người nói trại ra là Cần Thơ. 
        Tên Cần Thơ nghe thấy hay và đẹp nên được người trong vùng chấp nhận và cùng gọi là sông Cần Thơ.
    </p>
    <p>Một truyền thuyết khác cho rằng: sông Cần Thơ ngày xưa ở hai bên bờ, dân chúng trồng rất nhiều rau cần và rau thơm. Ghe thuyền chở nhiều loại rau cần, rau thơm qua lại rao bán đông vui từ năm này qua năm khác. Vì vậy từ xa xưa, còn truyền lại những câu ca dao:</p>
    <p>“Rau cần, rau thơm xanh mướt,<br>
        mua mau kẻo hết <br>
        chậm bước không còn”.</p>
    <p>“Rau cần lại với rau thơm <br>
        Phải chăng đất ấy rau thơm có nhiều”</p>
    <p>Cũng có thể từ đó mà người địa phương lại gọi sông này là sông Cần Thơm, nói trại là Cần Thơ. Hai truyền thuyết Cầm Thi và Cần Thơm chưa biết cái nào là đúng nguồn gốc. Nhưng dù nói thế nào đi nữa, thì từ xa xưa, người dân địa phương đã gọi dòng sông quê hương mình là sông Cần Thơ.</p>
    <p>Đến năm 1876, khi Pháp lấy huyện Phong Phú, lập ra hạt mới thì đã dùng tên sông Cần Thơ để đặt tên cho hạt Cần Thơ rồi sau đó là tỉnh Cần Thơ.</p>
    <p>
        Về hai chữ Tây Đô, trước nay chưa có một văn bản Nhà nước nào chính thức gọi Cần Thơ là Tây Đô (thủ đô miền Tây). Tuy nhiên, do vị trí địa lý thuận lợi về giao thông, thương mại, công kỹ nghệ và cả về quân sự đều ở trung tâm khu vực châu thổ sông Cửu Long nên từ thời thực dân Pháp đô hộ đến thời Mỹ xâm lược, về phía ta và địch đều coi ở đây có vị trí trung tâm của vùng. 
        Sau ngày miền Nam hoàn toàn giải phóng, thống nhất đất nước, đi lên chủ nghĩa xã hội thì thành phố Cần Thơ vẫn được Nhà nước ta xác định vị trí là trung tâm của vùng Đồng băng sông Cửu Long.
    </p>
    <p>
        Dù sao, cũng cần tìm hiểu hai chữ Tây Đô; xuất hiện từ thời nào và ai là người xướng gọi đầu tiên để đến ngày nay, nhiều người vẫn quen gọi là Tây Đô. Theo các bài báo Cần Thơ xưa của nhà nghiên cứu Sơn Nam đăng liên tiếp nhiều kỳ trong báo Cần Thơ vào năm 1994, thì từ tháng 2 năm 1919, trên tạp chí Nam Phong đã có đăng loạt bài du ký Một thoáng ở Nam kỳ của ông Phạm Quỳnh. 
        Đây là nhà văn, nhà báo đầu tiên ở Bắc Hà vào viếng miền Nam. Tác giả Phạm Quỳnh lúc bấy giờ còn trẻ, chưa vào Huế làm quan cho triều đình.
    </p>
    <p>Nhà nghiên cứu Sơn Nam trích lại một đoạn trong bài báo của ông Phạm Quỳnh hồi ấy từng có nhã ý phong gọi tỉnh Cần Thơ là Thủ đô miền Tây. Đoạn trích bài báo ấy như sau:</p>
    <p>
        “Trước khi từ biệt các bạn Long Xuyên, nhân bữa chủ nhật, Phủ Đài (chủ quận Châu Thành, Long Xuyên) dắt đi chơi Cần Thơ. Từ Long Xuyên ra Cần Thơ ước 60 cây lô mét (nguyên văn) đi bằng xe hơi. Phải cái xe hơi chạy khí chậm nên đi mất từ sáng đến ngót trưa mới tới nơi, nhưng chậm vì đỗ ở Ô Môn mất non một giờ đồng hồ. Ô Môn là một quận lớn, giàu có nhất trong hạt Cần Thơ, 
        ở vào khoảng đường từ Long Xuyên đến Cần Thơ. Cai trị quận Ô Môn là quan đốc phủ Nguyễn Đăng Khoa, người đã có tuổi mà tính tình vui vẻ lắm. Khi trở về, ngài còn giữ ăn cơm chiều, nói chuyện khoái trá lắm. Ngài khi xưa còn theo quân thứ ở mấy tỉnh Bắc kỳ và khắp cả các tỉnh Trung kỳ, có tài săn bắt ít người bằng. Hiện chỗ ngài ngồi chơi còn bài la liệt các thứ súng. 
        Ngài chỉ một cây súng lớn mà nói rằng: “Cây súng này tôi đã từng bắn mấy chục con hổ ở cùng Bình Thuận, Phú Yên đây”.Rồi ngài kể chuyện một bữa bắn được con hổ to lớn lạ thường, khi nó vươn mình ra từ đầu đến cuối đuôi có tới 6 thước tây, nó làm kinh hoàng cả một vùng đó, ăn hại không biết bao nhiêu người và sức vật, người dân đã cho là hổ thần, đành chịu không ai bắn nổi. 
        Nhà săn bán đại tài thấy những miếng nguy hiểm hay liều mình. Ngài bèn cùng mấy người đầy tớ giỏi đem chiếc súng lớn vào rừng. Quả gặp hổ thần thật… Quan đốc phủ nói chuyện vui quá, muốn ngồi nghe mãi không chán.
    </p>
    <p>Con đường từ Long Xuyên đến Cần Thơ tốt lắm, giữa đổ đá, hai bên trồng cây, cái xe bon bon chạy giữa, coi phong cảch rất là ngoạn mục. Vả lại, đường bộ trong Nam kỳ này ở đâu cũng tốt như vậy: chẳng bù với đường Bắc kỳ, thứ nhất là đường Trung kỳ, xe hơi chạy có chỗ tưởng bổng lên đến ngọn núi, có chỗ tưởng xô xuống vực sâu.</p>
    <p>
        Cần Thơ có cái vẻ mỹ miều xinh xắn, sạch sẽ phong quan, thật xứng tên làm tỉnh đầu ở miền Tây. Đường phố thênh thang, cửa nhà san sát, các nhà buôn Tây cũng nhiều hơn tỉnh khác, có chỗ coi xinh đẹp hơn ở Sài Gòn. Tới Cần Thơ, vào thăm ông huyện Võ Văn Thơm, chủ bút An Hà Nhật báo. Ông là người đứng tuổi, tính tình trầm mặc, chuyên về kinh tế học. Ông không thích chữ nho, 
        giữ cái thuyết muốn lấy chữ Pháp làm quốc văn. Ông kể cái lẽ sở dĩ làm sao ông không ưa Hán tự, thì nói rằng thuở nhỏ đã từng học 5 năm mà chẳng thấy tấn tới gì, ông kết luận rằng chữ nho quyết không phải là cái lợi khí cho sự học vấn. Tôi nói rằng đó có lẽ là bởi cái phép dạy học sai lầm, chứ không phải tại lỗi tại chữ nho, ngày nay có cách học giản dị, chỉ một vài năm là thông. Xem ra ông không tin lời tôi”.
    </p>
    <p>Như thế thì chúng ta đã thấy chính hoàn cảnh địa lý, lịch sử, kinh tế, chính trị, văn hoá, xã hội của tỉnh Cần Thơ đã từng tồn tại phát triển qua nhiều thời kỳ, tạo cơ sở, để trước nay, không ai bảo ai, mà nhiều người ở nhiều nơi vẫn thường gọi Cần Thơ là Tây Đô.</p>
    <p style="text-align: right;"><i><b>Nguồn: </b>TuoitreTayDo. Trích trong quyển: Địa Chí Cần Thơ Xuất bản năm 2002</i></p>
    <hr>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    <div class="fb-comments" data-href="https://www.facebook.com/login" data-width="100%" data-numposts="5"></div>
</div>
{{>footer}}