{{>header}}
<div style="background: linear-gradient(0deg, rgba(9,189,169,1) 0%, rgba(247,175,19,1) 100%);" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph"><b>KHÁM PHÁ</b></h1>
    <hr>
    <div class="fb-like" data-href="http://localhost:3000/kham-pha" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/kham-pha" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div style="text-align: justify; width: 80%; margin: auto;">
        <div class="xemnhanh">
            <h5 class="py-2"><b>Xem nhanh</b></h5>
            <p><a href="#GioiThieu"></a></p>
            <p><a href="#Review"></a></p>
            <p><a href="#Review1">&#x3164;</a></p>
        </div>
        <br>
        <p style="text-align: right;"><b></b></p>
        <p style="text-align: center;">Nguồn: <a href=""></a></p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    <div class="fb-comments" data-href="https://www.facebook.com/login" data-width="100%" data-numposts="5"></div>
</div>
{{>footer}}