{{>header}}
<div style="background: linear-gradient(0deg, rgba(9,189,169,1) 0%, rgba(247,175,19,1) 100%);" class="background-news"></div>
<div class="container">
    <h4 class="tin-tuc font-effect-anaglyph pt-3"><b>Sôi nổi các hoạt động thể thao chào mừng Ngày hội Du lịch sinh thái Phong Ðiền</b></h4>
    <hr>
    <div style="text-align: justify; width: 70%; margin: auto;">
        <div class="card" style="width: 100%; height: 620px; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20220925/images/2-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Ðua cuộc đua bơi xuồng mang đậm dấu ấn sông nước miệt vườn.</i></p>
            </div>
        </div>
        <br>
        <p>(CT) - Trong chuỗi các hoạt động của Ngày hội Du lịch sinh thái Phong Ðiền - Cần Thơ lần thứ IX - năm 2022, sáng 25-9 huyện Phong Ðiền tổ chức Giải Việt dã Lộ Vòng Cung lần thứ VII.</p>
        <p>Giải việt dã năm nay có trên 1.200 vận động viên, đến từ các xã, thị trấn, trường học, khu/điểm du lịch trên địa bàn huyện tham gia. Giải có 2 cự ly: 1.000m dành cho vận động viên nam và 800m dành cho vận động viên nữ. Ban Tổ chức đã trao giải Nhất, Nhì, Ba và 10 giải Khuyến khích cho các thành viên có thành tích xuất sắc ở mỗi cự ly. Ở cự ly 1.000m nam, vận động viên Phùng Hải Thuận (Trường Ðại học Nam Cần Thơ) đoạt giải Nhất; vận động viên Mai Thị Như Tuyền (Khối Quản lý nhà nước) đoạt giải Nhất cự ly 800m nữ.</p>
        <p>Cùng ngày, trên sông Cần Thơ đoạn bờ kè công viên Nguyễn Phương Danh, huyện Phong Ðiền tổ chức nhiều hoạt động thể thao dưới nước như trình diễn ca nô lướt sóng, trình diễn vỏ lãi, đua xuồng... Các hoạt động thu hút rất đông người dân và du khách tham quan, cổ vũ.</p>
        <p style="text-align: right;"><b>Tin, ảnh: DUY KHÔI</b></p>
        <p style="text-align: center;">Nguồn: <a href="https://baocantho.com.vn/soi-noi-cac-hoat-dong-the-thao-chao-mung-ngay-hoi-du-lich-sinh-thai-phong-dien-a151489.html">https://baocantho.com.vn/soi-noi-cac-hoat-dong-the-thao-chao-mung-ngay-hoi-du-lich-sinh-thai-phong-dien-a151489.html</a></p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    <div class="fb-like mt-3" data-href="http://localhost:3000/tin-tuc/soi-noi-cac-hoat-dong-the-thao-chao-mung-ngay-hoi-du-lich-sinh-thai-phong-dien" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/tin-tuc/soi-noi-cac-hoat-dong-the-thao-chao-mung-ngay-hoi-du-lich-sinh-thai-phong-dien" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    
    <div class="fb-comments" data-href="https://www.facebook.com/login" data-width="100%" data-numposts="5"></div>
</div>
{{>footer}}