{{>header}}
<div id="van-hoa-&-lich-su" style="background-image: url('https://cdn.tgdd.vn//GameApp/1377665//tong-hop-100-hinh-anh-hoa-sen-dep-nhat-2021-15-800x450.jpg')" class="background-news"></div>
<div class="container" style="width: 80%; margin: auto;">
    <h1 class="tin-tuc font-effect-anaglyph"><b>VĂN HOÁ VÀ LỊCH SỬ THÀNH PHỐ CẦN THƠ</b></h1>
    <hr>
    <br>
    <div class="col-12" style="text-align: justify;">
        <h2 style="background: -webkit-linear-gradient(rgb(255, 251, 0), rgb(252, 0, 0)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;" class="text-center pt-3"><b>VĂN HOÁ</b></h2>
        <h4><b>Cần Thơ có những nét văn hoá đặc trưng nào?</b></h4>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://th.bing.com/th/id/R.461c8eaa6af3f90075247531f4028684?rik=L63T%2bZJ1xpfNUA&riu=http%3a%2f%2fwww.guidevoyagevietnam.com%2fwp-content%2fuploads%2f2019%2f05%2fcho-noi-cai-rang.jpg&ehk=2X7ymRKEf5PvKcz9aSefgZ2ciURqpfyhRlhJ1k8cxzU%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Ảnh minh họa  (Nguồn: Internet)</i></p>
            </div>
        </div>
        <br>
        <p>Khi nhắc đến địa danh nổi tiếng như Bến Ninh Kiều và chợ nổi Cái Răng, thì mọi người sẽ ngay lập tức nghĩ đến Cần Thơ. Là một vùng đất được mệnh danh là Tây Đô, Cần Thơ khoác lên mình vẻ đẹp quyến rũ, mê hoặc và rất đỗi nên thơ.</p>
        <p>
            Khi đến với Cần Thơ, bạn sẽ được tận hưởng cảm giác bồng bềnh trên sông Hậu, sự bình yên và vẻ đẹp thơ mộng đến nao lòng khi ngắm nhìn mặt trời dần lên cao từ những rừng tràm phía xa. Ngoài những khung cảnh xinh đẹp thì văn hóa sông nước Cần Thơ cũng là một trong những nét độc đáo và đặc trưng của vùng đất thanh bình này. 
            Dưới đây là những nét tiêu biểu của văn hóa Cần Thơ mà bạn có thể khám phá nhé.
        </p>
        <br>
        <h4><b>1. Văn hoá chợ nổi</b></h4>
        <p>Những chợ nổi với phương thức bán hàng độc đáo và mới lạ đã tạo nên nét đặc biệt và ấn tượng cho văn hóa Cần Thơ. Chợ nổi là một trong những loại hình chợ quen thuộc ở các tỉnh miền Tây của Việt Nam. Một trong những chợ nổi độc đáo và nổi bật nhất ở Cần Thơ đó chính là chợ Cái Răng. Đây chắc chắn là cái tên đầu tiên trong hành trình khám phá vùng đất Tây Đô của nhiều bạn trẻ.</p>
        <p>
            Chợ Cái Răng chuyên buôn bán các loại trái cây, hàng hóa, thực phẩm ăn uống, đặc sản của vùng đồng bằng sông Cửu Long bằng các phương tiện ở trên sông như xuồng, ghe. Khi đến với chợ nổi Cái Răng, bạn sẽ được hòa mình vào không khí nhộn nhịp của buổi chợ, quan sát và tìm hiểu sinh hoạt của nhiều gia đình thương hồ với nhiều thế hệ chung sống trên ghe. 
            Lối sống sinh hoạt sôi động kết hợp với sự đa dạng về màu sắc từ trái cây, hoa tươi, những món ăn đã tạo nên một bức tranh rực rỡ, đầy màu sắc và sẵn sàng đốn tim bất kỳ ai khi có dịp ghé thăm chợ nổi độc đáo này.
        </p>
        <br>
        <h4><b>2. Văn hoá ẩm thực</b></h4>
        <p>Ẩm thực là một trong những yếu tố góp phần đem lại sự đa dạng, phong phú và nổi bật cho văn hóa Cần Thơ. Những món ăn với hương vị thơm ngon, được chế biến rất cầu kỳ bởi người đầu bếp giàu kinh nghiệm đã hấp dẫn biết bao thực khách khi có dịp ghé thăm Cần Thơ. Là thủ phủ miệt vườn sông nước Cửu Long và cũng là trung tâm kinh tế văn hóa của cả khu vực, nên Cần Thơ là nơi tập trung của rất nhiều người dân lân cận đến để học tập, sinh sống và làm ăn.</p>
        <p>Những người dân xa xứ luôn muốn mang theo những món ăn đặc trưng của vùng đất quê hương để quên đi nỗi nhớ xa quê. Và cũng chính lý do đó đã tạo nên sự đa dạng cho ẩm thực Cần Thơ. Những món ăn của vùng đất Tây Đô được kết tinh từ các món ăn đặc sản của nhiều địa phương trong khu vực đồng bằng sông Cửu Long.</p>
        <p>Các món ăn tiêu biểu được nhiều du khách yêu thích khi có dịp ghé thăm Cần Thơ có thể kể đến như bánh cống, bánh xèo, bánh tét lá cẩm, lẩu mắm Dạ Lý, canh chua linh bông điên điển, cá lóc nướng trui, bánh đúc Cần Thơ, bánh hỏi heo quay Phong Điền, ốc nướng tiêu Cần Thơ, chuối nếp nướng, bánh tầm bì, nem nướng Cái Răng, lẩu bần.</p>
        <br>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://tourdulichmientay.vn/wp-content/uploads/2017/08/du-lich-can-tho-an-gi-ngon-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Ảnh minh họa  (Nguồn: Internet)</i></p>
            </div>
        </div>
        <br>
        <h4><b>3. Văn hoá miệt vườn</b></h4>
        <p>Là một thủ phủ miệt vườn sông nước Cửu Long, Cần Thơ là nơi tập trung của nhiều vườn trái cây xanh mát, tươi tốt, trĩu quả quanh năm. Hiện nay du lịch miệt vườn được xem là một nét đặc trưng của văn hóa Cần Thơ và thu hút được nhiều du khách đến thăm quan. Cái vườn trái cây ở Cần Thơ vô cùng rộng lớn như nổi tiếng với nhiều loại trái cây, đặc sản và hoạt động đậm chất Nam Bộ nhất là vườn trái cây thuộc huyện Phong Điền.</p>
        <br>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://th.bing.com/th/id/R.e7ae27d5018fb584afc0d9f39e3419c9?rik=CNplOvvJQA82yQ&riu=http%3a%2f%2fdiemdulich.info%2fwp-content%2fuploads%2f2019%2f11%2fvuon-trai-cay-my-khanh-2.jpg&ehk=ZnkiFRJCFQyOaVPCyD5mPO5jqtNTasi89ozlapztRBw%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Ảnh minh họa  (Nguồn: Internet)</i></p>
            </div>
        </div>
        <br>
        <p>Những vườn trái cây thuộc huyện này có hình thức phục vụ du khách như vườn trái cây Mỹ Khánh, vườn Hạ Châu, vườn du lịch Vàm Xáng, vườn trái cây 9 Hồng. Khi đến với những vườn trái cây này, du khách sẽ được tận mắt nhìn thấy nhiều loại trái cây được trồng xen kẽ nhau như mận, mít, xoài, chôm chôm, sầu riêng, ổi, nhãn, măng cụt, cam, quýt, bưởi và được hòa mình vào không gian xanh mát, thư thái và gần gũi.</p>
        <p>Là một trung tâm kinh tế văn hóa và thủ phủ miệt vườn sông nước của cả khu vực đồng bằng Sông Cửu Long, Cần Thơ hiện đang trở thành một địa điểm du lịch hấp dẫn được nhiều người lựa chọn. Văn hóa Cần Thơ rất đa dạng, phong phú và độc đáo với những nét riêng biệt, đặc trưng. Hy vọng qua những thông tin trên, bạn sẽ hiểu thêm về những nét văn hóa đặc trưng của Cần Thơ nhé.</p>
        <p style="margin-left: 80%"><b>(by Vietnamtours 24/7)</b></p>
        <p style="text-align:center">Nguồn: <a href="https://www.vietnamtours247.com/nhung-net-tieu-bieu-cua-van-hoa-can-tho/" target="_blank" rel="noopener noreferrer">https://www.vietnamtours247.com/nhung-net-tieu-bieu-cua-van-hoa-can-tho/</a></p>
        <hr><br>
        <h2 style="background: -webkit-linear-gradient(rgb(255, 251, 0), rgb(252, 0, 0)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;" id="vanhoa" class="text-center pt-3"><b>LỊCH SỬ</b></h2>
        <br>
        <h4><b>Lịch sử hình thành</b></h4>
        <p>
            Vào thế kỷ thứ XVII, ông Mạc Cửu là người Châu Lôi ở tỉnh Quảng Đông - Trung Quốc. Do không thuần phục nhà Thanh nên kéo tùy tùng đến Hà Tiên đầu phục Chúa Nguyễn. Tại đây ông đã chiêu mộ dân phiêu tán khẩn hoang mở vùng đất mới. 
            Chúa Nguyễn Phúc Chu vào năm Mậu Tý (1708) đã sắc phong cho ông làm Tổng binh trấn Hà Tiên và cho ông lập đồn binh ở Phương Thành. Năm 1732, Chúa Nguyễn phân định Nam bộ thành 3 dinh và 1 trấn gồm có: Trấn Biên Dinh thuộc vùng Biên Hòa, Phiên Trấn Dinh thuộc vùng Gia Định, Long Hồ Dinh thuộc vùng Vĩnh Long và 1 trấn là Hà Tiên. 
            Sau khi Mạc Cửu mất, con là Mạc Thiên Tứ tiếp tục sự nghiệp của cha đẩy mạnh công cuộc khai hoang mở đất đến 1739 thì hoàn thành xong việc khai mở và lập thêm 4 đạo là Long Xuyên, Kiên Giang (Rạch Giá), Trấn Giang (Cần Thơ), Trấn Di (Bắc Bạc Liêu) và sát nhập các đạo trên vào Hà Tiên. 
            Với vị trí đắc địa Trấn Giang được Võ Vương Nguyễn Phúc Khoát thuận cho Mạc Thiên Tứ xây dựng thành một thủ sở mạnh ở miền Hậu Giang. Như vậy, đất Cần Thơ được khai mở với tên là Trấn Giang từ năm 1739.
        </p>
        <p>
            Đối với thực dân Pháp và ngụy quyền Sài Gòn thì Cần Thơ có nhiều thay đổi địa giới hành chính như: Ngày 23 tháng 2 năm 1876, Soái phủ Sài Gòn ra Nghị định lấy huyện Phong Phú cùng một phần huyện An Xuyên và Tân Thành lập hạt Cần Thơ với thủ phủ là Cần Thơ đặt tại làng Tân An. Đến năm 1954, Cần Thơ bao gồm huyện Châu Thành, Ô Môn, Phụng Hiệp, Trà Ôn, Cầu Kè. 
            Năm 1956, Ngô Đình Diệm đổi tên tỉnh Cần Thơ thành tỉnh Phong Dinh. Năm 1961, tách một phần Long Mỹ, Vị Thanh thành lập tỉnh Chương Thiện.
        </p>
        <p>
            Chính quyền Cách Mạng trong kháng chiến chống Pháp vào hai năm 1948- 1949 điều chỉnh địa giới hành chính: Cần Thơ nhận thêm Thốt Nốt của Long Xuyên, Long Mỹ, Gò Quao, Giồng Riềng, thị xã Rạch Giá của tỉnh Rach Giá. 
            Đồng thời Cần Thơ trả lại 2 huyện Cầu Kè và Trà Ôn cho Vĩnh Long và Trà Vinh. Tên gọi là tỉnh Cần Thơ. Tháng 11 năm 1954 chuyển Long Mỹ, Giồng Riềng, Gò Quao, thị xã Rạch Giá về tỉnh Rạch Giá. Trả huyện Kế Sách về tỉnh Sóc Trăng, Thốt Nốt về Long Xuyên. Năm 1957 nhận lại huyện Thốt Nốt, năm 1966 thành lập thị xã Vị Thanh thuộc tỉnh Cần Thơ. 
            Năm 1969 tách thị xã Cần Thơ ra khỏi tỉnh Cần Thơ trực thuộc Khu Tây Nam Bộ, năm 1971 thị xã Cần Thơ trực thuộc tỉnh Cần Thơ. Năm 1972, thị xã Cần Thơ trở thành thành phố Cần Thơ trực thuộc Khu Tây Nam Bộ.
        </p>
        <p>
            Thống nhất đất nước, Nghị định số 03/NĐ-76 ngày 24 tháng 3 năm 1976 của Chính phủ về việc sáp nhập tỉnh Cần Thơ, tỉnh Sóc Trăng và thành phố Cần Thơ thành tỉnh Hậu Giang. Tháng 12 năm 1991, Quốc hội khóa VIII, kỳ họp thứ 10 ra Nghị quyết tách Hậu Giang thành 2 tỉnh- tỉnh Cần Thơ và tỉnh Sóc Trăng. 
            Kỳ họp thứ 4 của Quốc Hội khóa XI ra Nghị quyết số 22/2003/QH ngày 26 tháng 11 năm 2003 và Nghị định số 05 của Chính phủ ngày 02/01/2004 tách tỉnh Cần Thơ trở thành thành phố Cần Thơ trực thuộc Trung ương và lập tỉnh Hậu Giang. Chính phủ đã ban hành Quyết định số 889-QĐ/TTg ngày 24/6/2009 công nhận thành phố Cần Thơ là đô thị loại 1 trực thuộc Trung ương.
        </p>
        <p style="text-align:right">Nguồn: <a href="https://www.cantho.gov.vn/wps/portal/home/gioi-thieu/chi-tiet/Gioi+thieu+TPCT/Gioi+thieu+chung" target="_blank" rel="noopener noreferrer"> Cần Thơ 35 năm phát triển và hội nhập</a></p>
        <hr>
        <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
        {{>comment}}
        <hr>
        <div >
            <table class="table">
                <tbody> 
                    <div class="row my-3">
                    <tr class="table-primary">
                        <td>
                            <a href="/kham-pha/lich-su-vung-dat-can-tho" target="_blank">
                            <img style="width: 250px;"  src="http://tourismcantho.vn/files/images/diem-den/lich-su-van-hoa/273503_img850721793jpg.jpg" alt="">
                            </a>
                        </td>
                        <td class="content">
                            <a href="/kham-pha/lich-su-vung-dat-can-tho" target="_blank">
                            <h2><b>Lịch sử Cần Thơ</b></h2>
                            </a>
                            <p>Thời điểm lịch sử hình thành vùng đất Cần Thơ được khai mở và có mặt trên dư đồ Việt Nam từ năm 1739, với tên gọi Trấn Giang. Nếu tính xa hơn nữa, thì vùng đất này đã xuất hiện và tồn tại trong quá trình hình thành vùng Châu thổ sông Cửu Long từ trước Công nguyên. Đến ngày 23 tháng 2 năm 1876, ...</p>
                            
                        </td>
                    </tr>
                    </div>
                </tbody>

            </table>
        </div>
    </div>
</div>
{{!-- ------------------------------------------- --}}
{{>footer}}