{{>header}}
<div style="background: linear-gradient(0deg, rgb(0, 221, 255) 0%, rgb(30, 247, 19) 100%);" class="background-news"></div>
<div class="container">
    <h2 class="tin-tuc font-effect-anaglyph pt-2"><b>VIỆT NAM TRONG TOP ĐIỂM ĐẾN VỪA LÀM VỪA CHƠI</b></h2>
    <hr>
    <div class="fb-like" data-href="http://localhost:3000/tin-tuc/viet-nam-trong-top-diem-den-vua-lam-vua-choi" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/tin-tuc/viet-nam-trong-top-diem-den-vua-lam-vua-choi" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div class="fb-save" data-uri="https://www.facebook.com/login" data-size="large"></div>
    <a style="margin-left: 10px;" href="javascript:;" class="circle_s flexbox print print_content" title="In"><i class="ic ic-print"></i></a>
    <br>
    <div style="text-align: justify; width: 80%; margin: auto;" >
        <h5 class="pt-3">Với chi phí sinh hoạt không quá cao, thức ăn ngon và cảnh đẹp, Việt Nam phù hợp cho những người vừa đi du lịch, vừa làm việc từ xa.</h5>
        <p>Dân du mục kỹ thuật số (digital nomads) là những người làm việc khi đi du lịch. Đây là lối sống nhiều người trẻ theo đuổi khi có thể hoàn thành công việc ở bất kỳ đâu miễn là có điện, Internet và máy tính. 
            The Travel, tạp chí du lịch của Canada, kể tên 10 điểm đến phù hợp cho dân du mục kỹ thuật số, xét trên các yếu tố như hòa bình, chi phí sinh hoạt, con người, công nghệ, điều kiện sống và giải trí.</p>
        <br>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://i1-dulich.vnecdn.net/2022/02/16/photo-1528195135899-cf5d190bb3-8949-8826-1644982057.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=KNCu69JWnzjBO3IYJp3wVQ" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Khách Tây phượt xe máy, vượt đèo Hải Vân. Ảnh: <i>Unsplash</i></p>
            </div>
        </div>
        <br>
        <p>Theo danh sách, Việt Nam xếp vị trí 8/10. Giới du mục kỹ thuật số khen Việt Nam thanh bình và luôn chào đón chào khách nước ngoài, tỷ lệ tội phạm thấp, thời tiết tốt, điều kiện sống dễ cân bằng giữa công việc 
            và niềm vui. Ẩm thực, điểm đến hoang sơ và các chuyến phiêu lưu cũng sẽ chinh phục du khách.</p>
        <p>Tạp chí Canada nhận định Việt Nam đang phát triển nhanh với cơ sở hạ tầng tốt. Sinh hoạt phí tại Việt Nam rẻ, ví dụ với 420 USD có thể thuê căn hộ một phòng ngủ tại thành phố lớn và trang trải chi phí ăn uống trong một tháng.</p>
        <p>Bên cạnh đó, Serbia đứng đầu bảng xếp hạng - điều có thể gây bất ngờ. Thực tế, Serbia là một trong những quốc gia có chi phí sinh hoạt thấp nhất châu Âu, cung cấp visa miễn phí cho những người làm việc từ xa. 
            Những điểm đến còn lại trong top 10 lần lượt là: Colombia, Đức, Estonia, Sri lanka, Iceland, Mexico, Indonesia, Thái Lan.</p>
        <br>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://i1-dulich.vnecdn.net/2022/02/16/photo-1579981596048-b9ba73dc00-4496-9604-1644982057.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=i3Uc0vGvKGYryrXgI_rdbA" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Thành phố Novi Sad bên bờ sông Danube. Các thành phố như Novi Sad và Belgrade có cơ sở hạ tầng hiện đại xen lẫn các di tích lịch sử, phù hợp cho du khách vừa làm việc vừa khám phá. Ảnh: <i>Unsplash</i></p>
            </div>
        </div>
        <br>
        <p style="text-align: right;">Trung Nghĩa (Theo <i>The Travel</i>)</p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
{{>comment}}
</div>
{{>footer}}