{{>header}}
<div style="background-image: url('https://media.mia.vn/uploads/blog-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-8-1649199760.jpg');" class="background-news"></div>
<div class="container">
    <h2 class="tin-tuc font-effect-anaglyph pt-2"><b>Đặc sắc Lễ hội Ok Om Bok của đồng bào Khmer tại Cần Thơ</b></h2>
    <hr>
    <div class="fb-like" data-href="http://localhost:5000/le-hoi/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:5000/le-hoi/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/login" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    
    <div style="text-align: justify; width: 80%; margin: auto;">
        <p class="pt-3"><b><i>Lễ hội Ok Om Bok được người đồng bào Khmer tại Cần Thơ nói riêng và miền Nam nói chung tổ chức hàng năm để cùng nhau quây quần, phát huy giá trị truyền thống tốt đẹp của cha ông. Nếu có dịp du lịch Cần Thơ, bạn đừng bỏ lỡ cơ hội trải nghiệm lễ hội này nhé.</i></b></p>
        <div class="xemnhanh">
            <h5 class="py-2"><b>Xem nhanh</b></h5>
            <p><a href="#GioiThieu">1. Nguồn gốc của Lễ hội Ok Om Bok</a></p>
            <p><a href="#ThoiGian">2. Thời gian và địa điểm tổ chức Lễ hội Ok Om Bok</a></p>
            <p><a href="#LeHoi">3. Người Khmer tại Cần Thơ tổ chức lễ hội Ok Om Bok như thế nào?</a></p>
            <p><a href="#LeHoi1">&#x3164;3.1 Các bước chuẩn bị cho Lễ hội Ok Om Bok</a></p>
            <p><a href="#LeHoi2">&#x3164;3.2 Lễ hội Ok Om Bok có gì đặc sắc?</a></p>
        </div>
        <br>
        <h4 id="GioiThieu"><b>1. Nguồn gốc của Lễ hội Ok Om Bok</b></h4>
        <p>Lễ hội Ok Om Bok được người Khmer Nam bộ tổ chức định kỳ như một tập tục đã lưu truyền hàng trăm năm. Nguồn gốc lễ hội xuất phát từ việc người dân chủ yếu làm nông nghiệp nên gắn bó rất mật thiết và luôn tôn thờ thiên nhiên như những vị thần bảo hộ, cho họ cuộc sống ấm no. Theo quan niệm của tộc người này, mặt trăng được xem là thần cai quản thời gian, thủy triều và thời tiết. Vì thế, sau khi mùa mưa kết thúc, người dân sẽ tổ chức Lễ hội Ok Om Bok để chào đón mùa khô và thành kính tạ ơn mặt trăng đã ban mưa cho họ để mùa màng tốt tươi, bội thu.</p>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-9-1649199761.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Mặt trăng là vị thần bảo hộ được người dân tộc Khmer kính trọng và tôn thờ</i></p>
            </div>
        </div>
        <br>
        <p>Lễ hội Ok-Om-Bok nằm trong danh sách các lễ hội quan trọng nhất của người Khmer Cần Thơ, thường được tổ chức với quy mô trong gia đình hoặc tại các ngôi chùa lớn. Yêu cầu nơi sắp lễ phải bằng phẳng, rộng rãi, có ánh trăng soi sáng. Xuyên suốt lễ hội là các hoạt động đậm chất văn hóa, tín ngưỡng như lễ cúng trăng, lễ thả đèn gió, đèn nước; hội đua ghe ngo…</p>
        <p>Xem thêm: <a href="/le-hoi/le-hoi-via-ba-thien-hau">Lễ vía Bà Thiên Hậu và nét văn hóa của người Hoa ở Cần Thơ</a></p>
        <h4 id="ThoiGian"><b>2. Thời gian tổ chức Lễ hội Ok Om Bok</b></h4>
        <p>Ok Om Bok đã có nguồn gốc rất lâu đời, người Khmer ngày nay làm theo tập tục cha ông truyền lại nên tổ chức lễ hội hàng năm vào ngày rằm tháng 10 Âm lịch. Theo khoa học thì đây là thời điểm cuối cùng của một chu kỳ để mặt trăng xoay hết một vòng quanh Trái đất, còn trong nông nghiệp thì đây là thời điểm kết thúc mùa vụ trong năm. </p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-8-1649199760.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ hội Ok Om Bok được tổ chức định kỳ hàng năm, thể hiện niềm tin của cộng đồng người Khmer, cùng đồng thời là cách gìn giữ những giá trị văn hóa lâu đời</i></p>
            </div>
        </div>
        <br>
        <p>Lễ hội Ok Om Bok cùng với Tết cổ truyền <a style="color:darkorange;" href="/le-hoi/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer" target="_blank">Lễ Cholchonam Thomay</a> là một trong hai lễ hội lớn nhất trong năm của người dân tộc Khmer Nam bộ.  Cho đến thời điểm hiện, dù đời sống của người dân Cần Thơ đã ngày càng phát triển, văn hóa có những nét đan xen giữa các dân tộc nhưng lễ hội này vẫn được duy trì tổ chức như một nét văn hóa đặc trưng. Lễ hội vừa để duy trì, bảo tồn các giá trị văn hóa truyền thống, vừa là điểm thu hút của du lịch Cần Thơ đối với du khách cả trong và ngoài nước.</p>
        <h4 id="LeHoi"><b>3. Người Khmer tại Cần Thơ tổ chức lễ hội Ok Om Bok như thế nào?</b></h4>
        <p id="LeHoi1"><b>3.1 Các bước chuẩn bị cho Lễ hội Ok Om Bok</b></p>
        <p>Để chuẩn bị tốt nhất cho lễ cúng trăng, người Khmer sẽ phải chuẩn bị đầy đủ cả phần trang trí và phần lễ. Đối với phần trang trí, thường sẽ là một chiếc cổng bằng tre, bên trên gắn thêm hoa lá để trang trí. Trên cổng sẽ giăng thêm một dây trầu với 12 lá trầu cuốn tròn, có ý nghĩa tượng trưng cho 12 tháng trong năm. Thêm một dây cau có 7 trái, vỏ chẻ ra hai bên như hai cánh con ong để tượng trưng cho 7 ngày của tuần.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-7-1649199937.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Người dân cùng nhau chuẩn bị đầy đủ cả về phần lễ và những tiết mục đặc sắc để biểu diễn trong đêm Lễ hội Ok Om Bok</i></p>
            </div>
        </div>
        <br>
        <p>Mâm cúng Lễ hội Ok Om Bok bao gồm các loại trái cây và nông sản đa dạng. Ngoài ra, người đồng bào Khmer còn làm thêm cốm dẹp để dâng lên mặt trăng. Bởi vì trong tiếng Khmer, "Ok" có nghĩa là đút còn "Om-bok" có nghĩa là cốm dẹp. Như vậy tên lễ hội này có thể hiểu là hành động đưa cốm dẹp vào miệng ăn. Nghi thức này mang ý nghĩa tâm linh to lớn, là sự thành kính và biết ơn của đồng bào Khmer. </p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-6-1649199936.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ hội được tổ chức trên chùa cùng sự tham gia của đông đảo bà con, những đứa trẻ cũng được gia đình đưa đến để cầu phúc và sức khỏe</i></p>
            </div>
        </div>
        <br>
        <p id="LeHoi2"><b>3.2 Lễ hội Ok Om Bok có gì đặc sắc?</b></p>
        <p>Các nghi thức của Lễ hội Ok Om Bok như <a style="color:darkorange;" href="https://mia.vn/cam-nang-du-lich/tim-hieu-mot-so-le-hoi-cua-nguoi-khmer-tai-can-tho-4775" target="_blank">Một số lễ hội của người Khmer tại Cần Thơ</a> khác, hiện nay đã có nhiều sự thay đổi, tại các địa phương khác nhau, nếp sống của đồng bào Khmer khác nhau cũng dẫn đến sự khác biệt trong quá trình tổ chức. Tuy nhiên điểm đặc trưng lớn nhất của lễ hội này chính là nằm ở lễ thả đèn gió và hội đua ghe ngo. Ở cộng đồng người Khmer tại tất cả các tỉnh thành phía Nam, lễ cúng trăng luôn luôn gắn với hai nghi lễ này.</p>
        <p>Đầu tiên là lễ thả đèn, người dân sẽ dùng đèn gió do tự tay họ làm nên. Loại đèn gió này cấu tạo từ những cây nan tre, giấy quyến và dùng dây kẽm để cố định. Đèn có hình vuông hoặc tròn, loại đèn tròn thì thông dụng hơn. Những bàn tay khéo léo uốn các nan tre đã được chuốt nhẵn thành từng vòng tròn có đường kính khoảng 1 mét, sau đó gắn các nan tròn ấy với nhau tạo thành khối trụ có chiều cao khoảng 2 mét., Xung quanh khối trụ tròn được dán kín bằng giấy quyến, phần đáy đèn để trống, gắn vào một "ổ nhện" làm từ kẽm có kích thước lớn. "Ổ nhện" này phủ lên một lớp gòn ta đã được tẩm ướt bằng dầu phộng. </p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-2-1649199760.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Tục lệ thả đèn là một phần không thể thiếu trong Lễ hội Ok Om Bok</i></p>
            </div>
        </div>
        <br>
        <p>Khi thả đèn, người ta sẽ đốt lớp gòn rồi cùng nhau góp sức để nâng đèn lên cao. Nhiệt độ tỏa ra sẽ khiến giấy quyến bao quanh đèn bị căng phồng, tạo ra lực đẩy lớn. Người dân sẽ khéo léo nâng đèn lên, nương tay theo lực đẩy và hướng gió, sau đó buông ra khi đèn đã đủ lực để bay lên mà không vị chao nghiêng. Tục thả đèn này được người dân thực hiện như một cách gửi lòng thành kính và sự biết ơn đến thần mặt trăng. Bên cạnh đó cũng gửi gắm những nguyện cầu để nhận được nhiều sự phù hộ từ thần linh. Khá giống với tục lệ này, <a style="color:darkorange;" href="/le-hoi/hoa-minh-vao-hoi-hoa-dang-can-tho" target="_blank">Hội hoa đăng Cần Thơ</a> lại có tập tục thả đèn rên sông nhưng có cùng ý nghĩa cầu nguyện bình an và may mắn.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-5-1649199760.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Những chiếc đèn lớn rực rỡ bay lên, mang theo nguyện cầu của người Khmer gửi gắm đến thần mặt trăng</i></p>
            </div>
        </div>
        <br>
        <p>Còn đua ghe ngo là một môn thể thao đã rất quen thuộc với người dân miền sông nước, cũng là phần không thể thiếu trong Lễ hội Ok Om Bok. Ban đầu, đua ghe chỉ là một trò chơi dân gian, được tổ chức vào đêm cúng trăng. Trò chơi như một cách người dân vui hội, cùng nhau quây quần cho không khí thêm tưng bừng. Dần dần, trò chơi này đã trở thành một lễ hội, tổ chức với quy mô lớn, thu hút rất nhiều người cùng tham gia. Thậm chí lễ còn có sự tham gia của các vận động viên chuyên nghiệp, tranh tài để nhận giải thưởng hấp dẫn.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-1-1649199760.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Những con ghe lớn, được trang trí rực rỡ, chuẩn bị nghênh chiến và mang về chiến thắng cho các đội chơi</i></p>
            </div>
        </div>
        <br>
        <p>Ghe ngo được làm từ thân cây, nên còn được gọi với cái tên khác là thuyền "độc mộc". Ghe có chiều dài khoảng từ 22 đến 24 mét, mỗi ghe có từ 50 đến 60 vận động viên dùng dầm gỗ để đánh ghe. Loại ghe ngo này có mũi và lái cong cong, thân được trang trí thêm những hoa văn tinh tế, phần đầu khắc hình con thú đại diện cho từng đội đua. Đối với người dân tộc Khmer, ghe được xem là tài sản quý giá giá, là kế mưu sinh, cũng là công cụ đã gắn bó với biết bao nhiêu thế hệ. Thế nên trò chơi này trong Lễ hội Ok Om Bok như một sự thôi thúc sức khỏe, thôi thúc nhiệt huyết và nỗ lực bên trong mỗi người, cũng là bài học của các thế hệ đi trước răn dạy con cháu thế hệ sau phải không ngừng phấn đấu vươn lên.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-4-1649199760.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Những thanh niên trai tráng đang cố gắng hết sức để đưa ghe về đích nhanh nhất</i></p>
            </div>
        </div>
        <br>
        <p>Trên đây là những thông tin về Lễ hội Ok Om Bok truyền thống của đồng bào Khmer mà cẩm nang du lịch của MIA.vn muốn giới thiệu đến bạn. Với những ý nghĩa to lớn trong bản sắc văn hóa và giá trị lịch sử, đây là một trong những lễ hội rất đáng để bạn trải nghiệm khi có dịp đến với miền đất Cần Thơ sông nước.</p>
        <p style="text-align: right;"><b>Tuyết Trịnh</b></p>
        <p style="text-align: right;">Nguồn: Tổng hợp</p>
        <p style="text-align: center;"><a href="https://mia.vn/cam-nang-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-4787" target="_blank">https://mia.vn/cam-nang-du-lich/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho-4787</a></p>
    </div>
    <a href="/le-hoi"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    {{>comment}}
</div>
{{>footer}}