{{>header}}
<div style="background-image: url('https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-15-1649208772.jpg');" class="background-news"></div>
<div class="container">
    <h3 class="tin-tuc font-effect-anaglyph pt-3"><b>Lễ Cholchonam Thomay và những tập tục đặc sắc của người Khmer</b></h3>
    <hr>
    <div class="fb-like" data-href="http://localhost:5000/le-hoi/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:5000/le-hoi/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/login" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    
    <div style="text-align: justify; width: 80%; margin: auto;">
        <p class="pt-3"><b><i>Lễ Cholchonam Thomay được biết đến là ngày Tết của người Khmer, có ý nghĩa rất quan trọng để chào đón năm mới. Lễ hội tổ chức trong 3 ngày với không khí tưng bừng cùng những văn hóa tín ngưỡng vô cùng độc đáo mà bạn không thể bỏ lỡ trong chuyến du lịch Cần Thơ.</i></b></p>
        <div class="xemnhanh">
            <h5 class="py-2"><b>Xem nhanh</b></h5>
            <p><a href="#GioiThieu">1. Nguồn gốc của Lễ Cholchonam Thomay</a></p>
            <p><a href="#GioiThieu1">&#x3164;1.1 Ý nghĩa của Lễ Cholchonam Thomay</a></p>
            <p><a href="#GioiThieu2">&#x3164;1.2 Truyền thuyết về tết cổ truyền người Khmer</a></p>
            <p><a href="#ChuanBi">2. Người đồng bào Khmer chuẩn bị những gì để đón Tết Cholchonam Thomay?</a></p>
            <p><a href="#ChuanBi1">&#x3164;2.1 Thời gian tổ chức Lễ Cholchonam Thomay</a></p>
            <p><a href="#ChuanBi2">&#x3164;2.2 Người Khmer chuẩn bị những gì cho Lễ Cholchonam Thomay</a></p>
            <p><a href="#HoatDong">3. Các hoạt động nổi bật trong Lễ Cholchonam Thomay</a></p>
        </div>
        <br>
        <h4 id="GioiThieu"><b>1.  Nguồn gốc của Lễ Cholchonam Thomay</b></h4>
        <p>Tết Chol Chnam Thmay hay còn được biết đến là Tết đón năm mới của dân tộc Khmer, cùng với <a style="color:darkorange;" href="/le-hoi/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho" target="_blank">Lễ hội Ok Om Bok</a> là hai lễ hội lớn và được mong đợi nhất trong năm. 3 ngày Tết đối với người dân chính là dịp để tất cả mọi người đến chùa cầu nguyện, gửi gắm hy vọng gia đình được mạnh khỏe, an vui, cầu nguyện mưa thuận gió hòa cho mùa màng bội thu. Đồng thời đây cũng là dịp để các thành viên trong gia đình trở về quây quần bên nhau, thể hiện lòng hiếu thảo đối với ông bà và cha mẹ.</p>
        <div class="card" style="width: 100%; height:640px; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-15-1649208772.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ Cholchonam Thomay là một phần không thể thiếu trong văn hóa tín ngưỡng của người Khmer</i></p>
            </div>
        </div>
        <br>
        <p><b>1.2 Truyền thuyết về tết cổ truyền người Khmer</b></p>
        <p>Lễ Cholchonam Thomay được bắt nguồn từ truyền thuyết xa xưa mà người dân tộc Khmer truyền tai nhau. Thuở ấy có một người tên là Dhammabal Palakumar. Ông có trí thông minh vượt trội, luôn trả lời được tất cả những câu hỏi dù hóc búa đến đâu. Khi Đại Phạm Thiên MahaBrahma biết được có kẻ trí tuệ vượt trội như vậy đã rất tức giận. Vì thế để hạ bệ Dhammabal, ông đã đưa ra 3 câu hỏi cực kỳ khó. Đó là “Lần lượt vào buổi sáng, buổi chiều và buổi tối thì ta đi tìm hạnh phúc ở đâu?”. MahaBrahma đưa ra mệnh lệnh nếu Dhammabal không trả lời được thì sẽ bị mình chém đầu, còn nếu trả lời được thì MahaBrahma sẽ tự chém đầu mình.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-16-1649208772.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ Cholchonam Thomay có nguồn gốc từ một truyền thuyết xa xưa</i></p>
            </div>
        </div>
        <br>
        <p>Nghe xong câu hỏi, Dhammabal đã một mình đi vào rừng. Khi đó ông nghe thấy hai con chim đại bàng thì thầm với nhau rằng “buổi sáng hạnh phúc sẽ hiện diện trên gương mặt, buổi chiều thể hiện trên thân thể, còn buổi tối thì ở đôi chân”. Ông đem câu trả lời này về đối đáp với MahaBrahma và khiến ông ta phải tự chặt đầu mình.  Ngày người Khmer rước đầu lâu của Đại Phạm Thiên cũng đánh dấu ngày thiên hạ được thái bình, vì thế người dân cũng coi đây là dấu mốc bước sang năm mới. Kể từ đây, người Khmer bắt đầu tập tục ăn Lễ Cholchonam Thomay và dùng nước thơm để rửa mặt vào buổi sáng; tắm rửa cơ thể vào buổi chiều và rửa chân vào buổi tối. </p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-1-1649208771.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Người Khmer dùng nước thơm để tắm rửa cho các tượng thần</i></p>
            </div>
        </div>
        <br>
        <p>Xem thêm: <a href="/le-hoi/le-hoi-banh-dan-gian-nam-bo" target="_blank">Lễ hội bánh dân gian Nam Bộ tại Cần Thơ có gì đặc sắc</a></p>
        <h4 id="ChuanBi"><b>Người đồng bào Khmer chuẩn bị những gì để đón Tết Cholchonam Thomay?</b></h4>
        <p><b>2.1 Thời gian tổ chức Lễ Cholchonam Thomay</b></p>
        <p>Tết Chol-chnam-thmay được tổ chức vào đầu tháng 3, còn được người Khmer gọi là tháng Chét theo Phật lịch của Tiểu thừa. Thông thường, tết sẽ rơi vào ngày 14, 15 và 16 tháng 4 Dương lịch, vào năm nhuần thì sẽ khoảng từ ngày 13- 4. Lúc này vụ xuân đã xong, người dân nhàn rỗi, thời tiết khô ráo, nên có thể tha hồ vui chơi Tết. Đón tết xong là vừa tới mùa mưa, cũng đồng thời là mùa gieo sạ lúa. Cùng lúc này, người Hoa ở Cần Thơ cũng tổ chức <a style="color:darkorange;" href="/le-hoi/le-hoi-via-ba-thien-hau" target="_blank"> Lễ vía Bà Thiên Hậu</a> - Một lễ hội có ý nghĩa rất lớn trong văn hóa tín ngưỡng của tộc người này.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-5-1649208771.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Các sư thầy đang cùng người dân thực hiện các bước thanh tẩy, dọn dẹp chùa</i></p>
            </div>
        </div>
        <br>
        <p><b>2.2 Người Khmer chuẩn bị những gì cho Lễ Cholchonam Thomay</b></p>
        <p>So với Tết cổ truyền của người Kinh, Lễ Cholchonam Thomay của cộng đồng người Khmer tại Cần Thơ cũng có nhiều nét tương đồng về mặt ý nghĩa. Tuy nhiên về tập tục lại có nhiều điểm khác biệt, mang đậm bản sắc văn hóa của họ. Đặc biệt, vì đây là dân tộc theo Phật giáo Tiểu thừa nên từ các sinh hoạt ngày thường đến lễ Tết đều sẽ được tổ chức tại chùa.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-3-1649208771.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Những ngôi chùa có vai trò rất lớn trong văn hóa và đức tin của cộng đồng người Khmer</i></p>
            </div>
        </div>
        <br>
        <p>Những ngôi chùa của người Khmer Nam Bộ thường được xây cất với quy mô lớn, trong khuôn viên sạch sẽ, có nhiều bóng râm từ những hàng cây sao, hàng cây dầu cổ thụ trồng theo từng hàng thẳng lối. Nơi đây vừa là điểm sinh hoạt văn hóa, vừa đại diện cho đức tin, cho chỗ dựa tinh thần, cho tín ngưỡng tôn nghiêm của tộc người này. Vì thế cho nên dù lễ hội lớn hay nhỏ của đồng bào dân tộc Khmer cũng đều được tổ chức tại chùa.</p>
        <p>Lễ Cholchonam Thomay còn được người dân gọi là tết “chịu tuổi”, diễn ra liên tục trong ba ngày cùng những nghi lễ khác nhau. Ngày thứ nhất được gọi là Sang-kran nghĩa là “bước đi”. Ngày thứ hai được gọi là Won-bot, nghĩa là “thiếu hoặc thừa”. Ngày cuối cùng gọi là Lon-sătk, mang ý nghĩa là “tăng lên”. Để chuẩn bị đón tết, tất cả mọi người sẽ cùng nhau sơn phết lại khuôn viên các ngôi chùa, lau dọn, chỉnh trang bàn thờ tổ tiên.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-13-1649208772.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Các gia đình Khmer tại Cần Thơ đều coi Lễ Cholchonam Thomay là dịp lễ quan trọng nhất</i></p>
            </div>
        </div>
        <br>
        <p>Tất cả các gia đình đều cố gắng chuẩn bị tươm tất nhất cho Lễ Cholchonam Thomay, dù kinh tế khó khăn đến đâu cũng phải chuẩn bị nồi bánh nùm-chrụt (là loại bánh gần giống bánh tét của người Kinh) và bánh nùm-tiên (khá giống với bánh ít Nam Bộ). Theo quan niệm của người Khmer, hai loại bánh này đại diện cho sự  thịnh vượng, đủ đầy, mong cầu mùa màng tốt tươi cho năm mới no ấm. Ngoài ra, người dân còn chuẩn bị thêm các loại bánh khác như: bánh dừa nhân chuối, bánh bột nhân dừa v.v. Vì vậy trong danh sách <a style="color:darkorange;" href="https://mia.vn/cam-nang-du-lich/tim-hieu-mot-so-le-hoi-cua-nguoi-khmer-tai-can-tho-4775" target="_blank">Một số lễ hội của người Khmer tại Cần Thơ</a>  thì Cholchonam Thomay là lễ hội có nhiều thủ tục cần chuẩn bị nhất.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-12-1649208772.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Dù làm việc ở xa, người Khmer cũng cố gắng trở về để cùng gia đình đón Lễ Cholchonam Thomay</i></p>
            </div>
        </div>
        <br>
        <h4 id="HoatDong"><b>3. Các hoạt động nổi bật trong Lễ Cholchonam Thomay</b></h4>
        <p>Vào thời điểm đêm giao thừa, mọi nhà đều sẽ thắp sáng đèn, sắp lễ với bánh, trái cây, hoa, nhang đèn trên bàn thờ tổ tiên. Lễ cúng này có ý nghĩa tiễn thần Tê-vô-đa của năm cũ về trời rồi rước thần Tê-vô-đa năm mới xuống ăn tết, phụ trách cai quản đất đai, thổ trạch của gia chủ, khá giống với ông Táo trong quan niệm của người Kinh. </p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-11-1649208772.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Các nghi lễ được tổ chức tại sân chùa</i></p>
            </div>
        </div>
        <br>
        <p>Sáng ngày Tết thứ nhất gọi là Sang-kran, giống như mùng một tết Nguyên đán của người Kinh, mọi người sẽ tắm rửa sạch sẽ, mặc quần áo mới, đem theo nhang, đèn và lễ lên chùa. Tất cả mọi người có thể tham gia tụng kinh, niệm Phật, sau đó là làm lễ rước đại lịch (còn gọi là Ma-ha-sang-kran). Tại chùa sẽ có một vị là Acha, người chủ trì điều khiển mọi người xếp hàng rồi đi quanh chánh điện ba lần như một tục lệ chào mừng năm mới. Sau đó, chùa tổ chức rước “thần bốn mặt”, theo truyền thuyết của người Khmer thì đó là thần Tho-ma-bat. Ka-bun, Ma-ha và Prun. Khi trời tối, những người lớn tuổi sẽ tụ tập lại để nghe sư thuyết pháp, còn nam thanh nữ tú thì ra sân chùa vui chơi. </p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-7-1649208771.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Người dân cùng làm lễ, cùng vẩy nước thần để lấy may</i></p>
            </div>
        </div>
        <br>
        <p>Ngày Tết thứ hai của Lễ Cholchonam Thomay được gọi là ngày Won-bót. Lúc này mọi người sẽ cùng nhau dâng cơm cho các vị sư sãi ở chùa, còn là tục Wên-chô-han. Tới buổi chiều, họ tập trung nhau lại đắp chín ngọn núi cát lớn, tượng trưng cho sự rộng lớn và vững chắc của vũ trụ, trời đất. Ngọn núi thứ chín được gọi là Mê-ru, chính là biểu tượng của trung tâm trái đất.</p>
        <p>Ngày Tết thứ ba được gọi là Lon-sătk, mọi người tiếp tục làm lễ dâng hương, tặng quần áo cho các vị sư sãi, rồi tắm cho những tượng Phật trong chùa để cầu hên. Sau đó, họ trở về nhà để tắm cho những người lớn tuổi, để giúp xua tan muộn phiền và cầu mong sức khỏe trong năm mới. Tới chiều, người Khmer tổ chức lễ cầu siêu, còn được gọi là lễ Băng-skot. Lễ hội mang ý nghĩa cầu nguyện cho những vong hồn siêu thoát tới nơi cực lạc. Sau cùng, mỗi người về nhà mình lạy ông bà, cha mẹ ở trước bàn thờ, rồi tắm gội cho họ để thể hiện tấm lòng hiếu thảo.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-2-1649208771.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Những tiết mục ca múa đậm chất truyền thống trong ngày Lễ Cholchonam Thomay</i></p>
            </div>
        </div>
        <br>
        <p>Ba ngày Tết là dịp để các nam nữ thanh niên Khmer cùng nhau vui chơi ca hát thoả thích, họ mùa những điệu múa truyền thống như dù-kê, rô-băm, múa lăm-thôn v.v. Đây cũng đồng thời là dịp để các bạn trẻ có cơ hội tìm hiểu nhau, cùng nhau hò hẹn và thể hiện tình cảm. Trong văn hóa của người Khmer, những cặp đôi nên duyên trong dịp Lễ Cholchonam Thomay sẽ gắn bó với nhau đến suốt đời. </p>
        <p>Trên đây là những thông tin về Lễ Cholchonam Thomay mà cẩm nang du lịch của Chúng tôi đã tổng hợp và muốn mang đến cho bạn. Nếu có dịp, hãy cùng người Khmer đón năm mới để hiểu hơn về văn hóa độc đáo của tộc người này nhé.</p>
        <p style="text-align: right;"><b>Tuyết Trịnh</b></p>
        <p style="text-align: right;">Nguồn: Tổng hợp</p>
        <p style="text-align: center;"><a href="https://mia.vn/cam-nang-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-4788" target="_blank">https://mia.vn/cam-nang-du-lich/le-cholchonam-thomay-va-nhung-tap-tuc-dac-sac-cua-nguoi-khmer-4788</a></p>
    </div>
    <a href="/le-hoi"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    {{>comment-lehoi}}
</div>
{{>footer}}