{{>header}}
<div style="background: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(0, 255, 30) 100%);" class="background-news"></div>
<div class="container">
    <h2 class="tin-tuc font-effect-anaglyph pt-2"><b>Lễ vía Bà Thiên Hậu và nét văn hóa của người Hoa ở Cần Thơ</b></h2>
    <hr>
    <div class="fb-like" data-href="http://localhost:3000/le-hoi/le-hoi-via-ba-thien-hau" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:3000/le-hoi/le-hoi-via-ba-thien-hau" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/login" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    
    <div style="text-align: justify; width: 80%; margin: auto;">
        <p class="pt-3"><b><i>Lễ vía Bà Thiên Hậu là một trong những lễ hội khá lớn tại Cần Thơ. Ban đầu, lễ hội này được người Hoa cùng nhau tổ chức theo văn hóa tín ngưỡng lâu đời. Về sau, cùng với sự phát triển của du lịch Cần Thơ, đây đã trở thành một trong những dịp thu hút đông đảo khách du lịch ghé đến trải nghiệm.</i></b></p>
        <div class="xemnhanh">
            <h5 class="py-2"><b>Xem nhanh</b></h5>
            <p><a href="#GioiThieu">1. Nguồn gốc Lễ vía Bà Thiên Hậu</a></p>
            <p><a href="#HoatDong">2. Các bước tổ chức Lễ vía Bà Thiên Hậu</a></p>
            <p><a href="#HoatDong1">&#x3164;2.1 Thời gian tổ chức Lễ vía Bà Thiên Hậu</a></p>
            <p><a href="#HoatDong2">&#x3164;2.2 Quy trình chuẩn bị cho lễ hội</a></p>
            <p><a href="#HoatDong3">&#x3164;2.3 Các hoạt động trong Lễ vía Bà Thiên Hậu</a></p>
        </div>
        <br>
        <h4 id="GioiThieu"><b>1. Nguồn gốc Lễ vía Bà Thiên Hậu</b></h4>
        <p>Theo dòng lịch sử, người Hoa đã có mặt ở các tỉnh miền Nam nước ta cách nay khoảng hơn 300 năm. Không chỉ cư trú, họ còn mang theo văn hóa, tín ngưỡng của mình để làm phong phú, đa dạng thêm cho cộng đồng 54 dân tộc anh em Việt Nam. Điều này đã được minh chứng rất rõ ở những ngôi chùa người Hoa như: Hiệp Thiên Cung Ba Láng (tại Cái Răng), Võ Đế Cổ Miếu (tại Ô Môn), Quan Đế Võ Miếu (tại Bình Thủy), Thất Phủ Võ Miếu (tại Thốt Nốt), Quảng Triệu Hội Quán (tại Ninh Kiều)… Ngày nay những ngôi chùa này đã không chỉ là điểm đến của người Hoa mà còn thu hút rất đông đảo những người muốn tìm hiểu thêm về văn hóa độc đáo của người Hoa tại Cần Thơ.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-6-1649201730.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Bà Thiên Hậu có ý nghĩa rất lớn trong tôn giáo và tín ngưỡng của cộng đồng người Hoa tại Việt Nam</i></p>
            </div>
        </div>
        <br>
        <p>Giống với những dân tộc khác, người Hoa cũng có đời sống văn hóa và tín ngưỡng rất phong phú, đa dạng. Họ thờ những vị thần khác nhau, tổ chức nhiều lễ hội lớn với những ý nghĩa riêng. Trong đó tiêu biểu nhất phải kể đến Lễ vía Bà Thiên Hậu - Vía Bà và Lễ vía Quan Thánh Đế - Vía ông, là hai lễ hội quan trọng nhất của người Hoa. Theo quan niệm của tộc người này, Bà Thiên Hậu chính là vị thần chuyên cứu người, phù hộ người dân an toàn trong chuyến hành trình di cư đến Việt Nam và những hành trình giao thương sau này. Đồng thời, những ngôi chùa cũng thường được xây dựng bên bờ sông lớn, để nhờ thần linh trấn giữ, ngăn chặn điều xui xẻo.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-9-1649201730.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ vía Bà Thiên Hậu trở thành tập tục định kỳ hàng năm của người Hoa Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p>Hằng năm, Lễ vía Bà Thiên Hậu được tổ chức ở những ngôi chùa này, vừa thể hiện sự biết ơn của người dân, vừa mang theo mong cầu và hi vọng thần Bà sẽ tiếp tục giúp đỡ, phù hộ nhiều điều tốt lành hơn nữa sẽ đến với họ. Lễ hội này đã truyền qua hàng trăm năm, trở thành một tục lệ không thể thiếu trong đời sống của người Hoa. Dù hiện nay, văn hóa của tộc người này đã hòa nhập rất nhiều với người Kinh và các dân tộc khác của Việt Nam, nhưng họ vẫn giữ được nét đặc trưng của riêng mình bằng những lễ hội truyền thống.</p>
        <p>Xem thêm: <a href="/le-hoi/hoa-minh-vao-hoi-hoa-dang-can-tho" target="_blank">Hòa mình vào Hội hoa đăng Cần Thơ đẹp lung linh đa sắc màu </a></p>
        <h4 id="HoatDong"><b>2. Các bước tổ chức Lễ vía Bà Thiên Hậu</b></h4>
        <p><b>2.1 Thời gian tổ chức Lễ vía Bà Thiên Hậu</b></p>
        <p>Lễ vía Bà Thiên Hậu thường được tổ chức định kỳ vào ngày 23 tháng 3 Âm lịch. Vì lễ hội mang những nét văn hóa cần được bảo tồn nên Cần Thơ cũng đã rất chú trọng việc hỗ trợ người Hoa tổ chức lễ hội với quy mô lớn, thu hút đông đảo mọi người tham gia. Cùng thời gian này, người Khmer tại Cần Thơ cũng tổ chức <a style="color:darkorange;" href="" target="_blank">Lễ Cholchonam Thomay</a> - Tết cổ truyền với rất nhiều nghi lễ độc đáo.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-5-1649201730.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ vía Bà Thiên Hậu không chỉ có sự tham gia của người Hoa mà còn rất nhiều người Kinh muốn tìm hiểu thêm về văn hóa đa dạng của các tộc người ở Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p>Lễ vía Bà Thiên Hậu mang giá trị về nhiều mặt trong đời sống của cộng đồng người Hoa ở Nam Bộ. Cùng với đó, đây cũng là dịp để bà con gặp gỡ nhau, thắt chặt thêm tinh thần đoàn kết cộng đồng, tạo nên sự gắn kết mối quan hệ giữa người Kinh – người Hoa trong khối đại đoàn kết Việt Nam.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-3-1649201730.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ hội được tổ chức rất quy mô, thể hiện văn hóa đặc sắc của bộ phận người Hoa ở Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p><b>2.2 Quy trình chuẩn bị cho lễ hội</b></p>
        <p>Để Lễ vía Bà Thiên Hậu được tổ chức suôn sẻ, bà con người Hoa sẽ chuẩn bị rất đầy đủ từ nhiều ngày trước đó. Khoảng ngày 18 tháng 3 Âm lịch, bà con sẽ tập trung cùng nhau ở Hội quán để sửa sang, quét dọn và chuẩn bị đồ lễ. Tượng bà sẽ được tắm sạch sẽ, rồi thay quần áo mới. Lễ tắm cũng được thực hiện từng bước rất trang trọng, quét dọn sạch sẽ nơi bà ngự, dùng màn căng che lại, rồi cử hai cô gái tắm cho Bà. Nước tắm là nước sôi để nguội, cho thêm lá bưởi vào. Theo quan niệm của người Hoa, lá bưởi được coi như một thứ bùa hộ mệnh, có khả năng tẩy sạch bụi trần, xua tan đi những điều phiền muộn, xui xẻo và không may mắn. Điều này khá giống với tập tục của người Khmer trong  <a style="color:darkorange;" href="/le-hoi/dac-sac-le-hoi-ok-om-bok-cua-dong-bao-khmer-tai-can-tho" target="_blank">Lễ hội Ok Om Bok</a>, để thanh tẩy bụi trần trước khi cúng trăng.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-10-1649201730.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Các bước chuẩn bị lễ hội đều được thực hiện rất bài bản, long trọng</i></p>
            </div>
        </div>
        <br>
        <p><b>2.3 Các hoạt động trong Lễ vía Bà Thiên Hậu</b></p>
        <p>Lễ vía bắt đầu vào khoảng 6 giờ sáng ngày 23 tháng 3 Âm lịch. Từ ngày hôm trước, những người nằm trong Ban trị sự của Hội quán đã chuẩn bị đầy đủ lễ vật. Những người khác khi đến có thể mang theo nhang, đèn, trà, rượu cùng xôi hoặc gà vịt đã làm sẵn để sắp thêm lên bàn cúng. Sau khi cúng xong, nếu muốn thì họ có thể mang lễ vật về hoặc để lại. </p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-2-1649201729.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ vật dâng lên Bà Thiên Hậu</i></p>
            </div>
        </div>
        <br>
        <p>Đúng 9 giờ Lễ vía Bà Thiên Hậu sẽ bắt đầu. Số 9 là con số may mắn trong quan niệm của người Hoa nên 9 giờ cũng là giờ tốt để tế lễ. Khi tiếng chuông vang lên, sẽ báo hiệu giờ lành đến, mời mọi người tập trung về Hội quán, xếp hàng trước chánh điện. Một người đại diện sẽ đứng ra làm chủ lễ, quần áo chỉnh tề, chuẩn bị dâng hương. Thức cúng đã được dọn sẵn ra trên bàn đặt trước chánh điện gồm: chính giữa là heo quay nguyên con, thân heo được trang trí đẹp mắt, phần lưng heo cắm một con dao, với hàm ý mời các vị thần linh dùng dao xẻ thịt. Bên phải heo quay là một con gà luộc, bên trái bày dĩa trái cây, bên trên là các loại chôm chôm, nho, chuối… Phía trước bàn lễ sẽ là hai bình trà cùng những ly nhỏ uống, thêm cả rượu được đặt kế bên.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-8-1649201730.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Bà Thiên Hậu được rước về chùa</i></p>
            </div>
        </div>
        <br>
        <p>Khi mọi người đã tập trung xong, một hồi trống sẽ vang lên. Khi hồi trống vừa dứt, chủ lễ đọc vang bài văn tế thần được viết bằng tiếng Hoa. Bài tế có nội dung như sau: “Hôm nay là ngày Lễ vía Bà Thiên Hậu, chúng tôi cùng nhau dâng lên trà, rượu, heo, gà, trái cây… để dâng lên cúng thần. Chúng tôi nguyện cầu thần ban cho chúng tôi phúc lành, cầu mưa thuận gió hòa, cầu quốc thái dân an, cầu mỗi gia đình làm ăn phát đạt…” Bài khấn này cũng được Hội quán người Hoa sử dụng trong Lễ hội chùa Ông Cần Thơ như một nét đặc trưng của lễ hội truyền thống.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-1-1649201729.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Không khí lễ hội linh thiêng, trang trọng</i></p>
            </div>
        </div>
        <br>
        <p>Khi bài văn tế được đặt xong, mọi người sẽ cùng nhau xá ba xá. Khi xá xong, có hai người đại diện rót trà và rượu rồi đổ xuống đất với ngụ ý cúng thần. Sau đó, bàn cúng được khiêng quay mặt ra hướng cổng để cúng Trời Đất. Các nghi lễ tiếp tục được thực hiện lại sau khi hồi trống lại vang lên. Bài văn tế thần được đọc lại lần thứ hai nhưng  thay tên các vị thần, rồi cũng nhau xá ba xá. Các nghi lễ được tiếp tục để cúng đầy đủ các vị thánh thần: Quan Thánh Đế Quân, Thần Tài, Phước Đức Chính Thần,  Phật Bà Quan Âm... Riêng đối với Phật Bà Quan Âm thì đồ cúng chỉ là đồ chay và trái cây.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-4-1649201730.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Người dân cùng nhau chuẩn bị tiệc đãi khách sau khi lễ hội kết thúc</i></p>
            </div>
        </div>
        <br>
        <p>Sau khi Lễ vía Bà Thiên Hậu được cử hành xong, mỗi người mỗi việc, sẽ cùng nhau vào phụ bếp phụ nấu ăn, dọn bàn, dọn ly để chuẩn bị đãi khách. Lúc này, mọi người sẽ đến cúng nhang, cúng đèn ở Hội quán. Bạn có thể mang theo nhang khoanh để treo lên cúng hoặc quyên góp tiền vào những thùng từ thiện. Rất nhiều khoanh nhang được thắp lên cùng một lúc khiến khói hương càng thêm nghi ngút, không gian huyền ảo và trang nghiêm. Tất cả những vị khách đến lễ đều được Hội quán mời ở lại dùng bữa cơm thân mật, dù bạn là người Hoa hay là du khách thập phương. </p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-11-1649201730.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Những tiết mục biểu diễn cho không khí lễ hội thêm phần tưng bừng</i></p>
            </div>
        </div>
        <br>
        <p>Trên đây là những thông tin mà cẩm nang du lịch MIA.vn đã tổng hợp và muốn mang đến cho bạn về Lễ vía Bà Thiên Hậu. Nếu có dịp đến Cần Thơ khoảng tháng 3 Âm lịch thì đừng bỏ lỡ cơ hội trải nghiệm lễ hội đặc sắc này nhé.</p>
        <p style="text-align: right;"><b>Tuyết Trịnh</b></p>
        <p style="text-align: right;">Nguồn: Tổng hợp</p>
        <p style="text-align: center;"><a href="https://mia.vn/cam-nang-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-4803" target="_blank">https://mia.vn/cam-nang-du-lich/le-via-ba-thien-hau-va-net-van-hoa-cua-nguoi-hoa-o-can-tho-4803</a></p>
    </div>
    <a href="/le-hoi"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    <div class="fb-comments" data-href="https://www.facebook.com/login" data-width="100%" data-numposts="5"></div>
</div>
{{>footer}}