{{>header}}
<div style="background: linear-gradient(90deg, yellow 0%, rgb(0, 204, 255) 100%);" class="background-news"></div>
<div class="container">
    <h3 class="tin-tuc font-effect-anaglyph pt-3"><b>Khám phá Lễ hội Kỳ Yên đình Bình Thủy lớn nhất trong năm tại Cần Thơ</b></h3>
    <hr>
    <div class="fb-like" data-href="http://localhost:5000/le-hoi/le-hoi-banh-dan-gian-nam-bo" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:5000/le-hoi/le-hoi-banh-dan-gian-nam-bo" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/login" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    
    <div style="text-align: justify; width: 80%; margin: auto;">
        <p class="pt-3"><b><i>Lễ hội Kỳ Yên đình Bình Thủy đáo lệ mỗi năm 2 lần chính là một trong những lễ hội lớn nhất năm tại Cần Thơ. Sự tồn tại của lễ hội chính là một minh chứng lịch sử vô cùng quan trọng của người Việt. Bỏ lỡ lễ hội này chắc chắn sẽ trở thành nuối tiếc lớn nhất của bạn khi Du lịch Cần Thơ.</i></b></p>
        <div class="xemnhanh">
            <h5 class="py-2"><b>Xem nhanh</b></h5>
            <p><a href="#GioiThieu">1. Sự ra đời của Lễ hội Kỳ Yên đình Bình Thủy</a></p>
            <p><a href="#GioiThieu1">&#x3164;1.1 Nguồn gốc của Lễ hội Kỳ Yên đình Bình Thủy</a></p>
            <p><a href="#GioiThieu2">&#x3164;1.2 Ý nghĩa của lễ hội</a></p>
            <p><a href="#ThoiGian">2. Thời gian và địa điểm tổ chức lễ hội</a></p>
            <p><a href="#LeHoi">3. Lễ hội Kỳ Yên đình Bình Thủy có gì đặc sắc?</a></p>
            <p><a href="#LeHoi1">&#x3164;3.1 Phần lễ</a></p>
            <p><a href="#LeHoi2">&#x3164;3.2 Phần hội</a></p>
            <p><a href="#Video">4. Video đặc sắc về lễ hội</a></p>
        </div>
        <br>
        <h4 id="GioiThieu"><b>1. Sự ra đời của Kỳ Yên đình Bình Thủy</b></h4>
        <p id="GioiThieu1"><b>1.1 Ý nghĩa của Kỳ Yên đình Bình Thủy</b></p>
        <p>Đình Bình Thủy hay còn gọi là Long Tuyền cổ miếu chính là một trong những di tích cấp quốc gia tiêu biểu nhất tọa lạc tại làng Long Tuyền. Với lịch sử lâu đời và mang trong mình nét văn hóa đặc sắc không thua kém gì <a style="color:darkorange;" href="/le-hoi/le-hoi-chua-ong-can-tho" target="_blank">Chùa Ông Cần Thơ</a>, đình Bình Thủy là địa điểm được vua Tự Đức sắc ban là "Bổn Cảnh Thành Hoàng" vào năm 1852.</p>
        <p>Sau hơn 200 năm xây dựng, đình Bình Thủy vẫn giữ nguyên được nhiều bản sắc văn hóa, tín ngưỡng vốn có từ lâu đời. Các lễ hội được tổ chức tại đây cũng tự hào khoác lên mình là cái tên của đình. Trong đó, Lễ hội Kỳ Yên đình Bình Thủy là lễ hội lớn nhất năm rất được người dân lẫn mọi người khắp nơi yêu thích tham gia.</p>
        <p>Xem thêm: <a href="/le-hoi/le-hoi-chua-ong-can-tho" target="_blank">Khám phá Lễ hội chùa Ông Cần Thơ đặc sắc của người Hoa</a></p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/kham-pha-le-hoi-ky-yen-dinh-binh-thuy-lon-nhat-trong-nam-tai-can-tho-01-1649215292.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Các lễ hội được tổ chức tại đây cũng tự hào khoác lên mình là cái tên của đình Bình Thủy</i></p>
            </div>
        </div>
        <br>
        <p id="GioiThieu2"><b>1.2 Ý nghĩa của lễ hội</b></p>
        <p>Lễ hội Kỳ Yên đình Bình Thủy được tổ chức nhằm thể hiện truyền thống uống nước nhớ nguồn và bản sắc văn hóa độc đáo của người Việt. Hình ảnh người dân ta mở mang bờ cõi, khai hoang mảnh đất này được thể hiện qua từng nghi lễ và phần hội vô cùng đặc sắc. Qua đó góp phần tạo thêm niềm tin cho mọi người về một cuộc sống ấm no, an cư lạc nghiệp.</p>
        <p>Với ý nghĩa to lớn và nhiều nghi lễ mang đậm tính nhân văn, vào tháng 1 năm 2018, Lễ hội Kỳ Yên đình Bình Thủy tự hào được Bộ trưởng Bộ Văn hóa, Thể thao và Du lịch đưa vào danh mục Di sản văn hóa phi vật thể quốc gia.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/kham-pha-le-hoi-ky-yen-dinh-binh-thuy-lon-nhat-trong-nam-tai-can-tho-02-1649215292.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ hội Kỳ Yên đình Bình Thủy được tổ chức nhằm thể hiện truyền thống uống nước nhớ nguồn của người Việt</i></p>
            </div>
        </div>
        <br>
        <h4 id="ThoiGian"><b>2. Thời gian và địa điểm tổ chức lễ hội</b></h4>
        <p>Lễ hội Kỳ yên đình Bình Thủy đáo lệ mỗi năm 2 lần là lễ Thượng điền (diễn ra vỏn vẹn ba ngày từ 12/4 - 14/4 âm lịch) và lễ Hạ điền (14 đến 15 tháng Chạp). Trong đó, lễ Thượng điền là lễ hội lớn nhất thường diễn ra sau khi thu hoạch mùa vụ. Các lễ hội được tổ chức tại đình Bình Thủy nổi tiếng thu hút đông đảo người dân đến tham gia.</p>
        <div class="card" style="width: 70%;  margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/kham-pha-le-hoi-ky-yen-dinh-binh-thuy-lon-nhat-trong-nam-tai-can-tho-03-1649215292.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ hội Kỳ yên đình Bình Thủy đáo lệ mỗi năm 2 lần là lễ Thượng điền và lễ Hạ điền</i></p>
            </div>
        </div>
        <br>
        <h4 id="LeHoi"><b>3. Lễ hội Kỳ yên đình Bình Thủy có gì đặc sắc?</b></h4>
        <p id="LeHoi1"><b>3.1 Phần lễ</b></p>
        <p>Lễ Thượng điền trong Lễ hội Kỳ yên đình Bình Thủy là lễ hội cúng Bổn Cảnh Thành Hoàng (còn được gọi là Thành hoàng làng) thường diễn ra vào tháng 4 âm lịch. Cứ sau mỗi vụ mùa thu hoạch, người dân lại tổ chức lễ Thượng điền nhằm cầu an, cúng tế cũng như rước thần...Phần lễ bắt đầu bằng nghi lễ đưa Sắc thần du ngoạn. Sau đó lần lượt đến các nghi lễ tiếp theo như lễ tế Thần Nông, lễ thay khăn Sắc Thần, lễ Chánh tế....</p>
        <p>Khác với lễ hội chùa Ông Cần Thơ hay <a style="color:darkorange;" href="/le-hoi/le-hoi-via-ba-thien-hau" target="_blank">Lễ vía Bà Thiên Hậu</a>, Lễ hội Kỳ yên đình Bình Thủy được tổ chức với quy mô lớn hơn cũng như nhiều nghi lễ hơn. Mỗi nghi lễ đều mang đậm tính nhân văn muốn truyền tải và giữ trong mình những ý nghĩa to lớn.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/kham-pha-le-hoi-ky-yen-dinh-binh-thuy-lon-nhat-trong-nam-tai-can-tho-04-1649215292.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Lễ Thượng điền trong Lễ hội Kỳ yên đình Bình Thủy là lễ hội cúng Bổn Cảnh Thành Hoàng lớn nhất tại Cần Thơ</i></p>
            </div>
        </div>
        <br>
        <p id="LeHoi2"><b>3.2 Phần hội</b></p>
        <p>Sau khi kết thúc phần lễ, phần hội được tổ chức với nhiều trò chơi dân gian thú vị, hấp dẫn như đua thuyền, kéo co...để mọi người có thể chung vui tham gia và hòa vào cùng bầu không khí náo nhiệt, vui tươi tại Lễ hội Kỳ yên đình Bình Thủy. Các hội thi mâm xôi nghệ thuật hay hát tuồng cổ đều mang đến những dấu ấn độc đáo xuyên suốt lễ hội.</p>
        <p>Nếu như <a style="color:darkorange;" href="/le-hoi/le-hoi-banh-dan-gian-nam-bo" target="_blank">Lễ hội bánh dân gian Nam Bộ</a> là dịp để các món bánh đặc sản vùng đất này được giới thiệu, quảng bá đến mọi người khắp nơi trên đất nước thì những gian hàng Bánh ngon Bình Thủy được tổ chức trong phần hội cũng đặc biệt không kém. Còn gì tuyệt vời hơn khi được thỏa sức vui chơi, tìm về cội nguồn và thưởng thức các món bánh dân gian đặc sắc ở Cần Thơ.</p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://media.mia.vn/uploads/blog-du-lich/kham-pha-le-hoi-ky-yen-dinh-binh-thuy-lon-nhat-trong-nam-tai-can-tho-05-1649215292.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Sau khi kết thúc phần lễ, phần hội được tổ chức với nhiều trò chơi dân gian thú vị tạo nên bầu không khí náo nhiệt</i></p>
            </div>
        </div>
        <br>
        <br>
        <h4 id="Video"><b>4. Video đặc sắc về lễ hội</b></h4>
        <div style="text-align: center;">
            <br>
            <iframe width="80%" height="560" src="https://www.youtube.com/embed/Zj-9em7C3YE" title="Lễ hội cúng đình Bình Thuỷ lớn nhất Cần Thơ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p><i>Lễ hội Kỳ Yên đình Bình Thủy lớn nhất tại Cần Thơ. Video: Youtube/Hiếu DUDAY</i></p>
        </div>
        <br>
        <p>Lễ hội Kỳ Yên đình Bình Thủy là chứng nhân lịch sử cho hành trình định cư của người Việt trên mảnh đất miền Tây Nam Bộ. Đến với Cần Thơ vào mùa diễn ra lễ hội, bạn sẽ được hòa mình vào bầu không khí náo nhiệt và những giá trị văn hóa đặc sắc được lưu giữ cho đến ngày nay. Xách balo lên và đừng quên đem theo Cẩm nang du lịch để khám phá nhiều điều thú vị chưa được bật mí tại Cần thơ bạn nhé!</p>
        <p style="text-align: right;"><b>Tạ Mỹ Dung</b></p>
        <p style="text-align: right;">Nguồn: Tổng hợp</p>
        <p style="text-align: center;"><a href="https://mia.vn/cam-nang-du-lich/kham-pha-le-hoi-ky-yen-dinh-binh-thuy-lon-nhat-trong-nam-tai-can-tho-4823" target="_blank">https://mia.vn/cam-nang-du-lich/kham-pha-le-hoi-ky-yen-dinh-binh-thuy-lon-nhat-trong-nam-tai-can-tho-48230</a></p>
    </div>
    <a href="/le-hoi"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    {{>comment-lehoi}}
</div>
{{>footer}}