{{>header}}
<div style="background-image: url('https://baocantho.com.vn/imagetsdt/tsdt/2022/20221012/images/banh%20khot.jpg');" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph"><b>Ẩm thực từ dế mật mía </b></h1>
    <hr>
    <div class="fb-like" data-href="http://localhost:5000/tin-tuc/am-thuc-tu-de-mat-mia" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:5000/tin-tuc/am-thuc-tu-de-mat-mia" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div style="text-align: justify; width: 80%; margin: auto;">
        <p class="mt-3"><b><i>Ở Tây Nam Bộ có nhiều món ngon dân dã được làm từ những nguyên liệu sẵn có trong cuộc sống thường ngày. Tại đây cũng có nhiều đặc sản với những nguyên liệu ít ai ngờ tới, mà một trong những ví dụ là dế. Dế gắn liền với tuổi thơ của nhiều người và cũng là món ăn giàu chất dinh dưỡng với những cách chế biến đa dạng.</i></b></p>
        <br>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/imagetsdt/tsdt/2022/20221012/images/banh%20khot.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Bánh khọt từ dế mật mía. Ảnh: KIỀU MAI</i></p>
            </div>
        </div>
        <br>
        <p>Món ăn chế biến từ dế gần như đã phổ biến trong cuộc sống hiện nay, nhất là khi có các nghiên cứu chỉ ra rằng thức ăn từ côn trùng cũng có nhiều giá trị dinh dưỡng. Theo đó, trong &nbsp;thành phần protein của dế có chứa một loại acidamin không thay thế như cysteine và methionine… Còn hàm lượng chitin của dế trưởng thành chiếm 8,7%, có chất lượng tốt hơn so với tôm và cua. Vì thế món ăn từ dế rất được ưa chuộng tại một số nước như Thái Lan, Campuchia…</p>
        <p>Tại Cần Thơ, ẩm thực từ dế cũng đang được người dân làm du lịch ở cồn Sơn đưa vào thực đơn để phục vụ du khách. Theo đó, dế được sử dụng làm món ăn ở đây khá đặc biệt, đó là dế nuôi từ mật mía. Dế được nuôi theo mô hình hữu cơ, sử dụng thức ăn từ các loại lá rau, như: lá khoai lang, lá mì, lá đu đủ, rau muống, đặc biệt là lá mía. Tất cả các rau, cỏ cho dế ăn đều phải rửa sạch, không có thuốc bảo vệ thực vật, đảm bảo vệ sinh. Dế trước khi mang ra chế biến thành món ăn sẽ được tách riêng ra vài ngày, khi đó sẽ chỉ được ăn mía (phần gốc) để tích trữ dinh dưỡng, mật ngọt. Sau đó, trước khi chế biến một ngày, dế sẽ được ngâm trong muối loãng và thành phần bí rợ để tẩy sạch ruột. Chị Lê Thị Mỹ Luông (còn gọi là Năm Minh) chủ nhà vườn Thành Ðạt, chia sẻ: “Sau khi trải qua nhiều khâu sơ chế, dế được làm sạch và trở thành nguyên liệu để các nhà vườn chế biến các món ăn quen thuộc như: gỏi dế, bánh xèo dế, bánh khọt dế… Sử dụng dế làm món ăn nên chúng tôi rất chú ý đến vấn đề vệ sinh và an toàn nên các khâu nuôi dưỡng, sơ chế rất kỹ lưỡng”.</p>
        <p>Dế nuôi từ mía có vị thơm, béo, giàu chất dinh dưỡng. Khi kết hợp dế làm món ăn với các loại bánh dân gian cũng mang đến cho du khách những trải nghiệm mới lạ và thử thách sự can đảm. Ðây là những món ăn gợi ký ức tuổi thơ cho nhiều người, cũng như giúp du khách có những trải nghiệm thú vị về hành trình tìm hiểu văn hóa Tây Nam Bộ.</p>

        <p style="text-align: right;"><b>MINH NHIÊN</b></p>
        <p style="text-align: center;"><a href="https://baocantho.com.vn/am-thuc-tu-de-mat-mia-a152164.html">https://baocantho.com.vn/am-thuc-tu-de-mat-mia-a152164.html</a></p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    {{>comment}}
</div>
{{>footer}}
<div class="card" style="width: 80%; margin: auto;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i></i></p>
            </div>
        </div>
        <br>