{{>header}}
<div style="background: linear-gradient(0deg, rgb(229, 255, 0) 0%, rgba(0, 145, 255, 0.942) 100%);" class="background-news"></div>
<div class="container">
    <h2 class="tin-tuc font-effect-anaglyph pt-3"><b>ĐÀN CÁ TRÊ BIẾT LÊN CẠN ĂN MỒI Ở MIỀN TÂY</b></h2>
    <hr>
    <div class="fb-like" data-href="http://localhost:5000/tin-tuc/dan-ca-tre-biet-len-can-an-moi-o-mien-tay" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:5000/tin-tuc/dan-ca-tre-biet-len-can-an-moi-o-mien-tay" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/login" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div style="text-align: justify; width: 80%; margin: auto;">
        <br>
        <p style="text-align: center;"><b>CẦN THƠ <i>- Ghé cồn Sơn, khách tham quan có cơ hội ngắm đàn cá trê leo lên tấm xốp trên mặt nước đớp mồi.</i></b></p>
        <div class="text-center">
            <iframe width="660" height="415" src="https://www.youtube.com/embed/bvXqePjPgfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <p class="pt-2">Anh Nguyễn Thành Tâm (43 tuổi) sở hữu khu vườn rộng hơn 6.000 m2 ở cồn Sơn, giữa sông Hậu, thuộc phường Bùi Hữu Nghĩa, quận Bình Thủy. Chủ vườn trồng nhãn và ổi, dưới các ao nuôi nhiều loại cá, chăm chút cảnh quan chủ yếu để thu hút du khách đến vui chơi.</p>
        <p>Từng thành công với các mô hình <a href="https://vnexpress.net/du-khach-keo-ra-con-giua-song-hau-xem-ca-loc-bay-3544232.html">cá lóc bay</a> và <a href="https://vnexpress.net/thu-cau-ca-sau-tren-cu-lao-mien-tay-4013109.html">cá chép bú bình</a>, mới đây anh Tâm huấn luyện thành công hai đàn cá trê gần 5.000 con biết leo lên cạn ăn mồi. Trước sự chứng kiến của hàng chục khách, chủ vườn xúc một rổ thức ăn đến gần ao nuôi cá trê. Thấy bóng chủ, đàn cá dưới nước bắt đầu lao nhao. Những hạt thức ăn rơi lộp bộp trên tấm xốp 50x80 cm đánh động bầy cá chen chúc leo lên ăn mồi hết đợt này đến đợt khác.</p>
        <p>"Cá trê là loài tìm thức ăn ở tầng đáy, để dẫn dụ chúng lên bờ, phải mất ba tháng huấn luyện", anh Tâm nói. Anh cho biết mình có thể huấn luyện đàn cá trê do tập tính háu ăn của loài này, từ đó tạo nên trải nghiệm thú vị cho khách tham quan.</p>
        <br>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://i1-vnexpress.vnecdn.net/2022/06/01/CA-AN-CAN-1-2282-1654082947.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=niujyUwprZizA44HF5rF4w" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Đàn cá trê ăn trên cạn của anh Nguyễn Thanh Tâm ở Cồn Sơn. Ảnh: <b><i>Nguyên Anh</i></b></p>
            </div>
        </div>
        <br>
        <p>Để huấn luyện, ban đầu anh nhử cho đàn cá ngoi lên khỏi mặt nước đớp thức ăn, sau đó rắc mồi trên những tấm xốp nổi dụ chúng. Ra mắt mô hình này thành công đầu năm nay, chủ vườn hỏi ý kiến của nhiều khách tham quan và quyết định huấn luyện thêm hơn 4.000 con cá trê khác.</p>
        <p>Chỉ vào ao cá hàng nghìn con đang bơi dưới nước, anh Tâm cho biết đàn cá được chọn từ 10.000 con giống lúc nhập về. Anh chỉ lựa những con to, mạnh nhất để huấn luyện vì chúng có khả năng leo lên cạn ăn mồi.</p>
        <p>Hiện, anh Tâm có hai ao nuôi cá trê đều có thể tự leo lên bờ khi cho ăn. Trong đó, đàn lớn hơn 700 con 10 tháng tuổi, mỗi con nặng 1-1,5 kg; đàn nhỏ khoảng 4.000 con, nặng 0,3 kg mỗi con. Mỗi ngày, hai đàn cá ăn gần 30 kg thức ăn trên cạn để phục vụ khách tham quan.</p>
        <p>Ông Nguyễn Văn Chương, từ Hà Nội, nhiều lần đến Cần Thơ nhưng phải đến chuyến du lịch năm nay ông mới trải nghiệm cho cá trê ăn trên cạn. "Quả là kỳ công, không phải ai cũng làm được", nam du khách 66 tuổi nói.</p>
        <br>
        <div class="card" style="width: 800px; margin: auto;">
            <img src="https://i1-vnexpress.vnecdn.net/2022/06/05/khach-xem-dan-ca-2524-16540829-6162-5778-1654374629.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=KT5YyzSOTACJLyGN6y1PYw" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Du khách xem đàn cá ăn trên cạn của anh Tâm. Ảnh: <b><i>Nguyên Anh</i></b></p>
            </div>
        </div>
        <br>
        <p>Cồn Sơn rộng hơn 74 ha, nằm giữa sông Hậu với gần 90 hộ dân sinh sống. Trong đó, hơn một nửa hộ nằm trong chuỗi liên kết du lịch cộng đồng, thu nhập 40-45 triệu đồng mỗi tháng.</p>
        <p>Hiện hoạt động du lịch ở Cần Thơ phục hồi mạnh mẽ. Mỗi ngày chuỗi liên kết du lịch cộng đồng cồn Sơn tiếp đón 600-800 khách do các hãng lữ hành đưa đến. Nơi đây có trải nghiệm đặc trưng như: tát ao bắt cá, bơi xuồng, cho cá ăn trên cạn, xem cá lóc bay, tham quan bè cá giữa sông Hậu, làm bánh dân gian, thưởng thức ẩm thực miệt vườn...</p>
        <p style="text-align: right;"><b>Nguyên Anh</b></p>
        <p style="text-align: center;">Nguồn: <a href="https://vnexpress.net/dan-ca-tre-biet-len-can-an-moi-o-mien-tay-4470855.html">https://vnexpress.net/dan-ca-tre-biet-len-can-an-moi-o-mien-tay-4470855.html</a></p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    {{>comment}}
</div>
{{>footer}}