{{>header}}
<div style="background-image: url('https://baocantho.com.vn/image/news/2022/20221028/thumbnail/510x286/1666928897.jpg');" class="background-news"></div>
<div class="container">
    <h2 class="tin-tuc font-effect-anaglyph"><b>Khi doanh nghiệp sáng tạo sản phẩm du lịch</b></h2>
    <hr>
    <div class="fb-like" data-href="http://localhost:5000/tin-tuc/khi-doanh-nghiep-sang-tao-san-pham-du-lich" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:5000/tin-tuc/khi-doanh-nghiep-sang-tao-san-pham-du-lich" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div style="text-align: justify; width: 80%; margin: auto;">
        <p class="mt-3"><b><i>Sản phẩm du lịch là một trong những điểm nhấn quan trọng để thu hút du khách. Tại Cần Thơ, việc xây dựng các sản phẩm du lịch đang được các cơ sở làm du lịch chú trọng, nhằm tạo ra những sản phẩm mang bản sắc riêng, đóng góp vào sự phát triển chung của du lịch thành phố. Trong đó, những sản phẩm từ những ngày hội ẩm thực đang trở thành xu hướng được các doanh nghiệp lựa chọn để đầu tư.</i></b></p>
        <br>
        <p>Từ ngày 22 đến ngày 27-10 tại Làng du lịch sinh thái Ông Ðề (huyện Phong Ðiền, TP Cần Thơ) diễn ra lễ hội văn hóa ẩm thực với chủ đề “1.000 món ngon xưa và nay”. Ðây là sự kiện phi lợi nhuận nhằm tôn vinh sự đa dạng, đặc sắc của văn hóa ẩm thực nói chung và ẩm thực miền Tây nói riêng. Tại đây có khoảng 100 gian hàng giới thiệu ẩm thực đặc sản cả nước và quốc tế với hơn 1.000 món ăn. Trong đó nổi bật có nhiều loại bánh xưa như: bánh ú nước tro lá tre, bánh ít trần, bánh lá mơ, bánh đúc, bánh canh vịt xiêm… Và cả những món ngon thời nay, như: gỏi đu đủ đăm, bánh phồng khoai lang, chả mực tôm tích đặc sản Quảng Ninh, bún mắm nêm Ðà Nẵng, mì quảng... Du khách Trần Thị Quỳnh Như (Hậu Giang), nói: “<i>Tôi rất thích bánh dân gian nên đã vào đây để tìm hiểu và thử các loại bánh. Tôi có thể gặp được các chủ cơ sở, nghệ nhân làm bánh và cũng học hỏi được nhiều điều từ họ</i>”.</p>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221028/images/IMG_5472.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Du khách tại lễ hội văn hóa ẩm thực ở Làng du lịch sinh thái Ông Đề.</i></p>
            </div>
        </div>
        <br>
        <p>Tại đây có nhiều gian hàng có cả nghệ nhân biểu diễn gói bánh để du khách xem và trải nghiệm. Ðiển hình như cô Tư Mum giới thiệu đến du khách món bánh tét Trà Cuôn Cô Ba Giang nổi tiếng Trà Vinh. Cô Tư Mum nói: “Thương hiệu bánh của gia đình tôi đã hình thành mấy chục năm rồi, miễn ở đâu có lễ hội bánh là tôi tham gia để giới thiệu về bánh đặc sản quê nhà”.</p>
        <p>Ông Lê Hải Phúc, Giám đốc Làng du lịch sinh thái Ông Ðề, cho biết: “Việc tổ chức lễ hội là nhằm kêu gọi mọi người chung tay gìn giữ, bảo tồn các món ăn truyền thống, đồng thời phát huy sự sáng tạo, mới lạ trong khâu chế biến, cũng như nguyên liệu của những món ăn hiện đại. Từ đó, kích cầu phát triển du lịch địa phương”.</p>
        <p>Xây dựng sản phẩm du lịch từ các ngày hội, sự kiện ẩm thực đang là xu hướng được các doanh nghiệp du lịch tại Cần Thơ chú trọng. Trước đó, một sự kiện quen thuộc về ẩm thực đã diễn ra thường niên tại Làng du lịch Mỹ Khánh, đó là Ngày hội Bánh - Trái Mỹ Khánh. Ðây cũng là sự kiện có quy mô lớn khi quy tụ nhiều tỉnh, thành về tham dự kể từ năm 2020 đến nay. Ngày hội này chú trọng đến văn hóa ẩm thực truyền thống từ các dân tộc Kinh, Hoa, Chăm, Khmer, cũng như tạo sự kết nối về thị trường nông sản địa phương với các loại trái cây chủ lực của Phong Ðiền. Ông Nguyễn Hữu Hoàng, Phó Tổng giám đốc Làng du lịch Mỹ Khánh, cho biết: “Chúng tôi mong muốn ngày hội là cầu nối để góp phần gìn giữ, giới thiệu và quảng bá những nét đặc trưng, đặc sản của địa phương đến với du khách. Về lâu dài, chúng tôi cũng đặt kỳ vọng ngày hội sẽ là sự kiện thường niên, từng bước tạo được điểm nhấn cho du lịch của huyện Phong Ðiền nói riêng và TP Cần Thơ nói chung. Từ đó lan tỏa tinh thần gìn giữ những tinh hoa văn hóa truyền thống từ ẩm thực, đặc sản của miền Tây Nam Bộ”.</p>
        <p>Bước đầu của các sự kiện này đều thu hút lượng lớn du khách đến tham gia và thưởng thức, cũng như tạo được sân chơi cho các nghệ nhân, những người kinh doanh ẩm thực, nông sản. Về lâu dài các sự kiện này có thể tạo thành những sản phẩm độc đáo của mỗi cơ sở du lịch góp phần tạo sự đa dạng cho sản phẩm du lịch Cần Thơ.</p>

        <p style="text-align: right;"><b>Bài, ảnh: ÁI LAM</b></p>
        <p style="text-align: center;"><a href="https://baocantho.com.vn/khi-doanh-nghiep-sang-tao-san-pham-du-lich-a152647.html">https://baocantho.com.vn/khi-doanh-nghiep-sang-tao-san-pham-du-lich-a152647.html</a></p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    {{>comment}}
</div>
{{>footer}}