{{>header}}
<div style="background-image: url('https://baocantho.com.vn/image/news/2022/20221018/thumbnail/510x286/1666058210.jpg');" class="background-news"></div>
<div class="container">
    <h2 class="tin-tuc font-effect-anaglyph"><b>Nón lá thư pháp khổng lồ ở Bến Ninh Kiều</b></h2>
    <hr>
    <div class="fb-like" data-href="http://localhost:5000/tin-tuc/non-la-thu-phap-khong-lo-o-ben-ninh-kieu" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:5000/tin-tuc/non-la-thu-phap-khong-lo-o-ben-ninh-kieu" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div style="text-align: justify; width: 80%; margin: auto;">
        <p class="mt-3"><b><i>(CTO) - Mấy ngày gần đây, sự xuất hiện của chiếc nón lá khổng lồ được tạo nên từ hàng trăm chiếc nón lá được viết thư pháp khiến người dân và du khách thích thú.</i></b></p>
        <br>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221018/images/non%20thu%20phap%201.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i></i></p>
            </div>
        </div>
        <br>
        <p>Người lên ý tưởng và thực hiện công trình độc đáo này là chị Đào Thị Cẩm Sương, một nghệ nhân thư pháp ở Cần Thơ. Chị Sương chia sẻ: Với tình yêu mảnh đất Cần Thơ, ai cũng muốn đóng góp gì đó cho quê hương. Chị Sương có sở trường về thư pháp nên thực hiện chiếc nón lá khổng lồ này, với kinh phí do Công ty Mekong Expo tài trợ. Trong ảnh: Chị Sương chỉ tay về hướng nón lá khổng lồ để giới thiệu với khách tham quan.</p>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221018/images/non%20thu%20phap%202.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i></i></p>
            </div>
        </div>
        <br>
        <p>Chị Sương đã bỏ ra 89 ngày để viết thư pháp, kết nối, làm nên tác phẩm độc đáo này.</p>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221018/images/non%20thu%20phap%203.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Chị khéo léo trong từng nét viết thư pháp trên nón lá.</i></p>
            </div>
        </div>
        <br>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221018/images/non%20thu%20phap%204.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Chiếc nón lá khổng lồ được tạo thành từ 540 chiếc nón lá viết thư pháp.</i></p>
            </div>
        </div>
        <br>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221018/images/non%20thu%20phap%205.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i></i></p>
            </div>
        </div>
        <br>
        <p>Bên cạnh địa danh Cần Thơ và những câu ca dao, tục ngữ, thơ ca viết về Cần Thơ, chị Cẩm Sương chọn thể hiện tên các tỉnh, thành phố của Việt Nam lên nón lá.</p>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221018/images/non%20thu%20phap%206.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i></i></p>
            </div>
        </div>
        <br>
        <p>Đường kính chiếc nón lá khổng lồ hơn 8m, chiều dài từ chóp nón đến vành nón là khoảng 4m. Chiều dài từ chóp nón đến mặt đất khoảng 6m.</p>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221018/images/non%20thu%20phap%207.jpgg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Tổng cộng có 14 hàng nón, được sắp đặt rất nghệ thuật.</i></p>
            </div>
        </div>
        <br>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221018/images/non%20thu%20phap%208.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i></i></p>
            </div>
        </div>
        <br>
        <p>Du khách rất thích thú với công trình ấn tượng này. Được biết, công trình này sẽ được Tổ chức Kỷ lục Việt Nam xác lập kỷ lục với nội dung “Mô hình nón lá thư pháp lớn nhất Việt Nam”.</p>
        <p style="text-align: right;"><b>DUY KHÔI</b></p>
        <p style="text-align: center;"><a href="https://baocantho.com.vn/non-la-thu-phap-khong-lo-o-ben-ninh-kieu-a152314.html">https://baocantho.com.vn/non-la-thu-phap-khong-lo-o-ben-ninh-kieu-a152314.html</a></p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    {{>comment}}
</div>
{{>footer}}
