{{>header}}
<div style="background: linear-gradient(90deg, rgba(9,189,169,1) 0%, rgba(247,175,19,1) 100%);" class="background-news"></div>
<div class="container">
    <h3 style="font-size: 30px;" class="tin-tuc font-effect-anaglyph pt-2"><b>THÚC ĐẨY PHỤC HỒI DU LỊCH GẮN VỚI SỰ PHÁT TRIỂN BỀN VỮNG</b></h3>
    <hr>
    <div style="text-align: justify; width: 70%; margin: auto;">
        <h5><b>DU LỊCH</b></h5>
        <p><b>Diễn đàn Du lịch Mekong 2022</b></p>
        <div class="card" style="width: 100%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221012/images/Mekong-1(1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Quang cảnh khai mạc diễn đàn. Ảnh: Bộ Văn hóa, Thể thao và Du lịch.</i></p>
            </div>
        </div>
        <br>
        <p><b>(CT) </b> - Ngày 12-10, Diễn đàn Du lịch Mekong 2022 với chủ đề “Tái thiết ngành du lịch, kiên cường phục hồi du lịch” chính thức khai mạc tại Quảng Nam. Diễn đàn do Bộ Văn hóa, Thể thao và Du lịch Việt Nam phối hợp với Văn phòng Ðiều phối Du lịch Mekong (MTCO) tổ chức. Ðây là sự kiện gặp mặt trực tiếp đầu tiên của 6 điểm đến thuộc Tiểu vùng Mekong mở rộng (GMS) kể từ năm 2019 khi COVID-19 làm gián đoạn ngành Du lịch.</p>
        <p>Diễn giả tại diễn đàn có đại diện Tổng cục Du lịch Việt Nam (VNAT), đại diện các cơ quan du lịch quốc gia các nước GMS, Ngân hàng Phát triển châu Á (ADB), Destination Mekong, Agoda, Hiệp hội Lữ hành châu Á Thái Bình Dương, OAG, YAANA Ventures, EXO Travel, Travelife và Hiệp hội Du lịch ASEAN.</p>
        <p>Diễn đàn Du lịch Mekong 2022 có 3 phiên thảo luận chính. Phiên thứ nhất “Doanh nghiệp công: Một công cụ hiệu quả và có mục đích để phục hồi, phát triển và xúc tiến du lịch bền vững” tìm hiểu cách các doanh nghiệp xây dựng mô hình kinh doanh tạo sự tăng trưởng gắn với môi trường bền vững và xây dựng thương hiệu tích cực cho các điểm đến. Phiên thứ hai “Các phương pháp mới để kết nối người mua và nhà cung cấp du lịch bền vững” định hướng các chiến lược mới tạo kết nối giữa nhà cung cấp và người mua với thị trường, tài chính và thiên nhiên trên cơ sở linh hoạt và bền vững. Phiên cuối cùng là “Công nghệ: Mở ra cơ hội du lịch xanh”, thông tin các phương pháp tối ưu về việc tận dụng các công cụ kỹ thuật số để tối đa hóa tác động tích cực của du lịch đối với môi trường và cộng đồng địa phương.</p>
        <p>Từ các phiên thảo luận này, các cơ chế, chính sách đầu tư cần thiết để khôi phục hoạt động du lịch và lữ hành được chú trọng, đặc biệt là các giải pháp dựa trên tự nhiên và áp dụng công nghệ.</p>
        <p>Diễn đàn diễn ra đến ngày 14-10.</p>
        <p style="text-align: right;"><i><b>ÁI LAM</b></i></p>
        <p style="text-align: center;">Nguồn: <a href="https://baocantho.com.vn/thuc-day-phuc-hoi-du-lich-gan-voi-su-phat-trien-ben-vung-a152098.html">https://baocantho.com.vn/thuc-day-phuc-hoi-du-lich-gan-voi-su-phat-trien-ben-vung-a152098.html</a></p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    <div class="fb-like mt-3" data-href="http://localhost:5000/tin-tuc/thuc-day-phuc-hoi-du-lich-gan-voi-su-phat-trien-ben-vung" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:5000/tin-tuc/thuc-day-phuc-hoi-du-lich-gan-voi-su-phat-trien-ben-vung" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    
    {{>comment}}
</div>
{{>footer}}