{{>header}}
<div style="background-image: url('https://baocantho.com.vn/image/fckeditor/upload/2022/20221028/images/IMG_5469.jpg');" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph"><b>Về cù lao xanh Tân Lộc</b></h1>
    <hr>
    <div class="fb-like" data-href="http://localhost:5000/tin-tuc/ve-cu-lao-xanh-tan-loc" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:5000/tin-tuc/ve-cu-lao-xanh-tan-loc" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div style="text-align: justify; width: 80%; margin: auto;">
        <p class="mt-3"><b><i>Cách trung tâm TP Cần Thơ khoảng 40km, cù lao Tân Lộc (phường Tân Lộc, quận Thốt Nốt) là điểm đến sinh thái xanh tươi. Dải đất nổi lên giữa sông Hậu được sự bồi lắng phù sa từ thượng nguồn sông Mekong quanh năm cây trái xum xuê. Trải bao năm, cù lao Tân Lộc vẫn giữ nét yên bình, mộc mạc khiến du khách đến một lần sẽ khó quên.</i></b></p>
        <br>
        <p>Theo những người cố cựu ở địa phương, cù lao Tân Lộc đã có khoảng 400 năm bồi lắng hình thành. Bằng chứng là nơi đây còn lưu giữ cây bằng lăng có tuổi đời hơn 320 năm. Cù lao Tân Lộc hiện có diện tích hơn 3.200ha, người dân nơi đây sống chủ yếu bằng nghề nuôi, đánh bắt thủy sản và làm vườn. Ðất phù sa màu mỡ tạo điều kiện phát triển nhiều vườn cây ăn trái. Từ những mảnh vườn này, nhiều người dân kết hợp làm du lịch, mang đến cho cù lao hương sắc mới.</p>
        <div class="card" style="width: 80%; margin: auto;">
            <img src="https://baocantho.com.vn/image/fckeditor/upload/2022/20221028/images/IMG_5469.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i>Du khách tham quan vườn dừa Tân Lộc.</i></p>
            </div>
        </div>
        <br>
        <p>Tại cù lao Tân Lộc có khoảng 10 vườn sinh thái, trái cây mở cửa làm du lịch, như vườn ổi cô Ðiệp, vườn chôm chôm Út Trác, vườn sinh thái Tân Lộc, vườn mận Sáu Tia, vườn nho thân gỗ của thầy Thống… Trái cây cù lao có sức hấp dẫn riêng với những tên gọi rất độc đáo: mận trùm màn, ổi mặc áo… bởi nơi đây trái cây đều được trồng theo mô hình nông nghiệp sạch. Những loại cây ăn trái như mận, xoài, ổi đều được bao bọc trong màn và bọc vỏ rất lưỡng để hạn chế sâu bọ. Chất lượng trái cây nhờ vậy được nâng cao và an toàn hơn.</p>
        <p>Nổi bật trong mô hình nông nghiệp sạch là vườn ổi cô Lê Hồng Ðiệp, còn gọi là cô Chín Ðiệp. Vườn ổi có diện tích 4.000m2 với 600 gốc ổi lê cho trái tự nhiên quanh năm. Ổi của vườn cô Ðiệp có thể coi là đặc sản xứ cù lao vì ai đến cũng mua về và hầu như không đủ bán. Theo chia sẻ của cô Chín Ðiệp, bí quyết để ổi ngon, chất lượng là từ lúc trái ổi còn bé đã được chà bóng từng trái bằng bàn chải đánh răng, sau đó cho vào túi lưới cẩn thận từng trái một. Ổi lớn tự nhiên, không xài phân thuốc hóa học nhưng mỗi trái đều tròn bóng, giòn ngọt. Ðặc sản ổi còn được sử dụng để làm nên nhiều món ngon đặc trưng như gỏi ổi, rượu ổi, ổi chiên giòn… nổi tiếng xứ cù lao.</p>
        <p>Tùy theo mùa, du khách có thể ghé các vườn mận, chôm chôm, xoài tại cù lao Tân Lộc để tham quan và thưởng thức trái cây. Một trải nghiệm mà nhiều người vẫn ghé tai nhau khi đến cù lao Tân Lộc là dạo chơi vườn dừa. Vườn dừa Tân Lộc có diện tích hơn 1.000m2, trồng đủ các loại dừa xiêm, dừa lửa, dừa dứa… Những hàng dừa thẳng tắp, nghiêng mình bên những con kênh nhỏ được đào xen với những bờ dừa. Tại đây, du khách thường trải nghiệm bơi xuồng dạo chơi trong rừng dừa xanh mát ngắm cảnh, chụp ảnh, hoặc mắc võng nằm nghỉ ngơi giữa những tán dừa tận hưởng không gian trong lành, thưởng thức những trái dừa ngọt lịm. Chị Ðào Thị Diễm Kiều, chủ vườn dừa Tân Lộc, cho biết: “Vườn dừa đi vào hoạt động từ năm 2017 đến nay cũng thu hút được lượng khách thường xuyên. Chúng tôi cũng có liên kết với một số công ty lữ hành từ TP Hồ Chí Minh để đưa khách về vườn. Sắp tới thì chỗ chúng tôi cũng có định hướng mở rộng thêm một số dịch vụ để đáp ứng nhu cầu đa dạng của du khách”.</p>
        <p>Cù lao Tân Lộc không chỉ có những vườn cây trái mà nơi đây còn ghi dấu với những làng nghề nuôi cá, nhất là cá tra bè. Những năm gần đây, nhiều cơ sở nuôi cá cũng bắt đầu tham gia làm du lịch. Cơ sở sản xuất mắm và khô cá tra Út Anh là một điểm đến mới trong hành trình khám phá cù lao thường được nhắc đến gần đây. Nơi đây được biết đến là cơ sở nuôi cá tra gần 20 năm với tay nghề làm các loại mắm đặc sắc, như: mắm cá tra, mắm cá linh… Ông Chương Văn Khanh (Út Anh), chủ cơ sở sản xuất mắm và khô cá tra Út Anh, nói: “Lâu nay tôi gắn bó với việc nuôi cá cũng muốn làm điều gì đó đặc biệt cho sản phẩm ở quê mình. Nghĩ đến nghề làm khô, mắm lâu năm của ông bà nên vợ chồng tôi bắt tay nghiên cứu làm các ra các loại khô mắm từ cá tra và nó trở thành đặc sản của xứ cù lao”. Với diện tích 50.000m2 mặt nước, ông Chương Văn Khanh thả nuôi hàng trăm ngàn con cá tra sạch, trở thành nguồn nguyên liệu chính để làm khô, mắm cá tra. Khô, mắm cá tra tại đây đã được công nhận là sản phẩm OCOP của thành phố và trở thành quà tặng của nhiều khách hàng gần xa mua về khi ghé qua Cần Thơ. Tham quan tại Cơ sở sản xuất mắm và khô cá tra Út Anh, du khách sẽ thấy được quá trình làm các loại khô, mắm, được chính gia chủ chia sẻ những bí quyết để làm nên những sản phẩm đặc trưng từ con cá tra.</p>
        <p>Tại cù lao Tân Lộc còn có hệ thống 12 nhà cổ độc đáo, trong đó nổi bật là nhà cổ Trần Bá Thế. Ngôi nhà do cụ Trần Thiên Thoại, thân phụ ông Trần Bá Thế, xây dựng và hoàn thành năm 1935. Qua bao thế hệ, ngôi nhà vẫn còn nguyên kiến trúc, từ hình dáng, màu sơn đến nội thất. Ngôi nhà có kiến trúc Ðông Tây kết hợp, ba gian hai chái, hình vuông. Ðây cũng là một địa chỉ đáng lưu ý trong hành trình khám phá cù lao Tân Lộc nếu du khách muốn tìm hiều về văn hóa, con người nơi đây.</p>
        <p>Giữa đô nhịp sống đô thị vội vã, cù lao Tân Lộc vẫn giữ nét bình dị, yên bình của miệt vườn. Về cù lao với những vườn cây xanh mướt, tiếp xúc với những người dân chân chất, thân thiện sẽ mang đến cho du khách cảm giá như về quê nhà, đến một lần khó quên.</p>
        <p style="text-align: right;"><b>Bài, ảnh: ÁI LAM</b></p>
        <p style="text-align: center;"><a href="https://baocantho.com.vn/ve-cu-lao-xanh-tan-loc-a152646.html">https://baocantho.com.vn/ve-cu-lao-xanh-tan-loc-a152646.html</a></p>
    </div>
    <a href="/tin-tuc"><img src="https://img.icons8.com/avantgarde/344/back.png" width="50px" alt=""></a><br>
    {{>comment}}
</div>
{{>footer}}
<div class="card" style="width: 80%; margin: auto;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><i></i></p>
            </div>
        </div>
        <br>